
@model bd.webappth.entidades.Utils.MenuFichaCalculoNomina
@using Microsoft.AspNetCore.Http;
@using Microsoft.AspNetCore.Mvc;
@using Microsoft.AspNetCore.Mvc.Rendering;
@using bd.webappth.entidades.Constantes;
   
   @{
       var a = @Context.Session.GetInt32(Constantes.IdCalculoNominaSession);
    }
<div class="btn-group btn-group-justified">
    @if (Model.OpcionMenu == 0)
    {
    <a asp-action="Detalle" asp-controller="CalculoNomina" asp-route-id="@a" onclick="cargando()" style="background-color:#3276b1;color:white;" class="btn btn-default"> Descipci&oacute;n <br /> de la <br /> n&oacute;mina</a>
    }
    else
    {
    <a asp-action="Detalle" asp-controller="CalculoNomina" asp-route-id="@a" onclick="cargando()" class="btn btn-default"> Descipci&oacute;n <br /> de la <br /> n&oacute;mina</a>
    }


    @if (Model.OpcionMenu == 1)
    {
        <a href="@Url.Action("ReportadoNomina", "CalculoNomina")" onclick="cargando()" style="background-color:#3276b1;color:white;" class="btn btn-default">Reportados </a>

    }
    else
    {
        <a href="@Url.Action("ReportadoNomina", "CalculoNomina")" onclick="cargando()" class="btn btn-default">Reportados </a>


    }

    @if (Model.OpcionMenu == 2)
    {
        <a href="@Url.Action("HorasExtras", "CalculoNomina")" onclick="cargando()" style="background-color:#3276b1;color:white;" class="btn btn-default">Horas extras</a>


    }
    else
    {
        <a href="@Url.Action("HorasExtras", "CalculoNomina")" onclick="cargando()" class="btn btn-default">Horas extras</a>

    }

    @if (Model.OpcionMenu == 3)
    {
        <a href="@Url.Action("DiasLaborados", "CalculoNomina")" onclick="cargando()" style="background-color:#3276b1;color:white;" class="btn btn-default">D&iacute;as laborados</a>

    }
    else
    {
        <a href="@Url.Action("DiasLaborados", "CalculoNomina")" onclick="cargando()" class="btn btn-default">D&iacute;as laborados</a>
    }

   





</div>
