@model List<bd.webappth.entidades.Negocio.HorasExtrasNomina>
@using Microsoft.AspNetCore.Http;
@using Microsoft.AspNetCore.Mvc;
@using Microsoft.AspNetCore.Mvc.Rendering;
@using bd.webappth.entidades.Constantes;

@{
    var nomina = @Context.Session.GetInt32(Constantes.IdCalculoNominaSession);
}
@{
    ViewData["Title"] = "Index";
}

@using bd.webappth.entidades.Utils
@{ var modelo = new MenuFichaCalculoNomina { OpcionMenu = 2 }; }

@{await Html.RenderPartialAsync("_PartialViewMenu", modelo);}

@{ var subMenu = new MenuFichaCalculoNomina { OpcionMenu = 1 }; }
@{await Html.RenderPartialAsync("_PartialViewSubMenuHorasExtras", subMenu);}

<div id="content">


    @{await Html.RenderPartialAsync("_PartialViewInformacion");}
    <div class="row col col-12">
        <div class="col-xs-6 col-sm-3 col-md-3 col-3">
            @{await Html.RenderPartialAsync("_PartialViewIndex");}
        </div>
        <div class="col-xs-6 col-sm-1 col-md-1 col-1">
            <a asp-action="LimpiarHorasExtras" asp-route-id="@nomina" onclick="cargando()">
                <button type="button" asp-action="LimpiarHorasExtras" onclick="cargando()" class="btn btn-labeled btn-default">
                    <span class="btn-label">
                        <i class="fa fa-trash-o"></i>
                    </span>Borrar todo
                </button>
            </a>
        </div>
        <div class="col-xs-6 col-sm-3 col-md-3 col-3">
           
        </div>
        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-5">
            <ul id="sparks" class="">
                <li class="sparks-info">
                    <h5> Total de horas extraordinarias<span class="txt-color-green"><i class="fa fa-check"></i>&nbsp; @Model.Where(x => x.EsExtraordinaria == true).Sum(x => x.CantidadHoras)</span></h5>
                </li>
                <li class="sparks-info">
                    <h5> Total de horas suplementarias<span class="txt-color-yellow"><i class="fa fa-clock-o"></i>&nbsp;@Model.Where(x => x.EsExtraordinaria == false).Sum(x => x.CantidadHoras)</span></h5>
                </li>

                <li class="sparks-info">
                    <h5> </h5>
                </li>
            </ul>
        </div>
    </div>
    <br />
    <p></p>

    


    <p> </p>


    <div class="jarviswidget jarviswidget-sortable" id="wid-id-11" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-togglebutton="false" data-widget-deletebutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false" role="widget">

        <header role="heading" class="ui-sortable-handle">
            <ul id="widget-tab-1" class="nav nav-tabs pull-right">

                <li class="active">

                    <a data-toggle="tab" href="#hr1" aria-expanded="true"> <i class="fa fa-lg fa-thumbs-o-up"></i><span class="hidden-mobile hidden-tablet"> Horas extras </span> <span class="badge bg-color-blue txt-color-white">@Model.Count()</span></a>

                </li>
            </ul>
            <span class="jarviswidget-loader"><i class="fa fa-refresh fa-spin"></i></span>
        </header>
        <!-- widget div-->
        <div role="content">
            <div class="jarviswidget-editbox">
            </div>
            <div class="widget-body no-padding">
                <div class="tab-content padding-10">
                    <div class="tab-pane fade active in" id="hr1">
                        <section id="" class="">
                            <div class="row">
                                <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <div class="jarviswidget jarviswidget-color-darken" id="wid-id-1" data-widget-editbutton="false">
                                        <header id="table">
                                            <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                                            <h2>Datos reportados</h2>
                                        </header>
                                        <div>
                                            <div class="jarviswidget-editbox">
                                            </div>
                                            <div class="widget-body no-padding">
                                                <table id="dt_basic" class="table table-striped table-bordered table-hover" width="100%">
                                                    <thead>
                                                        <tr>
                                                            <th data-class="expand">
                                                                Identificaci&oacute;n
                                                            </th>
                                                            <th data-class="expand">
                                                                Nombre y apellido
                                                            </th>
                                                            <th data-class="expand">
                                                                Cantidad de horas
                                                            </th>
                                                            <th data-class="expand">
                                                                &iquest; Horas extraordinarias ?
                                                            </th>
                                                            <th data-class="expand">
                                                                &iquest; Tipo ?
                                                            </th>
                                                            <th data-class="expand">
                                                                Opciones
                                                            </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @foreach (var item in Model)
                                                        {
                                                        <tr>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.IdentificacionEmpleado)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.Nombres) @Html.DisplayFor(modelItem => item.Apellidos)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.CantidadHoras)
                                                            </td>
                                                            <td>

                                                                <span class="onoffswitch">
                                                                    <input type="checkbox" disabled="disabled" checked="@item.EsExtraordinaria" name="start_interval" class="onoffswitch-checkbox" id="st11(@item.IdHorasExtrasNomina)">
                                                                    <label class="onoffswitch-label" for="st11(@item.IdHorasExtrasNomina)">
                                                                        <span class="onoffswitch-inner" data-swchon-text="SI" data-swchoff-text="NO"></span>
                                                                        <span class="onoffswitch-switch">
                                                                        </span>
                                                                    </label>
                                                                </span>

                                                            </td>
                                                            <td>
                                                                @if (item.EsExtraordinaria)
                                                                {
                                                                <span class="onoffswitch">
                                                                    <input type="checkbox" disabled="disabled" checked="@item.EsCienPorciento" name="start_interval" class="onoffswitch-checkbox" id="st11(@item.EsCienPorciento)">
                                                                    <label class="onoffswitch-label" for="st11(@item.EsCienPorciento)">
                                                                        <span class="onoffswitch-inner" data-swchon-text="100%" data-swchoff-text="60%"></span>
                                                                        <span class="onoffswitch-switch">
                                                                        </span>
                                                                    </label>
                                                                </span> /**/
                                                                }
                                                               


                                                            </td>
                                                            <td>
                                                                @Html.ActionLink("Eliminar", "EliminarHoraExtra", new { id = item.IdHorasExtrasNomina }, new { onclick = "return confirm('Desea eliminar el registro... ?');" })
                                                            </td>
                                                        </tr>
                                                        }
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </article>
                            </div>
                        </section>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<link href="~/css/tabla/table.css" rel="stylesheet" />
@section Scripts {
    <script src='~/js/datatables/init.js'></script>
}

