@model List<bd.webappth.entidades.Negocio.CalculoNomina>

@{
    ViewData["Title"] = "Index";
}
<link href="~/css/tabla/table.css" rel="stylesheet" />
<div id="content">
    <p></p>
    <a asp-action="Create" onclick="cargando()">
        <button type="button" asp-action="Create" onclick="cargando()" class="btn btn-labeled btn-default">
            <span class="btn-label">
                <i class="glyphicon glyphicon-plus"></i>
            </span>Nuevo
        </button>
    </a>
    <p> </p>
    <section id="" class="">
        <div class="row">
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="jarviswidget jarviswidget-color-darken" id="wid-id-0" data-widget-editbutton="false">
                    <header id="table">
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>Calcular la n&oacute;mina</h2>
                    </header>
                    <div>
                        <div class="jarviswidget-editbox">
                        </div>
                        <div class="widget-body no-padding">
                            <table id="datatable_fixed_column" class="table table-striped table-bordered table-hover" width="100%">
                                <thead>
                                    <tr>
                                        <th data-class="expand">
                                            @Html.DisplayNameFor(model => model.FirstOrDefault().Descripcion)
                                        </th>
                                        <th data-class="expand">
                                            @Html.DisplayNameFor(model => model.FirstOrDefault().IdPeriodo)
                                        </th>
                                        <th data-class="expand">
                                            @Html.DisplayNameFor(model => model.FirstOrDefault().IdProceso)
                                        </th>
                                        <th data-class="expand">
                                            @Html.DisplayNameFor(model => model.FirstOrDefault().Automatico)
                                        </th>
                                        <th data-class="expand">
                                            @Html.DisplayNameFor(model => model.FirstOrDefault().Reportado)
                                        </th>
                                        <th data-class="expand">
                                            @Html.DisplayNameFor(model => model.FirstOrDefault().EmpleadoActivo)
                                        </th>
                                        <th data-class="expand">
                                            @Html.DisplayNameFor(model => model.FirstOrDefault().EmpleadoPasivo)
                                        </th>
                                        <th>
                                            Opciones
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Descripcion)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.PeriodoNomina.Descripcion)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.ProcesoNomina.Descripcion)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Automatico)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Reportado)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.EmpleadoActivo)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.EmpleadoPasivo)
                                            </td>
                                            <td>
                                                @Html.ActionLink(" Calcular nómina", "CalcularDetalleNomina", new { id = item.IdCalculoNomina }, new { onclick = "cargando();" })|
                                                <a href='@Url.Action("ReporteNomina", "Report", new { id = item.IdCalculoNomina})' target="_blank">
                                                    Ver reporte
                                                </a>
                                                @Html.ActionLink(" Descargar archivo", "Download", new { id = item.IdCalculoNomina })|
                                                @Html.ActionLink(" Ver reportados ", "MostrarExcelBase", new { id = item.IdCalculoNomina }, new { onclick = "cargando();" })|
                                                @Html.ActionLink(" Cargar reportados", "ReportadoNomina", new { id = item.IdCalculoNomina }, new { onclick = "cargando();" })|
                                                @Html.ActionLink(" Editar", "Detalle", new { id = item.IdCalculoNomina }, new { onclick = "cargando();" }) |
                                                @Html.ActionLink(" Eliminar", "Delete", new { id = item.IdCalculoNomina }, new { onclick = "return confirm('Desea eliminar eliminar el registro... ?');" })
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>
 @section Scripts {
   <script src='~/js/datatables/init.js'></script>
}

