@model bd.webappth.entidades.ViewModels.DeclaracionPatrimonioPersonalHistoricoViewModel

@{
    ViewData["Title"] = "Index";
}
<link href="~/css/tabla/table.css" rel="stylesheet" />
<link rel="stylesheet" href="~/lib/waitMe/waitMe.min.css" />
<link rel="stylesheet" href="~/lib/waitMe/waitMe.css" />
<!-- MAIN CONTENT -->
<div id="content">

    <div class="row">

        <article class="col-lg-12">

            <div class="jarviswidget" id="wid-id-1" data-widget-editbutton="false" data-widget-custombutton="false">

                <header>
                    <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                    <h2>Informaci&oacute;n</h2>
                </header>

                <div>

                    <div class="widget-body no-padding">

                        <section class="col col-lg-12">&nbsp;</section>

                        <section class="col col-lg-12">

                            <div class="col-lg-8">
                                <input type="text" value="NOMBRES:@("  ") @Model.NombrePersona @Model.ApellidoPersona" class="form-control" disabled />
                            </div>


                        </section>

                    </div>
                </div>
            </div>
        </article>
    </div>


    <p></p>

    <a asp-action="Index" onclick="cargando()">
        <button type="button" class="btn btn-labeled btn-default">
            <span class="btn-label">
                <i class="glyphicon glyphicon-arrow-left"></i>
            </span>Regresar

        </button>
    </a>

    <a asp-action="Add" asp-route-idEmpleado="@Model.IdEmpleado" onclick="cargando()">
        <button type="button" class="btn btn-labeled btn-default">
            <span class="btn-label">
                <i class="glyphicon glyphicon-plus"></i>
            </span>Nuevo

        </button>
    </a>

    <p> </p>

    <!-- widget grid -->
    <section id="" class="">
        <!-- row -->
        <div class="row">
            <!-- NEW WIDGET START -->
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget jarviswidget-color-darken" id="wid-id-0" data-widget-editbutton="false">
                    <!-- widget options:
                    usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

                    data-widget-colorbutton="false"
                    data-widget-editbutton="false"
                    data-widget-togglebutton="false"
                    data-widget-deletebutton="false"
                    data-widget-fullscreenbutton="false"
                    data-widget-custombutton="false"
                    data-widget-collapsed="true"
                    data-widget-sortable="false"

                    -->
                    <header id="table">
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>Empleados</h2>
                    </header>
                    <!-- widget div-->
                    <div>
                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->
                        </div>
                        <!-- end widget edit box -->
                        <!-- widget content -->
                        <div class="widget-body no-padding">
                            <table id="datatable_fixed_column" class="table table-striped table-bordered table-hover" width="100%">
                                <thead>
                                    <tr>
                                        <th data-hide="phone">
                                            Declaraciones
                                        </th>


                                        @*<th data-class="expand">
            @Html.DisplayNameFor(model => model.ListaDeclaracionPatrimonioPersonal.FirstOrDefault().TotalEfectivo)
        </th>

        <th data-class="expand">
            @Html.DisplayNameFor(model => model.ListaDeclaracionPatrimonioPersonal.FirstOrDefault().TotalPasivo)
        </th>

        <th data-hide="phone">
            @Html.DisplayNameFor(model => model.ListaDeclaracionPatrimonioPersonal.FirstOrDefault().TotalPatrimonio)
        </th>*@

                                        <th data-hide="phone">
                                            Comparativo
                                        </th>

                                        <th data-hide="phone">
                                            @Html.DisplayNameFor(model => model.ListaDeclaracionPatrimonioPersonal.FirstOrDefault().FechaDeclaracion)
                                        </th>

                                        <th data-class="expand">
                                            <i class="fa fa-cog "></i>
                                            Opciones
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.ListaDeclaracionPatrimonioPersonal)
                                    {
                                        <tr>

                                            <td>
                                                @(item.FechaDeclaracion.Year) - @(item.FechaDeclaracion.Year - 1)
                                            </td>

                                            @*<td>
                                                @Html.DisplayFor(modelItem => item.TotalEfectivo)
                                            </td>

                                            <td>
                                                @Html.DisplayFor(modelItem => item.TotalPasivo)
                                            </td>

                                            <td>
                                                @Html.DisplayFor(modelItem => item.TotalPatrimonio)
                                            </td>*@

                                            <td>
                                                $@Html.DisplayFor(modelItem => item.Comparativo)
                                            </td>

                                            <td>
                                                @Html.DisplayFor(modelItem => item.FechaDeclaracion)
                                            </td>

                                            <td>
                                                @Html.ActionLink("Editar", "Edit", "DeclaracionPatrimonioPersonal",
                                                    new { idDeclaracionPatrimonio = item.IdDeclaracionPatrimonioPersonal, idEmpleado = item.IdEmpleado },
                                                    new { onclick = "cargando()" }
                                                ) |

                                                @Html.ActionLink("Eliminar", "Delete", "DeclaracionPatrimonioPersonal",
                                                    new { id = item.IdDeclaracionPatrimonioPersonal, idEmpleado = item.IdEmpleado },
                                                    new { onclick = "return confirm('Desea eliminar el registro ?');" }
                                                )

                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                        <!-- end widget content -->
                    </div>
                    <!-- end widget div -->
                </div>

            </article>
            <!-- WIDGET END -->
        </div>
        <!-- end row -->
        <!-- end row -->
    </section>
    <!-- end widget grid -->
</div>
<!-- END MAIN CONTENT -->

@section Scripts {
    <script src='~/lib/waitMe/waitMe.min.js'></script>
    <script src='~/js/site.js'></script>
    <script type="text/javascript">
        function cargando() {
            mostrarLoadingPanel("content", "")
        }
    </script>

    <script src='~/js/datatables/init.js'></script>
}

