@model List<bd.webappth.entidades.ViewModels.SolicitudPermisoViewModel>
<link href="~/css/tabla/table.css" rel="stylesheet" />

@{
    ViewData["Title"] = "Index";
}

@{await Html.RenderPartialAsync("_PartialViewMenu");}

<!-- MAIN CONTENT -->
<div id="content">
    <div class="row">&nbsp;</div>

    <!-- widget grid -->
    <section id="widget-grid" class="">
        <!-- row -->
        <div class="row">
            <!-- NEW WIDGET START -->
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget jarviswidget-color-darken" id="wid-id-0" data-widget-editbutton="false">
                    <!-- widget options:
                    usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

                    data-widget-colorbutton="false"
                    data-widget-editbutton="false"
                    data-widget-togglebutton="false"
                    data-widget-deletebutton="false"
                    data-widget-fullscreenbutton="false"
                    data-widget-custombutton="false"
                    data-widget-collapsed="true"
                    data-widget-sortable="false"

                    -->
                    <header id="table">
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>Solicitud permiso</h2>
                    </header>
                    <!-- widget div-->
                    <div>
                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->
                        </div>
                        <!-- end widget edit box -->
                        <!-- widget content -->
                        <div class="widget-body no-padding">
                            <table id="dt_basic" class="table table-striped table-bordered table-hover" width="100%">
                                <thead>
                                    <tr>
                                        <th data-class="expand">
                                            @Html.DisplayNameFor(model => model.FirstOrDefault().NombresApellidosEmpleado)
                                        </th>

                                        <th data-class="expand">
                                            @Html.DisplayNameFor(model => model.FirstOrDefault().NombreDependencia)
                                        </th>

                                        <th data-hide="phone">
                                            @Html.DisplayNameFor(model => model.FirstOrDefault().NombreTipoPermiso)
                                        </th>

                                        <th data-hide="phone">
                                            @Html.DisplayNameFor(model => model.FirstOrDefault().SolicitudPermiso.FechaDesde)
                                        </th>

                                        <th data-hide="phone">
                                            @Html.DisplayNameFor(model => model.FirstOrDefault().SolicitudPermiso.FechaHasta)
                                        </th>

                                        <th data-hide="phone">
                                            @Html.DisplayNameFor(model => model.FirstOrDefault().SolicitudPermiso.HoraDesde)
                                        </th>

                                        <th data-hide="phone">
                                            @Html.DisplayNameFor(model => model.FirstOrDefault().SolicitudPermiso.HoraHasta)
                                        </th>

                                        <th data-hide="phone">
                                            @Html.DisplayNameFor(model => model.FirstOrDefault().NombreEstadoAprobacion)
                                        </th>

                                        <th data-hide="phone">
                                            Opciones
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.NombresApellidosEmpleado)
                                            </td>

                                            <td>
                                                @Html.DisplayFor(modelItem => item.NombreDependencia)
                                            </td>

                                            <td>
                                                @Html.DisplayFor(modelItem => item.NombreTipoPermiso)
                                            </td>

                                            <td>

                                                @(item.SolicitudPermiso.FechaDesde.Year + " -" +
                                                                item.SolicitudPermiso.FechaDesde.Month + " -" +
                                                                item.SolicitudPermiso.FechaDesde.Day)

                                            </td>

                                            <td>

                                                @(item.SolicitudPermiso.FechaHasta.Year + " -" +
                                                                item.SolicitudPermiso.FechaHasta.Month + " -" +
                                                                item.SolicitudPermiso.FechaHasta.Day)

                                            </td>

                                            <td>
                                                @Html.DisplayFor(modelItem => item.SolicitudPermiso.HoraDesde)
                                            </td>

                                            <td>
                                                @Html.DisplayFor(modelItem => item.SolicitudPermiso.HoraHasta)
                                            </td>

                                            <td>
                                                @Html.DisplayFor(modelItem => item.NombreEstadoAprobacion)
                                            </td>

                                            <td>
                                                @if(
                                                    item.NombreEstadoAprobacion == "Aprobado" ||
                                                    item.NombreEstadoAprobacion == "Negado"
                                                    )
                                                {
                                                    @Html.ActionLink("Visualizar", "Visualizar", new { id = item.SolicitudPermiso.IdSolicitudPermiso }, new { onclick = "espera()" })
                                                }
                                            
                                            </td>

                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                        <!-- end widget content -->
                    </div>
                    <!-- end widget div -->
                </div>

            </article>
            <!-- WIDGET END -->
        </div>
        <!-- end row -->
        <!-- end row -->
    </section>
    <!-- end widget grid -->
</div>
<!-- END MAIN CONTENT -->

@section Scripts {
    <script src='~/js/datatables/init.js'></script>

    <script>
        $("#btn_0").css("background-color", "#3276b1");
        $("#btn_0").css("color", "white");


        function espera() {

            mostrarLoadingPanel("content", "Cargando...");
        }

    </script>
}

