@model List<bd.webappth.entidades.Negocio.SolicitudViatico>
<link href="~/css/tabla/table.css" rel="stylesheet" />
@{
    ViewData["Title"] = "Index";
}
<!-- MAIN CONTENT -->
<div id="content">

    <p></p>
    <a asp-action="ListadoEmpleadosSolicitudViaticos">
        <button type="button" asp-action="ListadoEmpleadosSolicitudViaticos" class="btn btn-labeled btn-default">
            <span class="btn-label">
                <i class="fa fa-arrow-left"></i>
            </span>Regresar

        </button>
    </a>
    <p> </p>




    <!-- widget grid -->
    <section id="widget-grid" class="">
        <!-- row -->
        <div class="row">
            <!-- NEW WIDGET START -->
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget jarviswidget-color-darken" id="wid-id-0" data-widget-editbutton="false">
                    <!-- widget options:
                    usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

                    data-widget-colorbutton="false"
                    data-widget-editbutton="false"
                    data-widget-togglebutton="false"
                    data-widget-deletebutton="false"
                    data-widget-fullscreenbutton="false"
                    data-widget-custombutton="false"
                    data-widget-collapsed="true"
                    data-widget-sortable="false"

                    -->
                    <header id="table">
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>Detalle Solicitud Vi&aacute;ticos</h2>
                    </header>
                    <!-- widget div-->
                    <div>
                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->
                        </div>
                        <!-- end widget edit box -->
                        <!-- widget content -->
                        <div class="widget-body no-padding">
                            <table id="dt_basic" class="table table-striped table-bordered table-hover" width="100%">
                                <thead>
                                    <tr>

                                        <th data-class="expand">
                                            @Html.DisplayNameFor(model => model.FirstOrDefault().FechaSalida)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.FirstOrDefault().FechaLlegada)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.FirstOrDefault().ValorEstimado)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.FirstOrDefault().Descripcion)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.FirstOrDefault().Observacion)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.FirstOrDefault().Estado)
                                        </th>

                                        <th>Opciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        var Estado = "";
                                        <tr>

                                            <td>
                                                @Html.DisplayFor(modelItem => item.FechaSalida)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.FechaLlegada)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.ValorEstimado)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Descripcion)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Observacion)
                                            </td>

                                            @if (item.Estado == 0)
                                            {
                                                Estado = "Pendiente";
                                            }
                                            else if (item.Estado == 1)
                                            {
                                                Estado = "Aprobado";
                                            }
                                            else if (item.Estado == -1)
                                            {
                                                Estado = "Negado";
                                            }
                                            else if (item.Estado == 2)
                                            {
                                                Estado = "Aprobado Contabilidad";
                                            }
                                            else if (item.Estado == 3)
                                            {
                                                Estado = "Informe Asignado";
                                            }
                                            else if (item.Estado == 4)
                                            {
                                                Estado = "Informe Finalizado";
                                            }
                                            else if (item.Estado == 5)
                                            {
                                                Estado = "Asignado Reliquidacion";
                                            }
                                            <td>
                                                @Html.DisplayFor(modelItem => Estado)
                                            </td>
                                            <td>
                                                @if (item.Estado == 2)
                                                {
                                                    <text>
                                                        @Html.ActionLink("Activar Informe", "AprobacionSolicitudViatico", new { id = item.IdSolicitudViatico }) |
                                                    </text>
                                                }
                                                @if (item.Estado != 2)
                                                {
                                                    <text>
                                                        @Html.ActionLink("Detalle", "Detalle", new { id = item.IdSolicitudViatico }) |
                                                    </text>
                                                }
                                                @if (item.Estado == 3)
                                                {
                                                    <text>
                                                        @Html.ActionLink("Informe", "Index", "ItinerarioViaticoTH", new { IdSolicitudViatico = item.IdSolicitudViatico, })
                                                    </text>
                                                }
                                                @if (item.Estado == 4)
                                                {
                                                    <text>
                                                        @Html.ActionLink(" Ver Informe", "Index", "ItinerarioViaticoTH", new { IdSolicitudViatico = item.IdSolicitudViatico, }) |
                                                        @Html.ActionLink("Activa Reliquidacion", "Reliquidacion", new { id = item.IdSolicitudViatico })
                                                    </text>
                                                }
                                                @if (item.Estado == 5)
                                                {
                                                    <text>
                                                        @Html.ActionLink(" Ver Informe", "Index", "ItinerarioViaticoTH", new { IdSolicitudViatico = item.IdSolicitudViatico, }) |
                                                        
                                                    </text>
                                                }
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                        <!-- end widget content -->
                    </div>
                    <!-- end widget div -->
                </div>

            </article>
            <!-- WIDGET END -->
        </div>
        <!-- end row -->
        <!-- end row -->
    </section>
    <!-- end widget grid -->
</div>
<!-- END MAIN CONTENT -->

@section Scripts {
    <script src='~/js/datatables/init.js'></script>
}


