@model bd.webappth.entidades.ViewModels.SolicitudPlanificacionVacacionesViewModel

@{
    ViewData["Title"] = "SolicitudPlanificacionVacaciones";
}


@{

    var nombre = Model.DatosBasicosEmpleadoViewModel.Nombres + " " + Model.DatosBasicosEmpleadoViewModel.Apellidos;
}



<div id="content">

    <div class="alert alert-info">
        <b>Aviso</b>

        <br>
         El empleado/a @nombre dispone de <b>@(Model.VacacionesAcumuladas) d&iacute;as de vacaciones</b> acumuladas
        
    </div>

    <!-- widget grid -->
    <section id="widget-grid" class="">

        <!-- START ROW -->
        <div class="row">
            <!-- NEW COL START -->
            <article class="col-sm-12 col-md-12 col-lg-12">
                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget" id="wid-id-1" data-widget-editbutton="false" data-widget-custombutton="false">

                    <header>
                        <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                        <h2>Aprobar solicitud de planificaci&oacute;n vacaciones</h2>
                    </header>
                    <!-- widget div-->
                    <div>

                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->

                        </div>
                        <!-- end widget edit box -->
                        <!-- widget content -->
                        <div class="widget-body no-padding">

                            <form asp-action="Aprobar" id="checkout-form" class="smart-form" novalidate="novalidate">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                                <fieldset>
                                    <input asp-for="IdSolicitudPlanificacionVacaciones" hidden />
                                    <input id="maxDias" asp-for="VacacionesAcumuladas" hidden />
                                    <input asp-for="DatosBasicosEmpleadoViewModel.IdEmpleado" hidden />
                                    

                                    <div class="row">
                                        <section class="col col-lg-12">
                                            <label class="input col-lg-12">@Html.DisplayNameFor(m => m.Estado)</label>
                                            <label class="input col-lg-4">
                                                <select asp-for="Estado" class="form-control" asp-items="ViewBag.IdListaEstado"></select>
                                                <span asp-validation-for="Estado" class="text-danger"></span>
                                            </label>
                                        </section>

                                        <section class="col col-lg-6">
                                            <label>@Html.DisplayNameFor(item => item.Observaciones)</label>
                                            <label class="input">
                                                <textarea asp-for="Observaciones" class="form-control" maxlength="500" rows="3">
                                                    Sin observaciones
                                                </textarea>
                                            </label>
                                        </section>

                                    </div>

                                    <div class="row">
                                        <section class="col col-lg-12">
                                            <legend>Solicitud</legend>
                                        </section>
                                    </div>

                                    <div class="row">
                                        <section class="col col-5">
                                            <label>@Html.DisplayNameFor(item => item.FechaDesde)</label>
                                            <label class="input">
                                                <input id="txtFechaDesde" asp-for="FechaDesde" type="text" onchange="validarDias()" class="datepicker" data-dateformat='yy-mm-dd' disabled>
                                            </label>
                                        </section>

                                        <section class="col col-5">
                                            <label>@Html.DisplayNameFor(item => item.FechaHasta)</label>
                                            <label class="input">
                                                <input id="txtFechaHasta" asp-for="FechaHasta" type="text" onchange="validarDias()" class="datepicker" data-dateformat='yy-mm-dd' disabled>
                                            </label>
                                        </section>

                                        <section class="col col-2">
                                            <label>Cantidad de d&iacute;as</label>
                                            <label class="input">
                                                <input type="number" id="txtTotalDias" readonly>
                                            </label>
                                        </section>

                                    </div>

                                </fieldset>




                                <footer>
                                    <input type="submit" value="Guardar" class="btn btn-default" />
                                    <a asp-action="Solicitudes" asp-route-id="@Model.DatosBasicosEmpleadoViewModel.IdEmpleado" class="btn btn-default">Cancelar</a>
                                </footer>
                            </form>
                        </div>
                        <!-- end widget content -->
                    </div>
                    <!-- end widget div -->
                </div>
                <!-- end widget -->

            </article>

        </div>
        <!-- END ROW -->
    </section>
    <!-- end widget grid -->
    <!-- Modal -->

</div>
<!-- END MAIN CONTENT -->
@section Scripts {

    <script>


        function validarDias() {

            var FechaDesde = moment(document.getElementById("txtFechaDesde").value);
            var FechaHasta = moment(document.getElementById("txtFechaHasta").value);

            var maxDias = document.getElementById("maxDias").value;

            var texto = "";

            var totalDias = FechaHasta.diff(FechaDesde, 'days');



            if (totalDias >= 0) {

                if (totalDias > maxDias) {
                    texto = "Usted est\u00E1 solicitando m\u00E1s d\u00EDas de los que tiene acumulados";
                    mostrarNotificacionTimer("Informaci\u00F3n", texto, 10000);
                }

                document.getElementById("txtTotalDias").value = totalDias;
            } else {

                texto = "La fecha hasta es menor que la fecha desde";

                mostrarNotificacionTimer("Aviso", texto, 7000);
                document.getElementById("txtFechaHasta").value = FechaDesde.format('YYYY-MM-DD');

                document.getElementById("txtTotalDias").value = 0;
            }


        }

        validarDias();

    </script>
}
