@model bd.webappth.entidades.ViewModels.BrechasPorDependenciaViewModel

<input type="hidden" asp-for="IdDependencia" />
<fieldset>

    <div class="row">
        
                @foreach (var item in Model.ListaReporteBrechasViewModels)
            {

                <section class="col col-lg-4">

                    <label class="input col-lg-12">
                        <label>@item.NombreRol</label>

                        <br />

                        <label>@Model.ListaReporteBrechasViewModels.FirstOrDefault().Brecha</label>
                        <input maxlength="50" asp-for="@item.Brecha" class="form-control" placeholder="@Html.DisplayNameFor(model=>model.ListaReporteBrechasViewModels.FirstOrDefault().Brecha)" />
                        <span asp-validation-for="@item.Brecha" class="text-danger"></span>
                    </label>

                    <label class=" col-lg-12">&nbsp;</label>

                    <label class=" col-lg-12">

                        <textarea class="form-control" rows="5" asp-for="@item.Observaciones" placeholder="&nbsp;&nbsp;@Html.DisplayNameFor(model=>model.ListaReporteBrechasViewModels.FirstOrDefault().Observaciones)"></textarea>
                        <span asp-validation-for="@item.Observaciones" class="text-danger"></span>
                    </label>

                    <label class=" col-lg-12">&nbsp;</label>
                    <label class=" col-lg-12">&nbsp;</label>

                </section>



        }

    </div>



    </fieldset>

