@model bd.webappth.entidades.Negocio.AccionPersonal

@{
    ViewData["Title"] = "Actividades Esenciales";
}

<link rel="stylesheet" href="~/lib/select2/dist/css/select2.min.css" />
<div id="content">
    <section id="widget-grid" class="">
        <div class="row">
            <article class="col-sm-12 col-md-12 col-lg-12">
                <div class="jarviswidget" id="wid-id-1" data-widget-editbutton="false" data-widget-custombutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                        <h2>Acci&oacute;n de personal</h2>
                    </header>
                    <div>
                        <div class="jarviswidget-editbox">
                        </div>
                        <div class="widget-body no-padding">
                            <form asp-action="Create" id="checkout-form" class="smart-form" novalidate="novalidate">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <fieldset>
                                    <div class="row">
                                        <section class="col col-4">
                                            <label>Empleado:</label>
                                            <label class="input">
                                                <select asp-for="IdEmpleado" class="form-control" asp-items="ViewBag.IdEmpleado">
                                                    <option value="0"><Seleccione una @Html.DisplayNameFor(model => model.IdEmpleado)></option>
                                                </select>
                                                <span asp-validation-for="IdEmpleado" class="text-danger"></span>
                                            </label>
                                        </section>

                                        <section class="col col-4">
                                            <label>Acci&oacute;n de personal:</label>
                                            <label class="input">
                                                <select asp-for="IdTipoAccionPersonal" class="form-control" asp-items="ViewBag.IdTipoAccionPersonal">
                                                    <option value="0"><Seleccione una @Html.DisplayNameFor(model => model.IdTipoAccionPersonal)></option>
                                                </select>
                                                <span asp-validation-for="IdTipoAccionPersonal" class="text-danger"></span>
                                            </label>
                                        </section>

                                        <section class="col col-4">
                                            <label>Fecha:</label>
                                            <label class="input">
                                                <i class="icon-prepend fa fa-calendar-o "></i>
                                                <input maxlength="20" class="datepicker" data-dateformat='dd/mm/yy' asp-for="Fecha" class="form-control" placeholder="dd/mm/aaaa" />
                                                <span asp-validation-for="Fecha" class="text-danger"></span>
                                            </label>
                                        </section>
                                    </div>
                                    <div class="row">
                                        <section class="col col-4">
                                            <label>Desde:</label>
                                            <label class="input">
                                                <i class="icon-prepend fa fa-calendar-o "></i>
                                                <input maxlength="20" class="datepicker" data-dateformat='dd/mm/yy' asp-for="FechaRige" class="form-control" placeholder="dd/mm/aaaa" />
                                                <span asp-validation-for="FechaRige" class="text-danger"></span>
                                            </label>
                                        </section>
                                        <section class="col col-4">
                                            <label>Desde:</label>
                                            <label class="input">
                                                <i class="icon-prepend fa fa-calendar-o "></i>
                                                <input maxlength="20" class="datepicker" data-dateformat='dd/mm/yy' asp-for="FechaRigeHasta" class="form-control" placeholder="dd/mm/aaaa" />
                                                <span asp-validation-for="FechaRigeHasta" class="text-danger"></span>
                                            </label>
                                        </section>
                                    </div>
                                    <fieldset>
                                        <div class="row">
                                            <section>
                                                <label>Solicitud:</label>
                                                <label class="label"></label>
                                                <label class="textarea">
                                                    <i class="icon-append fa fa-comment"></i>
                                                    <textarea maxlength="50" asp-for="Solicitud" rows="5" placeholder="@Html.DisplayNameFor(model=>model.Solicitud)"></textarea>
                                                    <span asp-validation-for="Solicitud" class="text-danger"></span>
                                                </label>
                                            </section>

                                            <section>
                                                <label>Explicaci&oacute;n:</label>
                                                <label class="label"></label>
                                                <label class="textarea">
                                                    <i class="icon-append fa fa-comment"></i>
                                                    <textarea maxlength="50" asp-for="Explicacion" rows="5" placeholder="@Html.DisplayNameFor(model=>model.Explicacion)"></textarea>
                                                    <span asp-validation-for="Explicacion" class="text-danger"></span>
                                                </label>
                                            </section>
                                        </div>
                                    </fieldset>
                                    <span class="text-danger">@ViewData["Error"]</span>
                                </fieldset>

                                <footer>
                                    <input type="submit" value="Guardar" class="btn btn-primary" />
                                    <a asp-action="Index" class="btn btn-default">Cancelar</a>
                                </footer>
                            </form>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>
@section Scripts {
    <script src='~/lib/select2/dist/js/select2.min.js'></script>
    <script src='~/lib/select2/dist/js/i18n/es.js'></script>
    <script src='~/js/site.js'></script>
    <script type="text/javascript">
            $(document).ready(function () {
                Init_Select2()
    });

    </script>
    }
