@model List<bd.webappth.entidades.ViewModels.DatosBasicosEmpleadoViewModel>

@{
    ViewData["Title"] = "Index";
}

@{var sinDerecho = Model.Where(x => x.DerechoFondoReserva == false).Count();
    sinDerecho = sinDerecho - 1;
}
@{var fondoIess = Model.Where(x => x.FondosReservas == false).Count();
    fondoIess = fondoIess - 1;
}
<div id="content">

    <div class="row">
        <div class="col-xs-12 col-sm-5 col-md-5 col-lg-12">
            <ul id="sparks" class="">
                <li class="sparks-info">
                    <h5> Tienen derecho <span class="txt-color-blue"><i class="fa fa-arrow-circle-up"></i>  @Model.Where(x => x.DerechoFondoReserva == true).Count()</span></h5>
                </li>
                <li class="sparks-info">
                    <h5>No tienen derecho <span class="txt-color-red"><i class="fa fa-arrow-circle-down"></i>   @sinDerecho</span></h5>
                </li>
                <li class="sparks-info">
                    <h5> Cuenta <span class="txt-color-blue"><i class="fa fa-bank"></i>   @Model.Where(x => x.FondosReservas == true).Count()</span></h5>
                </li>
                <li class="sparks-info">
                    <h5> IESS <span class="txt-color-red"><i class="fa  fa-briefcase"></i>  @fondoIess</span></h5>
                </li>
            </ul>
            <br />
        </div>
    </div>
    <section id="" class="">
        <div class="row">
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="jarviswidget jarviswidget-color-darken" id="wid-id-0" data-widget-editbutton="false">
                    <header id="table">
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>Empleados</h2>
                    </header>
                    <div>
                        <div class="jarviswidget-editbox">
                        </div>
                        <div class="widget-body no-padding">
                            <table id="datatable_fixed_column" data-page-length="50" class="table table-striped table-bordered table-hover" width="100%">
                                <thead>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <th colspan="2" class="text-align-center" scope="colgroup">Fondos de reserva</th>
                                    </tr>
                                    <tr>
                                        <th data-class="expand">
                                            @Html.DisplayNameFor(model => model.FirstOrDefault().Identificacion)
                                        </th>

                                        <th data-class="expand">
                                            @Html.DisplayNameFor(model => model.FirstOrDefault().Nombres) y @Html.DisplayNameFor(model => model.FirstOrDefault().Apellidos)
                                        </th>

                                        <th data-hide="phone">
                                            Tiene derecho
                                        </th>

                                        <th data-hide="phone">
                                            Modalidad
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {

                                        <tr @if (item.IdEmpleado == 0) { <text> hidden="hidden" </text> }>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Identificacion)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Nombres)  @Html.DisplayFor(modelItem => item.Apellidos)
                                            </td>
                                            <td>
                                                <label class="radio radio-inline">
                                                    <input type="radio" class="radiobox" @if (item.DerechoFondoReserva == true) { <text> checked="checked" </text> } onclick="ActivarDerechoFondoReserva(@item.IdEmpleado)" name="der_@(item.IdEmpleado)">
                                                    <span>SI</span>
                                                </label>

                                                <label class="radio radio-inline">
                                                    <input type="radio" class="radiobox" @if (item.DerechoFondoReserva == false) { <text> checked="checked" </text> } onclick="DesactivarDerechoFondoReserva(@item.IdEmpleado)" name="der_@(item.IdEmpleado)">
                                                    <span>NO</span>
                                                </label>
                                            </td>
                                            <td>
                                                <label class="radio radio-inline">
                                                    <input type="radio" class="radiobox" @if (item.FondosReservas == true) { <text> checked="checked" </text> } onclick="ModalidadCuentaFondosReservas(@item.IdEmpleado)" name="fondoreserva_@(item.IdEmpleado)">
                                                    <span>CUENTA</span>
                                                </label>
                                                <label class="radio radio-inline">
                                                    <input type="radio" class="radiobox" @if (item.FondosReservas == false) { <text> checked="checked" </text> } onclick="ModalidadIESSFondosReservas(@item.IdEmpleado)" name="fondoreserva_@(item.IdEmpleado)">
                                                    <span>IESS</span>
                                                </label>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>

@section Scripts {
    <script src='~/js/site.js'></script>
    <script src="~/js/AcumularProvisiones/Provisiones.js"></script>
    <script src='~/js/datatables/init.js'></script>
}

