@model List<bd.webappth.entidades.ViewModels.DatosBasicosEmpleadoViewModel>

@{
    ViewData["Title"] = "Index";
}

<!-- MAIN CONTENT -->
<div id="content">

    <!-- widget grid -->
    <section id="" class="">
        <!-- row -->
        <div class="row">
            <!-- NEW WIDGET START -->
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget jarviswidget-color-darken" id="wid-id-0" data-widget-editbutton="false">
                    <!-- widget options:
                    usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

                    data-widget-colorbutton="false"
                    data-widget-editbutton="false"
                    data-widget-togglebutton="false"
                    data-widget-deletebutton="false"
                    data-widget-fullscreenbutton="false"
                    data-widget-custombutton="false"
                    data-widget-collapsed="true"
                    data-widget-sortable="false"

                    -->
                    <header id="table">
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>Empleados</h2>
                    </header>
                    <!-- widget div-->
                    <div>
                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->
                        </div>
                        <!-- end widget edit box -->
                        <!-- widget content -->
                        <div class="widget-body no-padding">
                            <table id="datatable_fixed_column" data-page-length="50" class="table table-striped table-bordered table-hover" width="100%">
                                <thead>
                                    <tr>
                                        <th data-class="expand">
                                            @Html.DisplayNameFor(model => model.FirstOrDefault().Identificacion)
                                        </th>

                                        <th data-class="expand">
                                            @Html.DisplayNameFor(model => model.FirstOrDefault().Nombres) y @Html.DisplayNameFor(model => model.FirstOrDefault().Apellidos)
                                        </th>

                                        <th data-hide="phone">
                                            Fondos de reserva
                                        </th>

                                        <th data-hide="phone">
                                            D&eacute;cimos
                                        </th>


                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @item.IdEmpleado
                                                @Html.DisplayFor(modelItem => item.Identificacion)
                                            </td>

                                            <td>
                                                @Html.DisplayFor(modelItem => item.Nombres)  @Html.DisplayFor(modelItem => item.Apellidos)
                                            </td>
                                            <td>
                                                <table  class="table-striped table-bordered table-hover ">
                                                    <thead>
                                                        <tr>
                                                            <th data-hide="phone" class="text-align-center">
                                                                Tiene derecho
                                                            </th>

                                                            <th data-hide="phone" class="text-align-center">
                                                                Modalidad
                                                            </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>
                                                                <label class="text-center">
                                                                    <label class="radio radio-inline">
                                                                        <input type="radio" class="radiobox" @if (item.DerechoFondoReserva == true) { <text> checked="checked" </text> } value="true" onclick="ActivarDerechoFondoReserva(@item.IdEmpleado)" name="der_@(item.IdEmpleado)">
                                                                        <span>SI</span>
                                                                    </label>

                                                                    <label class="radio radio-inline">
                                                                        <input type="radio" class="radiobox" @if (item.DerechoFondoReserva == false) { <text> checked="checked" </text> } value="false" onclick="DesactivarDerechoFondoReserva(@item.IdEmpleado)" name="der_@(item.IdEmpleado)">
                                                                        <span>NO</span>
                                                                    </label>
                                                                </label>
                                                            </td>

                                                            <td>
                                                                <label class="text-center">
                                                                    <label class="radio radio-inline">
                                                                        <input type="radio" class="radiobox" @if (item.FondosReservas == true) { <text> checked="checked" </text> } value="true" onclick="ModalidadCuentaFondosReservas(@item.IdEmpleado)" name="fondoreserva_@(item.IdEmpleado)">
                                                                        <span>CUENTA</span>
                                                                    </label>

                                                                    <label class="radio radio-inline">
                                                                        <input type="radio" class="radiobox" @if (item.FondosReservas == false) { <text> checked="checked" </text> } value="false" onclick="ModalidadIESSFondosReservas(@item.IdEmpleado)" name="fondoreserva_@(item.IdEmpleado)">
                                                                        <span>IESS &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                                                    </label>
                                                                 </label>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                            <td>
                                                <table class="table-striped table-bordered table-hover">
                                                    <thead>
                                                        <tr>
                                                            <th data-hide="phone" class="text-align-center">
                                                                D&eacute;cimo tercero
                                                            </th>

                                                            <th data-hide="phone" class="text-align-center">
                                                                D&eacute;cimo cuarto
                                                            </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>
                                                                <label class="text-center">
                                                                    <label class="radio radio-inline">
                                                                        <input type="radio" class="radiobox" @if (item.AcumulaDecimoTercero == true) { <text> checked="checked" </text> } value="true" onclick="ActivarDecimoTercero(@item.IdEmpleado)" name="acumuladecimotercero_@(item.IdEmpleado)">
                                                                        <span>SI</span>
                                                                    </label>

                                                                    <label class="radio radio-inline">
                                                                        <input type="radio" class="radiobox" @if (item.AcumulaDecimoTercero == false) { <text> checked="checked" </text> } value="false" onclick="DesactivarDecimoTercero(@item.IdEmpleado)" name="acumuladecimotercero_@(item.IdEmpleado)">
                                                                        <span>NO</span>
                                                                    </label>
                                                                </label>
                                                            </td>
                                                            <td>
                                                                <label class="text-center">
                                                                    <label class="radio radio-inline">
                                                                        <input type="radio" class="radiobox" @if (item.AcumulaDecimoCuarto == true) { <text> checked="checked" </text> } value="true" onclick="ActivarDecimoCuarto(@item.IdEmpleado)" name="acumuladecimocuarto_@(item.IdEmpleado)">
                                                                        <span>SI</span>
                                                                    </label>

                                                                    <label class="radio radio-inline">
                                                                        <input type="radio" class="radiobox" @if (item.AcumulaDecimoCuarto == false) { <text> checked="checked" </text> } value="false" onclick="DesactivarDecimoCuarto(@item.IdEmpleado)" name="acumuladecimocuarto_@(item.IdEmpleado)">
                                                                        <span>NO</span>
                                                                    </label>
                                                                </label>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                        <!-- end widget content -->
                    </div>
                    <!-- end widget div -->
                </div>

            </article>
            <!-- WIDGET END -->
        </div>
        <!-- end row -->
        <!-- end row -->
    </section>
    <!-- end widget grid -->
</div>
<!-- END MAIN CONTENT -->


@section Scripts {
    <script src='~/js/site.js'></script>
    <script type="text/javascript">



        function ActivarDerechoFondoReserva(idEmpleado)
        {
            mostrarLoadingPanel("content", "")
            var estado = true;

                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("CambiarEstadoDerechoFondosReservas", "Empleados")',
                    dataType: 'json',
                    data: { idEmpleado: idEmpleado, estado: estado },
                    success: function (data) {

                    }, complete: function (data) {
                        if (data = true) {
                            mostrarNotificacion("Satisfactorio", "El registro se ha actualizado satisfactoriamente")
                        }
                        else {
                            mostrarNotificacion("Error", "Ha ocurrido un error al actualizar el registro")
                        }
                        $("#content").waitMe("hide");
                    },

                    error: function (ex) {
                        mostrarNotificacion("Error", "Ha ocurrido un error al al conectarse con el servicio...");
                    }
                });
        }

        function DesactivarDerechoFondoReserva(idEmpleado)
        {
            mostrarLoadingPanel("content", "")
            var estado = false;

                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("CambiarEstadoDerechoFondosReservas", "Empleados")',
                    dataType: 'json',
                    data: { idEmpleado: idEmpleado, estado: estado },
                    success: function (data) {

                    }, complete: function (data) {
                        if (data = true) {
                            mostrarNotificacion("Satisfactorio", "El registro se ha actualizado satisfactoriamente")
                        }
                        else {
                            mostrarNotificacion("Error", "Ha ocurrido un error al actualizar el registro")
                        }
                        $("#content").waitMe("hide");
                    },

                    error: function (ex) {
                        mostrarNotificacion("Error", "Ha ocurrido un error al al conectarse con el servicio...");
                    }
                });
        }




        function DesactivarDecimoCuarto(idEmpleado)
        {
            mostrarLoadingPanel("content", "")
            var estado = false;

                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("CambiarEstadoDecimoCuarto", "Empleados")',
                    dataType: 'json',
                    data: { idEmpleado: idEmpleado, estado: estado },
                    success: function (data) {
                    }, complete: function (data) {
                        if (data = true) {
                            mostrarNotificacion("Satisfactorio", "El registro se ha actualizado satisfactoriamente")
                        }
                        else {
                            mostrarNotificacion("Error", "Ha ocurrido un error al actualizar el registro")
                        }
                        $("#content").waitMe("hide");
                    },

                    error: function (ex) {
                        mostrarNotificacion("Error", "Ha ocurrido un error al al conectarse con el servicio...");
                    }
                });
        }


        function ActivarDecimoCuarto(idEmpleado)
        {
            mostrarLoadingPanel("content", "")
            var estado = true;

                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("CambiarEstadoDecimoCuarto", "Empleados")',
                    dataType: 'json',
                    data: { idEmpleado: idEmpleado, estado: estado },
                    success: function (data) {
                    }, complete: function (data) {
                        if (data = true) {
                            mostrarNotificacion("Satisfactorio", "El registro se ha actualizado satisfactoriamente")
                        }
                        else {
                            mostrarNotificacion("Error", "Ha ocurrido un error al actualizar el registro")
                        }
                        $("#content").waitMe("hide");
                    },

                    error: function (ex) {
                        mostrarNotificacion("Error", "Ha ocurrido un error al al conectarse con el servicio...");
                    }
                });
        }

        function DesactivarDecimoTercero(idEmpleado)
        {
            mostrarLoadingPanel("content", "")
            var estado = false;

                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("CambiarEstadoDecimoTercero", "Empleados")',
                    dataType: 'json',
                    data: { idEmpleado: idEmpleado, estado: estado },
                    success: function (data) {
                    }, complete: function (data) {
                        if (data = true) {
                            mostrarNotificacion("Satisfactorio", "El registro se ha actualizado satisfactoriamente")
                        }
                        else {
                            mostrarNotificacion("Error", "Ha ocurrido un error al actualizar el registro")
                        }
                        $("#content").waitMe("hide");
                    },

                    error: function (ex) {
                        mostrarNotificacion("Error", "Ha ocurrido un error al al conectarse con el servicio...");
                    }
                });
        }

        function ActivarDecimoTercero(idEmpleado)
        {
            mostrarLoadingPanel("content", "")
            var estado = true;

                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("CambiarEstadoDecimoTercero", "Empleados")',
                    dataType: 'json',
                    data: { idEmpleado: idEmpleado, estado: estado },
                    success: function (data) {
                    }, complete: function (data) {
                        if (data = true) {
                            mostrarNotificacion("Satisfactorio", "El registro se ha actualizado satisfactoriamente")
                        }
                        else {
                            mostrarNotificacion("Error", "Ha ocurrido un error al actualizar el registro")
                        }
                        $("#content").waitMe("hide");
                    },

                    error: function (ex) {
                        mostrarNotificacion("Error", "Ha ocurrido un error al al conectarse con el servicio...");
                    }
                });
        }



        function ModalidadIESSFondosReservas(idEmpleado)
        {
            mostrarLoadingPanel("content", "")
            var estado = false;

                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("CambiarEstadoFondosReservas", "Empleados")',
                    dataType: 'json',
                    data: { idEmpleado: idEmpleado, estado: estado },
                    success: function (data) {

                    }, complete: function (data) {
                        if (data = true) {
                            mostrarNotificacion("Satisfactorio", "El registro se ha actualizado satisfactoriamente")
                        }
                        else {
                            mostrarNotificacion("Error", "Ha ocurrido un error al actualizar el registro")
                        }
                        $("#content").waitMe("hide");
                    },

                    error: function (ex) {
                        mostrarNotificacion("Error", "Ha ocurrido un error al al conectarse con el servicio...");
                    }
                });
        }



        function ModalidadCuentaFondosReservas(idEmpleado)
        {
            mostrarLoadingPanel("content", "")
            var estado = true;

                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("CambiarEstadoFondosReservas", "Empleados")',
                    dataType: 'json',
                    data: { idEmpleado: idEmpleado, estado: estado },
                    success: function (data) {

                    }, complete: function (data) {
                        if (data = true) {
                            mostrarNotificacion("Satisfactorio", "El registro se ha actualizado satisfactoriamente")
                        }
                        else {
                            mostrarNotificacion("Error", "Ha ocurrido un error al actualizar el registro")
                        }
                        $("#content").waitMe("hide");
                    },

                    error: function (ex) {
                        mostrarNotificacion("Error", "Ha ocurrido un error al al conectarse con el servicio...");
                    }
                });
        }
    </script>

    <script src='~/js/datatables/init.js'></script>
}

