@model bd.webappth.entidades.ViewModels.EmpleadoViewModel

<link rel="stylesheet" href="~/lib/waitMe/waitMe.min.css" />
<link rel="stylesheet" href="~/lib/waitMe/waitMe.css" />
<script src='~/js/site.js'></script>
<script src='~/lib/waitMe/waitMe.min.js'></script>
@*<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jstree/3.3.5/themes/default/style.min.css" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/jstree/3.3.5/jstree.min.js"></script>*@

<!-- MAIN CONTENT -->
<div id="content">

    <!-- widget grid -->
    <section id="widget-grid" class="">

        <!-- START ROW -->
        <div class="row">
            <!-- NEW COL START -->
            <article class="col-sm-12 col-md-12 col-lg-12">
                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget" id="wid-id-1" data-widget-editbutton="false" data-widget-custombutton="false">

                    <header>
                        <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                        <h2> Distributivo</h2>
                    </header>
                    <!-- widget div-->
                    <div>

                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->

                        </div>
                        <!-- end widget edit box -->
                        <!-- widget content -->
                        <div class="widget-body no-padding">

                            <form asp-action="AgregarADistributivo" asp-controller="Empleados" novalidate="novalidate">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <input type="hidden" asp-for="Empleado.IdEmpleado" />
                                <article class="col-lg-12">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <label>R&eacute;gimen Laboral:</label>
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="fa fa-bank fa  fa-fw"></i></span>
                                                    <select id="IdRegimenLaboral" class="form-control input " asp-items="ViewBag.IdRegimenLaboral" data-msg-required='El campo es requerido' data-rule-required='true'>
                                                        <option value="0" selected="" disabled="">Seleccione</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <label>Relaci&oacute;n Laboral:</label>
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="fa fa-bank fa  fa-fw"></i></span>
                                                    <select id="IdRelacionLaboral" class="form-control input " asp-items="ViewBag.IdRelacionLaboral" data-msg-required='El campo es requerido' data-rule-required='true'>
                                                        <option value="0" selected="" disabled=""></option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <label>Tipo de Nombramiento:</label>
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="fa fa-bank fa  fa-fw"></i></span>
                                                    <select id="IdTipoNombramiento" asp-for="IndiceOcupacionalModalidadPartida.IdTipoNombramiento" class="form-control input "></select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <label>Ciudad:</label>
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="fa fa-user fa  fa-fw"></i></span>
                                                    <select id="ciudad" class="form-control input " asp-items="ViewBag.IdCiudad">
                                                        <option value="0" selected="" disabled="">Seleccione</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <label>Sucursal:</label>
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="fa fa-map-marker fa  fa-fw"></i></span>
                                                    <select id="sucursal" asp-for="Dependencia.Sucursal.IdSucursal  " class="form-control input "></select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">

                                            <div class="form-group">
                                                <label>Dependencia:</label>
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="fa fa-list-alt fa fa-fw"></i></span>
                                                    <input class="form-control input" type="text" id="dependencia" readonly="readonly">
                                                </div>
                                            </div>
                                            @*@Html.ActionLink("Dependencias", "CargarDependencias", "Empleados", new { idsucursal = Model.Dependencia.Sucursal.IdSucursal }, new { @class = "dialog-window" })*@
                                            @*<a href="#" id="export">Dependencias</a>*@


                                            @*<div class="widget-body">
                                                    <div class="tree smart-form">
                                                        <ul>
                                                            <li>
                                                                <span><i class="fa fa-lg fa-folder-open"></i> @Model.Dependencia.Nombre</span>
                                                                @{await Html.RenderPartialAsync("_PartialViewDependenciasHijos", Model.Dependencia);}
                                                            </li>
                                                        </ul>
                                                    </div>

                                                </div>*@
                                        </div>
                                        <input class="form-control input" type="hidden" id="iddependencia" asp-for="IndiceOcupacional.IdDependencia">

                                    </div>
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <label>Manual Puesto:</label>
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="fa fa-user fa  fa-fw"></i></span>
                                                    <select id="manualpuesto" asp-for="IndiceOcupacional.IdManualPuesto" class="form-control input "></select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <label>Rol Puesto:</label>
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="fa fa-map-marker fa  fa-fw"></i></span>
                                                    <select id="rolpuesto" asp-for="IndiceOcupacional.IdRolPuesto" class="form-control input "></select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <label>Escala Grados:</label>
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="fa fa-map-marker fa  fa-fw"></i></span>
                                                    <select id="escalagrados" asp-for="IndiceOcupacional.IdEscalaGrados" class="form-control input "></select>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <label>Modalidad Partida:</label>
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="fa fa-map-marker fa  fa-fw"></i></span>
                                                    <select id="modalidadpartida" asp-for="IndiceOcupacional.IdModalidadPartida" asp-items="ViewBag.IdModalidadPartida" class="form-control input "></select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <label>Fondo de Financimiento:</label>
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="fa fa-bank fa  fa-fw"></i></span>
                                                    <select asp-for="IndiceOcupacionalModalidadPartida.IdFondoFinanciamiento" class="form-control input " data-msg-required='El campo es requerido' data-rule-required='true' asp-items="ViewBag.IdFondoFinanciamiento">
                                                        <option value="0" selected="" disabled="">Seleccione</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-2">
                                            <div class="form-group">
                                                <label>Fecha:</label>
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                                    <input asp-for="IndiceOcupacionalModalidadPartida.Fecha" type="text" class="form-control input datepicker " placeholder="Fecha: " data-dateformat='dd/mm/yy' data-msg-required='El campo es requerido' data-rule-required='true'>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-2">
                                            <div class="form-group">
                                                <label>&nbsp;&nbsp;</label>
                                                <label class="checkbox-inline">
                                                    <label>&iquest; Salario Real ?</label>
                                                    <input type="checkbox" asp-for="IndiceOcupacionalModalidadPartida.SalarioReal" class="form-control" />
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-sm-2" id="IdSalarioReal">
                                            <div class="form-group">
                                                <label>Salario Real:</label>
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="fa fa-slack fa  fa-fw"></i></span>
                                                    <input asp-for="IndiceOcupacionalModalidadPartida.SalarioReal" class="form-control input " data-msg-required='El campo es requerido' data-rule-required='true' placeholder="Salario real" onKeyPress="return checkIt(event)">
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <footer>
                                        <input type="submit" value="Guardar" class="btn btn-primary" />
                                        <a asp-action="Index" class="btn btn-default">Cancelar</a>
                                    </footer>
                                    <br />
                                </article>


                            </form>
                        </div>
                        <!-- end widget content -->
                    </div>
                    <!-- end widget div -->
                </div>
                <!-- end widget -->

            </article>

        </div>
        <!-- END ROW -->
    </section>
    <!-- end widget grid -->
    <!-- Modal -->

</div>
<!-- END MAIN CONTENT -->

@{await Html.RenderPartialAsync("Modal");}



@section Scripts {
    <!-- PAGE RELATED PLUGIN(S) -->
    <script src="~/js/plugin/bootstrap-wizard/jquery.bootstrap.wizard.min.js"></script>
    <script src="~/js/plugin/fuelux/wizard/wizard.min.js"></script>
    <script src='~/js/vistasmodales/modal.js'></script>

    <script type="text/javascript">

        // DO NOT REMOVE : GLOBAL FUNCTIONS!

        $("#IndiceOcupacionalModalidadPartida.SalarioReal").change(function () {
            if (!$(this).prop('checked')) {
                $('#IdSalarioReal').hide();
            } else {
                $('#IdSalarioReal').show();
            }

        })
        $(document).ready(function () {

            //Bootstrap Wizard Validations

            $("#getSucursal").click(function (e) {
                idsucursal = $("#sucursal").val()
                });



            $('.tree > ul').attr('role', 'tree').find('ul').attr('role', 'group');
            $('.tree').find('li:has(ul)').addClass('parent_li').attr('role', 'treeitem').find(' > span').attr('title', 'Collapse this branch').on('click', function (e) {
                var children = $(this).parent('li.parent_li').find(' > ul > li');
                if (children.is(':visible')) {
                    children.hide('fast');
                    $(this).attr('title', 'Expand this branch').find(' > i').removeClass().addClass('fa fa-lg fa-plus-circle');
                } else {
                    children.show('fast');
                    $(this).attr('title', 'Collapse this branch').find(' > i').removeClass().addClass('fa fa-lg fa-minus-circle');
                }
                e.stopPropagation();
            });

            var $validator = $("#wizard-1").validate({

                rules: {
                    IdTipoIdentificacion: {
                        required: true
                    },
                    Identificacion: {
                        required: true
                    },
                    Nombres: {
                        required: true
                    },
                    Apellidos: {
                        required: true
                    },
                    FechaNacimiento: {
                        required: true
                    },
                    Parentesco: {
                        required: true
                    },
                    IdRelacionLaboral: {
                        required: true
                    },
                    paisLugarNacimiento: {
                        required: true
                    },
                    paisLugarSufragio: {
                        required: true
                    },
                    paisLugarPersona: {
                        required: true
                    },
                    provinciaLugarPersona: {
                        required: true
                    },
                    idciudadLugarPersona: {
                          required: true
                      }
                },

                messages: {
                    IdTipoIdentificacion: "El campo es requerido",
                    Identificacion: "El campo es requerido",
                    Nombres: "El campo es requerido",
                    Apellidos: "El campo es requerido",
                    Nombres: "El campo es requerido",
                    FechaNacimiento: "El campo es requerido",
                    Parentesco: "El campo es requerido",
                    IdRelacionLaboral: "El campo es requerido",
                    paisLugarNacimiento: "El campo es requerido",
                    paisLugarSufragio: "El campo es requerido",
                    paisLugarPersona: "El campo es requerido",
                    provinciaLugarPersona: "El campo es requerido",
                    idciudadLugarPersona: "El campo es requerido",
                    email: {
                        required: "We need your email address to contact you",
                        email: "Your email address must be in the format of name@domain.com"
                    }
                },

                submitHandler: function (form) {

                    $.ajax({
                         url: '@Url.Action("Create")',
                         type: "POST",
                         data: $(form).serialize(),
                         //data: JSON.stringify({ model }),
                         dataType: 'json',
                         //contentType: 'application/json',
                         success: function (data) {
                                // Inserting html into the result div on success
                                $('#results').html(data);
                            },
                            error: function (jqXHR, text, error) {
                                // Displaying if there are any errors
                                $('#result').html(error);
                            }
                        });
                        return false;
            },


                highlight: function (element) {
                    $(element).closest('.form-group').removeClass('has-success').addClass('has-error');
                },
                unhighlight: function (element) {
                    $(element).closest('.form-group').removeClass('has-error').addClass('has-success');
                },
                errorElement: 'span',
                errorClass: 'help-block',
                errorPlacement: function (error, element) {
                    if (element.parent('.input-group').length) {
                        error.insertAfter(element.parent());
                    } else {
                        error.insertAfter(element);
                    }
                }
            });


            $('#bootstrap-wizard-1').bootstrapWizard({
                'tabClass': 'form-wizard',
                'onNext': function (tab, navigation, index) {
                    var $valid = $("#wizard-1").valid();
                    if (!$valid) {
                        $validator.focusInvalid();
                        return false;
                    } else {
                        $('#bootstrap-wizard-1').find('.form-wizard').children('li').eq(index - 1).addClass(
                            'complete');
                        $('#bootstrap-wizard-1').find('.form-wizard').children('li').eq(index - 1).find('.step')
                            .html('<i class="fa fa-check"></i>');
                    }
                }
            });


            // fuelux wizard
            var wizard = $('.wizard').wizard();

            wizard.on('finished', function (e, data) {
                //$("#fuelux-wizard").submit();
                //console.log("submitted!");
                $.smallBox({
                    title: "Congratulations! Your form was submitted",
                    content: "<i class='fa fa-clock-o'></i> <i>1 seconds ago...</i>",
                    color: "#5F895F",
                    iconSmall: "fa fa-check bounce animated",
                    timeout: 4000
                });

            });



        })

    </script>

    <script src='~/lib/waitMe/waitMe.min.js'></script>
    <script src='~/js/site.js'></script>
    @*<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jstree/3.3.5/themes/default/style.min.css" />
        <script src="//cdnjs.cloudflare.com/ajax/libs/jstree/3.3.5/jstree.min.js"></script>*@


    <script type="text/javascript">
        $(document).ready(function () {

           $("#ciudad").change(function () {
            mostrarLoadingPanel("content","Cargando...")
            $("#sucursal").empty();
            $("#dependencia").val("");
            $("#manualpuesto").empty();
            $("#rolpuesto").empty();
            $("#escalagrados").empty();
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("ListarSucursalesPorCiudad", "CeseFunciones")',
                    dataType: 'json',
                    data: { idciudad: $("#ciudad").val() },
                    success: function (data) {
                        $("#sucursal").append('<option value="0" selected="" disabled="">Seleccione</option>');
                        $.each(data, function (i, data) {
                            $("#sucursal").append('<option value="'
                                + data.idSucursal + '">'
                                + data.nombre + '</option>');

                        });
                    }, complete: function (data) {
                        $("#content").waitMe("hide");
                    },

                    error: function (ex) {
                        alert('Failed to retrieve data.' + ex);
                    }
                });
                return false;
                })

           $("#sucursal").change(function (e) {
               mostrarLoadingPanel("content", "Cargando...")
               $("#dependencia").val("");
               $("#manualpuesto").empty();
               $("#rolpuesto").empty();
               $("#escalagrados").empty();
               e.preventDefault();
               var $link = $(this);
               var title = $link.text();
               $('#myModal.modal-title').html(title);
               var url = '@Url.Action("CargarDependencias")?idsucursal='+ $('#sucursal').val() ;
               if (url.indexOf('#') == 0) {
                   $('#myModal').modal('show');
                   $("#myModal").waitMe("hide");
               }
               else {
                   $.get(url, function (data) {
                       $('#myModal .te').html(data);
                       $('#myModal').modal();
                       $('#selectC').select2();
                       $("#content").waitMe("hide");
                   }).success(function () { $('input:text:visible:first').focus(); });

               }
                $("#content").waitMe("hide");
                return false;
           })




                        $("#manualpuesto").change(function () {
            mostrarLoadingPanel("content","Cargando...")
            $("#rolpuesto").empty();
            $("#escalagrados").empty();
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("ListarRolPuestoporManualPuesto")',
                    dataType: 'json',
                    data: {
                        idmanualpuesto: $("#manualpuesto").val(),
                        iddependencia: $("#iddependencia").val(),
                        },
                    success: function (data) {
                        $("#rolpuesto").append('<option value="0" selected="" disabled="">Seleccione</option>');
                        $.each(data, function (i, data) {
                            $("#rolpuesto").append('<option value="'
                                + data.rolPuesto.idRolPuesto + '">'
                                + data.rolPuesto.nombre + '</option>');

                        });
                    }, complete: function (data) {
                        $("#content").waitMe("hide");
                    },

                    error: function (ex) {
                        alert('Failed to retrieve data.' + ex);
                    }
                });
                return false;
                        })


                         $("#rolpuesto").change(function () {
            mostrarLoadingPanel("content","Cargando...")
            $("#escalagrados").empty();
            $.ajax({
                type: 'POST',
                url: '@Url.Action("ListarEscalaGradosPorRolPuesto")',
                dataType: 'json',
                data: {
                    idmanualpuesto: $("#manualpuesto").val(),
                    iddependencia: $("#iddependencia").val(),
                    idrolpuesto: $("#rolpuesto").val(),
                },
                success: function (data) {
                    if (data[0].escalaGrados.grado !== null) {
                            $("#escalagrados").append('<option value="0" selected="" disabled="">Seleccione</option>');
                            $.each(data, function (i, data) {

                                $("#escalagrados").append('<option value="'
                                    + data.escalaGrados.idEscalaGrados + '">'
                                    + data.escalaGrados.nombre + " (Grado " + data.escalaGrados.grado + ")" + " que percibe" + " $" + data.escalaGrados.remuneracion +  '</option>');
                            });
                        }
                        else {
                            $("#escalagrados").append('<option value="'
                                + 0 + '">'
                            + "No aplica" + '</option>');

                        }
                    }, complete: function (data) {
                        $("#content").waitMe("hide");
                    },

                    error: function (ex) {
                        alert('Failed to retrieve data.' + ex);
                    }
                });
                return false;
                })


                         @*$("#escalagrados").change(function () {
            mostrarLoadingPanel("content","Cargando...")
            $("#modalidadpartida").empty();
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("ListarModalidadesPartidaPorEscalaGrados")',
                    dataType: 'json',
                    data: {
                        idmanualpuesto: $("#manualpuesto").val(),
                        iddependencia: $("#dependencia").val(),
                        idrolpuesto: $("#rolpuesto").val(),
                        idescalagrados: $("#escalagrados").val(),
                        },
                    success: function (data) {
                        $("#modalidadpartida").append('<option value="0" selected="" disabled="">Seleccione</option>');
                        $.each(data, function (i, data) {
                            $("#modalidadpartida").append('<option value="'
                                + data.modalidadPartida.idModalidadPartida + '">'
                                + data.modalidadPartida.nombre + '</option>');

                        });
                    }, complete: function (data) {
                        $("#content").waitMe("hide");
                    },

                    error: function (ex) {
                        alert('Failed to retrieve data.' + ex);
                    }
                });
                return false;
                })*@

        $("#IdRegimenLaboral").change(function () {
            mostrarLoadingPanel("content","Cargando...")
            $("#IdRelacionLaboral").empty();
            $("#IdModalidadPartida").empty();
            $("#IdTipoNombramiento").empty();
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("ListarRelacionesLaboralesPorRegimen")',
                    dataType: 'json',
                    data: { regimen: $("#IdRegimenLaboral").val() },
                    success: function (data) {
                        $("#IdRelacionLaboral").append('<option value="0" selected="" disabled="">Seleccione</option>');
                        $.each(data, function (i, data) {

                            $("#IdRelacionLaboral").append('<option value="'
                                + data.idRelacionLaboral + '">'
                                + data.nombre + '</option>');

                        });
                    }, complete: function (data) {
                        $("#content").waitMe("hide");
                    },

                    error: function (ex) {
                        alert('Failed to retrieve data.' + ex);
                    }
                });
                return false;
        })


        $("#IdRelacionLaboral").change(function () {
            mostrarLoadingPanel("content","Cargando tipos de nombramiento...")
            $("#IdTipoNombramiento").empty();
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("ListarTipoNombramientoRelacion")',
                    dataType: 'json',
                    data: { relacion: $("#IdRelacionLaboral").val() },
                    success: function (data) {
                        $("#IdTipoNombramiento").append('<option value="0" selected="" disabled="">Seleccione</option>');
                        $.each(data, function (i, data) {
                            $("#IdTipoNombramiento").append('<option value="'
                                + data.idTipoNombramiento + '">'
                                + data.nombre + '</option>');

                        })
                            ;
                    }, complete: function (data) {
                        $("#content").waitMe("hide");
                    },

                    error: function (ex) {
                        alert('Failed to retrieve data.' + ex);
                    }
                });
                return false;
        })

        });

        function isEmpty(obj, propName) {
            return Object.keys(obj[propName]).length == 0;
        }

       // Evento que envía una petición Ajax al servidor
        $('#GuardarForm').click(function(e) {
    $.ajax({
        type: "POST",
        url: '@Url.Action("NuevoEmpleado")',
        content: "application/json; charset=utf-8",
        dataType: "json",
        // De la siguiente manera indicamos que del div tome los input.
        data: $('#wizard-1').serialize(),
        success: function(d) {
            if (d.result == 'Redireccionar')
                window.location = d.url;
            else {
                alert(d);
            }
        },
        error: function (xhr, textStatus, errorThrown) {
              alert('Error!!');
        }
    });
});



    </script>

    <script type="text/javascript">

        function checkIt(evt) {
            evt = (evt) ? evt : window.event
            var charCode = (evt.which) ? evt.which : evt.keyCode
            if (charCode > 31 && (charCode < 48 || charCode > 57)) {
                status = "This field accepts numbers only."
                return false
            }
            status = ""
            return true
        }
        function NumCheck(e, field) {
            key = e.keyCode ? e.keyCode : e.which
            // backspace
            if (key == 8) return true
            // 0-9
            if (key > 47 && key < 58) {
                if (field.value == "") return true
                regexp = /.[0-9]{10}$/
                return !(regexp.test(field.value))
            }
            // .
            if (key == 44) {
                if (field.value == "") return false
                regexp = /^[0-9]+$/
                return regexp.test(field.values)
            }
            // other key
            return false

        }

        function handleChange(input) {
            if (input.value < 0) input.value = 0;
            if (input.value > 100) input.value = 100;
        }


                   function cargarManualesPuesto(dependencia) {
            mostrarLoadingPanel("content","Cargando...")
            $("#manualpuesto").empty();
            $("#rolpuesto").empty();
            $("#escalagrados").empty();
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("ListarManualPuestoporDependencia")',
                    dataType: 'json',
                    data: { iddependencia: dependencia },
                    success: function (data) {
                        $("#manualpuesto").append('<option value="0" selected="" disabled="">Seleccione</option>');
                        $.each(data, function (i, data) {
                            $("#manualpuesto").append('<option value="'
                                + data.manualPuesto.idManualPuesto + '">'
                                + data.manualPuesto.nombre + '</option>');

                        });
                    }, complete: function (data) {
                        $("#content").waitMe("hide");
                    },

                    error: function (ex) {
                        alert('Failed to retrieve data.' + ex);
                    }
                });
                return false;
                }
    </script>









}

