@model bd.webappth.entidades.ViewModels.ViewModelInduccion
    <style>
        .video-design {
            width:100%;
            height:300px;
        }
        .et-titulo {
            font-weight: 700;
            color: #12668E;
        }
    </style>

    <div id="content">
        <!-- row -->
        <div class="row">
            
        
            <!-- end col -->
            <!-- right side of the page with the sparkline graphs -->
            <!-- col -->
            <div class="col-xs-12 col-sm-5 col-md-5 col-lg-8">
                <!-- sparks -->
                <!-- end sparks -->
            </div>
            <!-- end col -->
        </div>

        <!-- end row -->
        <div class="row">
            <div class="col-sm-12">
                <div class="well padding-12">
                    <legend>IM&Aacute;GENES</legend>
                    @foreach (var item in Model.Imagenes)
                    {
                       
                        <div class="row">
                            <div class="col-lg-6">
                                <img src="@Html.DisplayFor(modelItem => item.Url)" class="img-responsive" alt="img">
                            </div>
                            <div class="col-lg-6">

                                <label class="et-titulo">@Html.DisplayFor(modelItem => item.Titulo)</label>

                                <p>
                                    @Html.DisplayFor(modelItem => item.Descripcion)
                                </p>
                                <br />
                                <br />
                                <a asp-action="Download" asp-route-id="@item.IdMaterialInduccion">
                                    Descargar
                                </a>

                            </div>
                        </div>
                        <legend></legend>
                    }
                    
                    <legend>VIDEOS</legend>
                    @foreach (var item in Model.Videos)
                    {

                        <div class="row">
                            <div class="col-md-6">
                                <div class="margin-top-10">
                                    <iframe class="video-design" src="@item.Url" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                                </div>
                            </div>
                            <div class="col-lg-6">

                                <label class="et-titulo">@Html.DisplayFor(modelItem => item.Titulo)</label>

                                <p>
                                    @Html.DisplayFor(modelItem => item.Descripcion)
                                </p>
                                <br />

                                <br />
                            </div>
                            
                        </div>
                        <legend></legend>
                    }

                    <legend>DOCUMENTOS</legend>
                    @foreach (var item in Model.Archivos)
                    {

                        <div class="row">
                            <div class="col-lg-3">
                                <label class="et-titulo">@Html.DisplayFor(modelItem => item.Titulo)</label>
                            </div>

                            <div class="col-lg-7">
                                
                                <p>
                                    @Html.DisplayFor(modelItem => item.Descripcion)
                                </p>

                            </div>
                            
                            <div class="col-lg-2">
                                <a asp-action="Download" asp-route-id="@item.IdMaterialInduccion">
                                    Descargar
                                </a>
                            </div>

                        </div>
                        <legend></legend>
                    }
                    

                    <div class="row">&nbsp;</div>

                    <div class="row">
                        <div style="text-align:center;">
                            *Si ha revisado todo el material de inducci&oacute;n, presione aceptar para imprimir el certificado.<br />
                            El proceso finaliza con su aceptaci&oacute;n y no estar&aacute; disponible nuevamente.
                        </div>
                    </div>

                    <div class="row">&nbsp;</div>

                    <div class="row">
                        <div style="text-align:center;">
                            <form asp-action="IngresarInduccion" id="checkout-form" novalidate="novalidate">

                                <input type="submit" value="Cerrar e imprimir certificado" class="btn btn-default" onclick="return confirm('Proceso de inducci&oacute;n finalizado');" />

                            </form>
                        </div>
                    </div>



                </div>
            </div>

        </div>

    </div>


@section Scripts {
    <script src="~/js/plugin/bootstrap-wizard/jquery.bootstrap.wizard.min.js"></script>
<script src="~/js/plugin/fuelux/wizard/wizard.min.js"></script>

<script src='~/lib/waitMe/waitMe.min.js'></script>
<script src='~/js/site.js'></script>

}
