@model bd.webappth.entidades.Negocio.ComportamientoObservable

<fieldset>
    <div class="row">
        <section class="col col-6">
            <label class="label">@Html.DisplayNameFor(model => model.Nivel.Nombre)</label>
            <label class="input">
                <select asp-for="IdNivel" class="form-control" asp-items="ViewBag.IdNivel">
                    <option id="0"><Seleccione una @Html.DisplayNameFor(model => model.IdNivel)></option>
                </select>
                <span asp-validation-for="IdNivel" class="text-danger"></span>
            </label>
        </section>
        <section class="col col-6">
            <label class="label">@Html.DisplayNameFor(model => model.DenominacionCompetencia)</label>
            <label class="input">
                <select asp-for="IdDenominacionCompetencia" class="form-control" asp-items="ViewBag.IdDenominacionCompetencia">
                    <option id="0"><Seleccione una @Html.DisplayNameFor(model => model.IdDenominacionCompetencia)></option>
                </select>
                <span asp-validation-for="IdDenominacionCompetencia" class="text-danger"></span>
            </label>
        </section>
    </div>
    <section>
        <label class="label">@Html.DisplayNameFor(model => model.Descripcion)</label>
        <label class="textarea">
            <textarea maxlength="1000" asp-for="Descripcion" rows="4"></textarea>
            <span asp-validation-for="Descripcion" class="text-danger"></span>
        </label>
    </section>
</fieldset> 