@model bd.webappth.entidades.Negocio.SolicitudPlanificacionVacaciones

@{
    ViewData["Title"] = "SolicitudPlanificacionVacaciones";
}


<!-- MAIN CONTENT -->
<div id="content">

    <!-- widget grid -->
    <section id="widget-grid" class="">

        <!-- START ROW -->
        <div class="row">
            <!-- NEW COL START -->
            <article class="col-sm-12 col-md-12 col-lg-12">
                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget" id="wid-id-1" data-widget-editbutton="false" data-widget-custombutton="false">

                    <header>
                        <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                        <h2>Solicitud Planificaci&oacute;n Vacaciones</h2>
                    </header>
                    <!-- widget div-->
                    <div>

                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->

                        </div>
                        <!-- end widget edit box -->
                        <!-- widget content -->
                        <div class="widget-body no-padding">

                            <form asp-action="AprobarVacaciones" id="checkout-form" class="smart-form" novalidate="novalidate">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <input type="hidden" asp-for="IdEmpleado" />
                                <input type="hidden" asp-for="IdSolicitudPlanificacionVacaciones" />
                                <input type="hidden" asp-for="FechaDesde" />
                                <input type="hidden" asp-for="FechaHasta" />
                                <input type="hidden" asp-for="FechaSolicitud" />
                                <fieldset>
                                    <div class="row">
                                        <section class="col col-4">
                                            <label>Fecha solicitud:</label>
                                            <label class="input">
                                                <i class="icon-append fa fa-calendar"></i>
                                                <input value="@ViewData["FechaSolicitud"]" disabled="disabled"   type="text" placeholder="Seleccione fecha solicitud" class="datepicker" data-dateformat='dd/mm/yy'>
                                            </label>
                                        </section>
                                        <section class="col col-4">
                                            <label>Fecha desde:</label>
                                            <label class="input">
                                                <i class="icon-append fa fa-calendar"></i>
                                                <input value="@ViewData["FechaDesde"]"  disabled="disabled"   type="text" placeholder="Seleccione fecha desde" class="datepicker" data-dateformat='dd/mm/yy'>
                                            </label>
                                        </section>
                                        <section class="col col-4">
                                            <label>Fecha hasta:</label>
                                            <label class="input">
                                                <i class="icon-append fa fa-calendar"></i>
                                                <input value="@ViewData["FechaHasta"]"  disabled="disabled" type="text" placeholder="Seleccione fecha hasta" class="datepicker" data-dateformat='dd/mm/yy'>
                                            </label>
                                        </section>

                                        <div class="form-group">
                                            <div class="col col-6">
                                                <div class="col-md-2">
                                                    <label class="radio radio-inline">
                                                        <input type="radio" name="Estado" value="-1" class="radiobox">
                                                        <span>Negado</span>
                                                    </label>
                                                </div>
                                                <div class="col-md-2">
                                                    <label class="radio radio-inline">
                                                        <input type="radio" name="Estado" value="0" class="radiobox" checked="checked">
                                                        <span>Pendiente</span>
                                                    </label>
                                                </div>
                                                <div class="col-md-2">
                                                    <label class="radio radio-inline">
                                                        <input type="radio" name="Estado" value="1" class="radiobox">
                                                        <span>Aprobado</span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>                  
                                    </div>
                                    <br />

                                        <section>
                                            <label>Observaciones:</label>
                                            <label class="label"></label>
                                            <label class="textarea">
                                                <i class="icon-append fa fa-comment"></i>
                                                <textarea maxlength="150" asp-for="Observaciones" rows="4" placeholder="@Html.DisplayNameFor(model=>model.Observaciones)"></textarea>
                                                <span asp-validation-for="Observaciones" class="text-danger"></span>
                                            </label>
                                        </section>
                                        <span class="text-danger">@ViewData["Error"]</span>
                                    </fieldset>
                                <footer>
                                    <input type="submit" value="Guardar" class="btn btn-primary" />
                                    <a asp-action="DetallePlanificacionVacaciones" asp-route-id="@Model.IdEmpleado" class="btn btn-default">Cancelar</a>
                                </footer>
                            </form>
                        </div>
                        <!-- end widget content -->
                    </div>
                    <!-- end widget div -->
                </div>
                <!-- end widget -->

            </article>

        </div>
        <!-- END ROW -->
    </section>
    <!-- end widget grid -->
    <!-- Modal -->

</div>
<!-- END MAIN CONTENT -->
@section Scripts {
    <script type="text/javascript">


    </script>
}


