@model bd.webappth.entidades.Negocio.IndiceOcupacional

<link rel="stylesheet" href="~/lib/select2/dist/css/select2.min.css" />
<link rel="stylesheet" href="~/lib/select2/dist/css/select2.min.css" />
<link rel="stylesheet" href="~/lib/waitMe/waitMe.min.css" />

<div id="content">
    <section id="widget-grid" class="">
        <div class="row">
            <article class="col-sm-12 col-md-12 col-lg-12">
                <div class="jarviswidget" id="wid-id-1" data-widget-editbutton="false" data-widget-custombutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                        <h2>Men&uacute;s</h2>
                    </header>
                    <div>
                        <div class="jarviswidget-editbox">
                        </div>
                        <div class="widget-body no-padding">
                            <form asp-action="Create" id="checkout-form" class="smart-form" novalidate="novalidate">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <fieldset>
                                    @if (@ViewData["Error"].ToString() != "")
                                    {
                                      
                                        <div class="col-lg-12">
                                            <div class="alert alert-block  bordered">
                                                <a class="close" data-dismiss="alert" href="#"><p><strong> <bold>X</bold></strong></p></a>
                                                <h4 class="alert-heading"><i class="fa fa-check-square-o"></i>Informaci&oacute;n!</h4>
                                                <p>
                                                    <span class="text-info"><strong> <bold> @ViewData["Error"]</bold></strong></span>
                                                </p>
                                            </div>
                                        </div>
                                    }
                                    <div class="row">
                                        <section class="col col-6">
                                            <label class="input">
                                                <select asp-for="IdDependencia" asp- class="form-control" asp-items="ViewBag.IdDependencia">
                                                    <option value="0" selected="" disabled="">@Html.DisplayNameFor(model => model.Dependencia.Nombre)</option>
                                                </select>
                                                <span asp-validation-for="IdDependencia" class="text-danger"></span>
                                            </label>
                                        </section>
                                        <section class="col col-6">
                                            <label class="input">
                                                <select asp-for="IdManualPuesto" asp- class="form-control" asp-items="ViewBag.IdManualPuesto">
                                                    <option value="0" selected="" disabled="">@Html.DisplayNameFor(model => model.IdManualPuesto)</option>
                                                </select>
                                                <span asp-validation-for="IdManualPuesto" class="text-danger"></span>
                                            </label>
                                        </section>
                                    </div>
                                    <div class="row">
                                        <section class="col col-6">
                                            <label class="input">
                                                <select asp-for="IdRolPuesto" asp- class="form-control" asp-items="ViewBag.IdRolPuesto">
                                                    <option value="0" selected="" disabled="">@Html.DisplayNameFor(model => model.IdRolPuesto)</option>
                                                </select>
                                                <span asp-validation-for="IdRolPuesto" class="text-danger"></span>
                                            </label>
                                        </section>
                                        <section class="col col-6">
                                            <label class="input">
                                                <select asp-for="IdEscalaGrados" asp- class="form-control" asp-items="ViewBag.IdEscalaGrados">
                                                    <option value="0" selected="" disabled="">@Html.DisplayNameFor(model => model.IdEscalaGrados)</option>
                                                </select>
                                                <span asp-validation-for="IdEscalaGrados" class="text-danger"></span>
                                            </label>
                                        </section>
                                    </div>
                                </fieldset>
                                <footer>
                                    <input type="submit" value="Guardar" class="btn btn-primary" />
                                    <a asp-action="Index" class="btn btn-default">Cancelar</a>
                                </footer>
                            </form>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>
@section Scripts {

    <script src='~/lib/select2/dist/js/select2.min.js'></script>
    <script src='~/lib/select2/dist/js/i18n/es.js'></script>
    <script src='~/lib/waitMe/waitMe.min.js'></script>
    <script src='~/js/site.js'></script>
    <script type="text/javascript">
    $(document).ready(function () {
        Init_Select2();
    });
    </script>
}




