@model bd.webappth.entidades.ViewModels.IndiceOcupacionalViewModel
@using bd.webappth.entidades.ViewModels
@{ var modelo = new IndiceOcupacionalViewModel { IdIndiceOcupacional = Model.IdIndiceOcupacional, OpcionMenu = 0 }; }
@{await Html.RenderPartialAsync("_PartialViewIndiceOcupacional", modelo);}

<!-- MAIN CONTENT -->
<div id="content">

    <div class="row">
        <section id="" class="">
            <div class="row">
                <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="alert alert-danger hidden-lg hidden-md hidden-sm">
                        <b>Nota:</b>
                        Este plugin no es responsive
                    </div>
                    <div class="jarviswidget" id="wid-id-0" data-widget-togglebutton="false" data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" role="widget" style="">

                        <div>
                            <article class="col-sm-12 col-md-12 col-lg-12">
                                <article class="col-sm-12 col-md-12 col-lg-12">
                                    <fieldset>
                                        <legend>Datos de identificaci&oacute;n del puesto</legend>
                                        <div>

                                            <label><strong>@Html.DisplayNameFor(Model => Model.NombreManualPuesto):</strong></label>
                                            <label>@Model.NombreManualPuesto</label>
                                            <br />
                                            <label><strong>@Html.DisplayNameFor(Model => Model.Nivel):</strong></label>
                                            <label>@Model.Nivel</label>
                                            <br />
                                            <label><strong>@Html.DisplayNameFor(Model => Model.NombreDependencia):</strong></label>
                                            <label>@Model.NombreDependencia</label>
                                            <br />
                                            <label><strong>@Html.DisplayNameFor(Model => Model.NombreRolPuesto):</strong></label>
                                            <label>@Model.NombreRolPuesto</label>
                                            <br />
                                            <label><strong>@Html.DisplayNameFor(Model => Model.NombreEscalaGrados):</strong></label>
                                            <label>@Model.NombreEscalaGrados</label>
                                            <br />
                                            <label><strong>@Html.DisplayNameFor(Model => Model.Grado):</strong></label>
                                            <label>@Model.Grado</label>
                                            <br />
                                            <label><strong>@Html.DisplayNameFor(Model => Model.NombreAmbito)</strong></label>
                                            <label>@Model.NombreAmbito</label>
                                            <br />
                                        </div>

                                    </fieldset>
                                </article>
                            </article>

                            <p>&nbsp</p>
                            <p>&nbsp</p>
                            <article class="col-sm-12 col-md-12 col-lg-12">
                                <article class="col-sm-12 col-md-12 col-lg-6">
                                    <fieldset>
                                        <legend>@Html.DisplayNameFor(Model => Model.MisionManualPuesto)</legend>
                                        <p class="text-justify">
                                            @Model.DescripcionManualPuesto
                                        </p>
                                    </fieldset>
                                </article>
                                <article class="col-sm-12 col-md-12 col-lg-6">
                                    <fieldset>

                                        <legend>@Html.DisplayNameFor(Model => Model.NombreRelacionesInternasExternas)</legend>
                                        <p class="text-justify">
                                            @Model.DescripcionRelacionesInternasExternas
                                        </p>

                                    </fieldset>
                                </article>
                            </article>
                            <p>&nbsp</p>
                        </div>

                    </div>
                </article>
            </div>
        </section>
    </div>
</div>


@section Scripts {
    <script src='~/js/datatables/init.js'></script>
}


