@model bd.webappth.entidades.ViewModels.IndiceOcupacionalViewModel

@{await Html.RenderPartialAsync("_PartialViewIndiceOcupacional",Model);}

<!-- MAIN CONTENT -->
<div id="content">

    <div class="row">
        <section id="widget-grid" class="">
            <div class="row">
                <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="alert alert-danger hidden-lg hidden-md hidden-sm">
                        <b>Nota:</b>
                        Este plugin no es responsive
                    </div>
                    <div class="jarviswidget" id="wid-id-0" data-widget-togglebutton="false" data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" role="widget" style="">

                        <div>
                            <article class="col-sm-12 col-md-12 col-lg-12">
                                <article class="col-sm-12 col-md-12 col-lg-12">
                                    <fieldset>
                                        <legend>Datos de identificaci&oacute;n del puesto</legend>
                                        <div>
                                            <label><strong>Rol:</strong></label>
                                            <label>@Model.RolPuesto</label>
                                            <br />
                                            <label><strong>Denominaci&oacute;n del puesto:</strong></label>
                                            <label>@Model.ManualPuesto</label>
                                            <br />
                                            <label><strong>Grupo ocupacional:</strong></label>
                                            <label>@Model.EscalaGrado</label>
                                            <br />
                                            <label><strong>Grado:</strong></label>
                                            <label>@Model.EscalaGrado</label>
                                            <br />

                                            <label><strong>Unidad aministrativa:</strong></label>
                                            <label>Secretar&iacute;a general</label>
                                        </div>

                                    </fieldset>
                                </article>
                            </article>

                            <p>&nbsp</p>
                            <p>&nbsp</p>
                            <article class="col-sm-12 col-md-12 col-lg-12">
                                <article class="col-sm-12 col-md-12 col-lg-6">
                                    <fieldset>
                                        <legend>Misi&oacute;n</legend>
                                        <p class="text-justify">
                                            @Model.Mision
                                        </p>
                                    </fieldset>
                                </article>
                                <article class="col-sm-12 col-md-12 col-lg-6">
                                    <fieldset>

                                        <legend>Relaciones Internas y Externas</legend>
                                        <p class="text-justify">
                                            @Model.RelacionesInternasExternas
                                        </p>

                                    </fieldset>
                                </article>
                            </article>
                            <p>&nbsp</p>
                        </div>

                    </div>
                </article>
            </div>
        </section>
    </div>
</div>


@section Scripts {
    <script src='~/js/datatables/init.js'></script>
}


