@model bd.webappth.entidades.ViewModels.IndiceOcupacionalDetalle

<link rel="stylesheet" href="~/lib/select2/dist/css/select2.min.css" />
<link rel="stylesheet" href="~/lib/select2/dist/css/select2.min.css" />
<link rel="stylesheet" href="~/lib/waitMe/waitMe.min.css" />
<link rel="stylesheet" href="~/lib/waitMe/waitMe.css" />
<script src='~/js/site.js'></script>
<script src='~/lib/waitMe/waitMe.min.js'></script>


<div id="content">
    <!-- row -->
    <div class="row">
        <!-- col -->
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="btn-group">
                <button class="btn btn-primary">
                   Acciones
                </button>
                <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li>
                        @Html.ActionLink("Adicionar Área de conocimiento", "AdicionarAreaConocimiento", "IndicesOcupacionales", new { idIndiceOcupacional=Model.IndiceOcupacional.IdIndiceOcupacional }, new { @class = "dialog-window" })
                        
                    </li>
                    <li>
                       @Html.ActionLink("Adicionar Actividades esenciales", "AdicionarActividesEsenciales", "IndicesOcupacionales", new { idIndiceOcupacional = Model.IndiceOcupacional.IdIndiceOcupacional }, new { @class = "dialog-window" })
                    </li>
                    <li>
                       @Html.ActionLink("Adicionar Capacitaciones", "AdicionarCapacitaciones", "IndicesOcupacionales", new { idIndiceOcupacional = Model.IndiceOcupacional.IdIndiceOcupacional }, new { @class = "dialog-window" })
                    </li>
                    <li>
                        @Html.ActionLink("Adicionar Comportamientos Observables", "AdicionarComportamientosObservables", "IndicesOcupacionales", new { idIndiceOcupacional = Model.IndiceOcupacional.IdIndiceOcupacional }, new { @class = "dialog-window" })
                    </li>
                    <li>
                        @Html.ActionLink("Adicionar Conocimientos Adicionales", "AdicionarConocimientosAdicionales", "IndicesOcupacionales", new { idIndiceOcupacional = Model.IndiceOcupacional.IdIndiceOcupacional }, new { @class = "dialog-window" })
                    </li>
                    <li>
                        <a href="javascript:void(0);">Something else here</a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a asp-action="Index"><i class="fa fa-arrow-left"></i>  Regresar</a>
                    </li>
                </ul>
            </div>
            <p></p>
        <!-- end col -->
    </div>
    <section id="widget-grid" class="">
        <!-- row -->
        <div class="row">
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="alert alert-danger hidden-lg hidden-md hidden-sm">
                    <b>Nota:</b>
                    Este pugin no es responsive
                </div>
                <div class="jarviswidget" id="wid-id-0" data-widget-togglebutton="false" data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" role="widget" style="">
                    <header role="heading">

                        <ul class="nav nav-tabs pull-right in" id="myTab">
                            
                            <li class="active">
                                <a data-toggle="tab" href="#s1"><i class="fa fa-crop text-success"></i> <span class="hidden-mobile hidden-tablet">API</span></a>
                            </li>
                        </ul>
                        <span class="jarviswidget-loader"><i class="fa fa-refresh fa-spin"></i></span>
                    </header>
                    <!-- widget div-->
                    <div>
                        <!-- widget edit box -->
                        <div>
                            <article class="col-sm-12 col-md-5 col-lg-12">
                                <fieldset>
                                      <legend class=""> <strong> Descripci&oacute;n y Perfil del puesto</strong></legend>
                                </fieldset>
                            </article>
                        </div>
                        <article class="col-sm-12 col-md-12 col-lg-12">
                            <article class="col-sm-12 col-md-12 col-lg-6">
                                <fieldset>
                                    <legend>Datos de identificaci&oacute;n del puesto</legend>
                                    <div>
                                        <label><strong>Rol:</strong></label>
                                        <label>@Model.IndiceOcupacional.RolPuesto.Nombre</label>
                                        <br />
                                        <label><strong>Denominaci&oacute;n del puesto:</strong></label>
                                        <label>@Model.IndiceOcupacional.ManualPuesto.Nombre</label>
                                        <br />
                                        <label><strong>Grupo ocupacional:</strong></label>
                                        <label>@Model.IndiceOcupacional.EscalaGrados.GrupoOcupacional.Nombre</label>
                                        <br />
                                        <label><strong>Grado:</strong></label>
                                        <label>@Model.IndiceOcupacional.EscalaGrados.Grado</label>
                                        <br />
                                        
                                        <label><strong>Unidad aministrativa:</strong></label>
                                        <label>Secretar&iacute;a general</label>
                                    </div>

                                </fieldset>
                            </article>
                            <article class="col-sm-12 col-md-12 col-lg-6">
                                <fieldset>
                                    <legend>Misi&oacute;n</legend>
                                    
                                      @if (Model.ListaMisiones.Count != 0)
                                      {
                                          @Html.ActionLink("Eliminar", "EliminarIndiceOcupacionalMisiones", "Misiones", new { idMision = Model.ListaMisiones.FirstOrDefault().IdMision, idIndiceOcupacional = Model.IndiceOcupacional.IdIndiceOcupacional }, new { onclick = "return confirm('Desea eliminar el registro ?');" })
                                          <p class="text-justify text-">
                                            @Model.ListaMisiones.FirstOrDefault().Descripcion
                                       </p>
                                      }
                                      else
                                      { 
                                        <p>No se ha establecido la misi&oacute;n</p>
                                      }

                                </fieldset>
                            </article>
                        </article>

                        <article class="col-lg-6">
                            <legend>Instrucci&oacute; Formal Requerida </legend>
                            <article class="col-sm-12 col-md-12 col-lg-6">
                                <div class="jarviswidget jarviswidget-color-darken" data-widget-togglebutton="false" data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" id="wid-id-1">
                                    <header>
                                        <span class="widget-icon"> <i class="fa fa-graduation-cap"></i> </span>
                                        <h2>Nivel de instrucci&oacute;n </h2>
                                    </header>
                                    <fieldset>
                                        <table id="dt_basic" class="table table-striped table-bordered table-hover" width="100%">
                                            <thead>

                                            </thead>
                                            <tbody>
                                                @if (Model.ListaEstudios.Count != 0)
                                                {
                                                    @foreach (var item in Model.ListaEstudios)
                                                    {
                                                        <tr>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.Nombre)
                                                            </td>

                                                            <td>
                                                               @Html.ActionLink("Eliminar", "EliminarIndiceOcupacionalEstudios", "Estudios", new { idEstudio = item.IdEstudio, idIndiceOcupacional = Model.IndiceOcupacional.IdIndiceOcupacional }, new { onclick = "return confirm('Desea eliminar el registro ?');" })
                                                            </td>
                                                        </tr>
                                                    }
                                                }
                                                else
                                                {
                                                    <tr>
                                                        <td>
                                                            <p>No existen resultados</p>
                                                       </td>
                                                    </tr>
                                                }

                                            </tbody>
                                        </table>
                                    </fieldset>
                                </div>
                            </article>
                            <article class="col-sm-12 col-md-12 col-lg-6">
                                <div class="jarviswidget jarviswidget-color-darken" data-widget-togglebutton="false" data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" id="wid-id-1">
                                    <header>
                                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                                        <h2>&Aacute;rea de conocimiento </h2>
                                    </header>
                                    <fieldset>

                                        <table id="dt_basic" class="table table-striped table-bordered table-hover" width="100%">
                                            <thead>
                                                
                                            </thead>
                                            <tbody>
                                                @if (Model.ListaAreaConocimientos.Count != 0)
                                                {
                                                    @foreach (var item in Model.ListaAreaConocimientos)
                                                    {
                                                        <tr>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.Descripcion)
                                                            </td>

                                                            <td>
                                                                @Html.ActionLink("Eliminar", "EliminarIndiceOcupacionalAreaConocimiento", "AreasConocimientos",new { idAreaConocimiento=item.IdAreaConocimiento, idIndiceOcupacional=Model.IndiceOcupacional.IdIndiceOcupacional } ,new { onclick = "return confirm('Desea eliminar registro... ?');" })
                                                            </td>
                                                        </tr>
                                                    }
                                                }
                                                else
                                                {
                                                    <tr>
                                                        <td>
                                                            <p>No existen resultados</p>
                                                        </td>
                                                    </tr>
                                                }
                                              
                                            </tbody>
                                        </table>
                                    </fieldset>
                                </div>
                            </article>
                        </article>


                        <article class="col-sm-12 col-md-12 col-lg-6">
                            <fieldset>
                               
                                <legend>Relaciones Internas y Externas</legend>
                                @if (Model.ListaRelacionesInternasExternas.Count != 0)
                                {
                                    @Html.ActionLink("Eliminar", "EliminarIncideOcupacionalRelacionesInternasExternas", "RelacionesInternasExternas", new { idRelacionesInternasExternas = Model.ListaRelacionesInternasExternas.FirstOrDefault().IdRelacionesInternasExternas, idIndiceOcupacional = Model.IndiceOcupacional.IdIndiceOcupacional }, new { onclick = "return confirm('Desea eliminar el registro ?');" })
                                    <p>
                                    @Model.ListaRelacionesInternasExternas.FirstOrDefault().Descripcion
                                </p>
                                }
                                else
                                {
                                    <p>No se ha establecido la misi&oacute;n</p>
                                }
                               
                            </fieldset>
                        </article>

                        <article class="col-lg-12">
                            <article class="col-sm-12 col-md-12 col-lg-6">
                                <legend>Experiencia Laboral Requerida </legend>
                                <div class="jarviswidget jarviswidget-color-darken" data-widget-togglebutton="false" data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" id="wid-id-1">
                                    <header>
                                        <span class="widget-icon"> <i class="fa fa-clock-o"></i> </span>
                                        <h2>Experiencia laboral requerida </h2>
                                    </header>
                                    <fieldset>

                                        <table id="dt_basic" class="table table-striped table-bordered table-hover" width="100%">
                                            <thead>
                                                
                                                <tr>
                                                    @if(Model.ListaExperienciaLaboralRequeridas.Count != 0)
                                                    {
                                                    <th data- class="expand"><i class="fa fa-fw fa-clock-o text-muted hidden-md hidden-sm hidden-xs"></i> Nivel instrucci&oacute;n</th>
                                                    <th data-hide="phone"><i class="fa fa-fw fa-dot-circle-o text-muted hidden-md hidden-sm hidden-xs"></i> Años de experiencia</th>
                                                    <th data-hide="phone"><i class="fa fa-fw fa-dot-circle-o text-muted hidden-md hidden-sm hidden-xs"></i> Especidad de la experiencia</th>
                                                    <th></th>
                                                    }
                                                </tr>

                                            </thead>
                                            <tbody>
                                               @if (Model.ListaExperienciaLaboralRequeridas.Count != 0)
                                               {
                                                @foreach (var item in Model.ListaExperienciaLaboralRequeridas)
                                                {
                                                    <tr>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.Estudio.Nombre)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.AnoExperiencia.Descripcion)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.EspecificidadExperiencia.Descripcion)
                                                        </td>
                                                        

                                                        <td>
                                                           @Html.ActionLink("Eliminar", "EliminarIndiceOcupacionalExperienciaLaboralRequerida", "ExperienciaLaboralRequerida", new { idExperienciaLaboralRequerida = item.IdExperienciaLaboralRequerida, idIndiceOcupacional = Model.IndiceOcupacional.IdIndiceOcupacional }, new { onclick = "return confirm('Desea eliminar el registro ?');" })
                                                        </td>
                                                    </tr>
                                                }
                                               }
                                               else
                                               {
                                                <tr>
                                                    <td>
                                                        <p>No existen resultados</p>
                                                    </td>
                                                </tr>
                                               }
                                            </tbody>
                                        </table>
                                    </fieldset>
                                </div>
                            </article>
                            <article class="col-sm-12 col-md-12 col-lg-6">
                                <legend>Capacitaci&oacute;n Requerida para el puesto </legend>
                                <div class="jarviswidget jarviswidget-color-darken" data-widget-togglebutton="false" data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" id="wid-id-1">
                                    <header>
                                        <span class="widget-icon"> <i class="fa fa-list-alt"></i> </span>
                                        <h2>Capacitaci&oacute;n requerida</h2>
                                    </header>
                                    <fieldset>

                                        <table id="dt_basic" class="table table-striped table-bordered table-hover" width="100%">
                                            <thead>
                                                
                                            </thead>
                                            <tbody>
                                                @if (Model.ListaCapacitaciones.Count != 0)
                                                {
                                                    @foreach (var item in Model.ListaCapacitaciones)
                                                    {
                                                        <tr>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.Nombre)
                                                            </td>

                                                            <td>
                                                                @Html.ActionLink("Eliminar", "EliminarIndiceOcupacionalCapacitaciones", "Capacitaciones", new { idCapacitacion = item.IdCapacitacion, idIndiceOcupacional=Model.IndiceOcupacional.IdIndiceOcupacional },new { onclick = "return confirm('Desea eliminar el registro ?');" })
                                                            </td>
                                                        </tr>
                                                    }
                                                }
                                                else
                                                {
                                                    <tr>
                                                        <td>
                                                            <p>No existen resultados</p>
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </fieldset>
                                </div>
                            </article>
                        </article>
                      
                        <article class="col-lg-12">

                            <article class="col-sm-12 col-md-12 col-lg-6">
                                <legend>Actividades esenciales </legend>
                                <div class="jarviswidget jarviswidget-color-darken" data-widget-togglebutton="false" data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" id="wid-id-1">
                                    <header>
                                        <span class="widget-icon"> <i class="fa fa-hospital-o"></i> </span>
                                        <h2>Actividades esenciales </h2>
                                    </header>
                                    <fieldset>

                                        <table id="dt_basic" class="table table-striped table-bordered table-hover" width="100%">
                                            <thead>

                                            </thead>
                                            <tbody>
                                                @if (Model.ListaActividadesEsenciales.Count != 0)
                                                {
                                                    @foreach (var item in Model.ListaActividadesEsenciales)
                                                    {
                                                        <tr>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.Descripcion)
                                                            </td>

                                                            <td>
                                                                @Html.ActionLink("Eliminar", "EliminarIncideOcupacionalActividadesEsenciales", "ActividadesEsenciales", new { IdActividadesEsenciales = item.IdActividadesEsenciales, idIndiceOcupacional = Model.IndiceOcupacional.IdIndiceOcupacional }, new { onclick = "return confirm('Desea eliminar registro... ?');" })                                                            
                                                            </td>
                                                        </tr>
                                                    }
                                                }
                                                else
                                                {
                                                    <tr>
                                                        <td>
                                                            <p>No existen resultados</p>
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </fieldset>
                                </div>
                            </article>
                            <article class="col-sm-12 col-md-12 col-lg-6">
                                <legend> Conocimientos adicionales </legend>
                                <div class="jarviswidget jarviswidget-color-darken" data-widget-togglebutton="false" data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" id="wid-id-1">
                                    <header>
                                        <span class="widget-icon"> <i class="fa fa-plus-square"></i> </span>
                                        <h2>Conocimientos adicionales</h2>
                                    </header>
                                    <fieldset>

                                        <table id="dt_basic" class="table table-striped table-bordered table-hover" width="100%">
                                            <thead>
                                                
                                            </thead>
                                            <tbody>
                                                @if (Model.ListaConocimientosAdicionales.Count != 0)
                                                {
                                                    @foreach (var item in Model.ListaConocimientosAdicionales)
                                                    {
                                                        <tr>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.Descripcion)
                                                            </td>

                                                            <td>
                                                                @Html.ActionLink("Eliminar", "EliminarIndiceOcupacionalConocimientosAdicionales", "ConocimientosAdicionales", new { idConocimientosAdicionales = item.IdConocimientosAdicionales, idIndiceOcupacional = Model.IndiceOcupacional.IdIndiceOcupacional }, new { onclick = "return confirm('Desea eliminar registro... ?');" })
                                                            </td>
                                                        </tr>
                                                    }
                                                }
                                                else
                                                {
                                                    <tr>
                                                        <td>
                                                            <p>No existen resultados</p>
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </fieldset>
                                </div>
                            </article>
                        </article>

                        <article class="col-lg-12">

                            <article class="col-sm-12 col-md-12 col-lg-12">
                                <legend>Competencias t&eacute;cnicas </legend>
                                <div class="jarviswidget jarviswidget-color-darken" data-widget-togglebutton="false" data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" id="wid-id-1">
                                    <header>
                                        <span class="widget-icon"> <i class="fa fa-adjust"></i> </span>
                                        <h2>Competencias t&eacute;cnicas</h2>
                                    </header>
                                    <fieldset>

                                        <table id="dt_basic" class="table table-striped table-bordered table-hover" width="100%">
                                            <thead>
                                                <tr>
                                                    @if (Model.ListaComportamientoObservables.Count != 0)
                                                    {
                                                        <th data-class="expand"><i class="fa fa-fw fa-clock-o text-muted hidden-md hidden-sm hidden-xs"></i> Denominaci&oacute;n</th>
                                                        <th data-hide="phone"><i class="fa fa-fw fa-dot-circle-o text-muted hidden-md hidden-sm hidden-xs"></i> Nivel</th>
                                                        <th data-hide="phone"><i class="fa fa-fw fa-dot-circle-o text-muted hidden-md hidden-sm hidden-xs"></i> Comportamiento observable</th>
                                                        <th data-hide="phone"><i class="fa fa-fw fa-dot-circle-o text-muted hidden-md hidden-sm hidden-xs"></i> ¿Es competencia t&eacute;cnica?</th>
                                                        <th data-hide="phone">Opciones</th>
                                                    }
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @if (Model.ListaComportamientoObservables.Count != 0)
                                                {
                                                    @foreach (var item in Model.ListaComportamientoObservables)
                                                    {
                                                        <tr>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.DenominacionCompetencia.Nombre)
                                                            </td>

                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.Nivel.Nombre)
                                                            </td>

                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.Descripcion)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.DenominacionCompetencia.CompetenciaTecnica)
                                                            </td>

                                                            <td>
                                                                @Html.ActionLink("Eliminar", "EliminarIndiceOcupacionalComportamiemtoObservable", "ComportamientosObservables", new { idComportamientoObservable = item.IdComportamientoObservable, idIndiceOcupacional = Model.IndiceOcupacional.IdIndiceOcupacional }, new { onclick = "return confirm('Desea eliminar registro... ?');" })
                                                            </td>
                                                        </tr>
                                                    }
                                                }
                                                else
                                                {
                                                    <tr>
                                                        <td><p>No existen resultados</p></td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </fieldset>
                                </div>
                            </article>

                        </article>
                    </div>
                    <!-- end widget div -->
                </div>
                <!-- end widget -->
            </article>


            <!-- WIDGET END -->
        </div>
        <!-- end row -->
    </section>
    <!-- end widget grid -->
 </div>
</div>
<!-- END MAIN CONTENT -->
@{await Html.RenderPartialAsync("Modal", new bd.webappth.entidades.Negocio.IndiceOcupacionalActividadesEsenciales());}
@{await Html.RenderPartialAsync("Modal", new bd.webappth.entidades.Negocio.IndiceOcupacionalAreaConocimiento());}
@{await Html.RenderPartialAsync("Modal", new bd.webappth.entidades.Negocio.IndiceOcupacionalCapacitaciones());}
@{await Html.RenderPartialAsync("Modal", new bd.webappth.entidades.ViewModels.IndiceOcupacionalComportamientoObservableView());}
@{await Html.RenderPartialAsync("Modal", new bd.webappth.entidades.Negocio.IndiceOcupacionalConocimientosAdicionales());}


@section Scripts {
<script src='~/lib/select2/dist/js/select2.min.js'></script>
<script src='~/lib/select2/dist/js/i18n/es.js'></script>
<script src='~/lib/waitMe/waitMe.min.js'></script>
<script src='~/js/site.js'></script>
<script src='~/js/vistasmodales/modal.js'></script>

<script type="text/javascript">
    $(document).ready(function () {
        Init_Select2();
    });
</script>


}