@model List<bd.webappth.entidades.ViewModels.IndiceOcupacionalViewModel>

<link href="~/css/tabla/table.css" rel="stylesheet" />

<!-- MAIN CONTENT -->
<div id="content">
    <a asp-action="Create">
        <button type="button" asp-action="Create" class="btn btn-labeled btn-default">
            <span class="btn-label">
                <i class="glyphicon glyphicon-plus"></i>
            </span>Nuevo
        </button>
    </a>
    <p> </p>
    <section id="" class="">
        <div class="row">
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="jarviswidget jarviswidget-color-darken" id="wid-id-0" data-widget-editbutton="false">
                    <header id="table">
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>Indices ocupacionales</h2>
                    </header>
                    <div>
                        <div class="jarviswidget-editbox">
                        </div>
                        <div class="widget-body no-padding">
                            <table id="dt_basic" class="table table-striped table-bordered table-hover" width="100%">
                                <thead>
                                    <tr>
                                        <th data-hide="phone">
                                            @Html.DisplayNameFor(model =>
                                                model.FirstOrDefault().CodigoDependencia
                                            )
                                        </th>

                                        <th data-hide="phone">
                                            @Html.DisplayNameFor(model =>
                                                model.FirstOrDefault().NombreDependencia
                                            )
                                        </th>
                                        <th data-hide="phone">
                                            @Html.DisplayNameFor(model =>
                                                model.FirstOrDefault().NombreManualPuesto
                                            )
                                        </th>
                                        <th data-hide="phone">
                                            @Html.DisplayNameFor(model =>
                                                model.FirstOrDefault().NombreRolPuesto
                                            )
                                        </th>
                                        <th data-hide="phone">
                                            @Html.DisplayNameFor(model =>
                                                model.FirstOrDefault().Nivel
                                            )
                                        </th>
                                        <th data-hide="phone">
                                            @Html.DisplayNameFor(model =>
                                                model.FirstOrDefault().NombreAmbito
                                            )
                                        </th>
                                        <th data-hide="phone">
                                            @Html.DisplayNameFor(model =>
                                                model.FirstOrDefault().NombreEscalaGrados
                                            )
                                        </th>
                                        <th data-hide="phone">
                                            @Html.DisplayNameFor(model =>
                                                model.FirstOrDefault().Remuneracion
                                            )
                                        </th>

                                        <th>Opciones</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    @foreach (var item in Model)
                                    {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.CodigoDependencia)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.NombreDependencia)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.NombreManualPuesto)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.NombreRolPuesto)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Nivel)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.NombreAmbito)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.NombreEscalaGrados)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Remuneracion)
                                        </td>

                                        <td>
                                            @*@Html.ActionLink("Editar", "Edit", new { id = item.IdIndiceOcupacional }) |*@
                                            @Html.ActionLink("Detalle", "Detalle", new { id = item.IdIndiceOcupacional }) |
                                            @Html.ActionLink("Eliminar", "Delete", new { id = item.IdIndiceOcupacional }, new { onclick = "return confirm('Desea eliminar el registro?');" })
                                        </td>
                                    </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>
@section Scripts {
    <script src='~/js/datatables/init.js'></script>

}

