@model List<bd.webappth.entidades.Negocio.IndiceOcupacional>

<a asp-action="Create">
    <button type="button" asp-action="Create" class="btn btn-labeled btn-default">
        <span class="btn-label">
            <i class="glyphicon glyphicon-plus"></i>
        </span>Nuevo indice ocupacional
    </button>
</a>
<p> </p>
<!-- MAIN CONTENT -->
<div id="content">
    <section id="widget-grid" class="">
        <div class="row">
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="jarviswidget jarviswidget-color-darken" id="wid-id-0" data-widget-editbutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>Indicador</h2>
                    </header>
                    <div>
                        <div class="jarviswidget-editbox">
                        </div>
                        <div class="widget-body no-padding">
                            <table id="dt_basic" class="table table-striped table-bordered table-hover" width="100%">
                                <thead>
                                    <tr>
                                        <th data-hide="phone">
                                            @Html.DisplayNameFor(model => model.FirstOrDefault().Dependencia.Nombre)
                                        </th>
                                        <th data-hide="phone">
                                            @Html.DisplayNameFor(model => model.FirstOrDefault().ManualPuesto.Nombre)
                                        </th>
                                        <th data-hide="phone">
                                            @Html.DisplayNameFor(model => model.FirstOrDefault().RolPuesto.Nombre)
                                        </th>
                                        <th data-hide="phone">
                                            @Html.DisplayNameFor(model => model.FirstOrDefault().EscalaGrados.Grado)  /  @Html.DisplayNameFor(model => model.FirstOrDefault().EscalaGrados.Remuneracion)
                                        </th>
                                        <th>Opciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Dependencia.Nombre)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.ManualPuesto.Nombre)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.RolPuesto.Nombre)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.EscalaGrados.Grado)  /  @Html.DisplayFor(modelItem => item.EscalaGrados.Remuneracion)
                                            </td>

                                            <td>
                                                @Html.ActionLink("Editar", "Edit", new { id = item.IdIndiceOcupacional }) |
                                                @Html.ActionLink("Detalle", "Detalles", new { id = item.IdIndiceOcupacional }) |
                                                @Html.ActionLink("Eliminar", "Delete", new { id = item.IdIndiceOcupacional }, new { onclick = "return confirm('Desea eliminar el indicador... ?');" })
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>
@section Scripts {
    <script src='~/js/datatables/init.js'></script>
}

