@model List<bd.webappth.entidades.Negocio.IndiceOcupacionalModalidadPartida>

<link href="~/css/tabla/table.css" rel="stylesheet" />

<!-- MAIN CONTENT -->
<div id="content">
   
    <p> </p>
    <section id="" class="">
        <div class="row">
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="jarviswidget jarviswidget-color-darken" id="wid-id-0" data-widget-editbutton="false">
                    <header id="table">
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>Distributivo</h2>
                    </header>
                    <div>
                        <div class="jarviswidget-editbox">
                        </div>
                        <div class="widget-body no-padding">
                            <table id="dt_basic" class="table table-striped table-bordered table-hover" width="100%">
                                <thead>
                                    <tr>
                                        <th data-class="expand">
                                            Identificai&oacute;n
                                        </th>
                                        <th data-class="expand">
                                            Nombres y Apellidos
                                        </th>
                                        <th data-hide="phone">
                                            Unidad administrativa
                                        </th>
                                        <th data-hide="phone">
                                            Denominaci&oacute;n del puesto
                                        </th>
                                        <th data-hide="phone">
                                            Rol del puesto
                                        </th>
                                        <th data-hide="phone">
                                            &Aacute;mbito
                                        </th>
                                        <th data-hide="phone">
                                            Grupo ocupacional
                                        </th>

                                        <th data-hide="phone">
                                            Remuneraci&oacute;n
                                        </th>
                                        <th>Opciones</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    @foreach (var item in Model)
                                    {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Empleado.Persona.Identificacion)
                                        </td>
                                        <td>
                                            
                                       @(item.Empleado.Persona.Nombres + " " + item.Empleado.Persona.Apellidos)
                                            
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.IndiceOcupacional.Dependencia.Nombre)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.IndiceOcupacional.ManualPuesto.Nombre)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.IndiceOcupacional.RolPuesto.Nombre)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.IndiceOcupacional.Ambito.Nombre)
                                        </td>
                                        <td >
                                            @Html.DisplayFor(modelItem => item.IndiceOcupacional.EscalaGrados.Nombre)
                                        </td>
                                        <td>
                                            @{
                                                if (item.SalarioReal != null && item.SalarioReal > 0)
                                                {
                                                    <text>$@item.SalarioReal</text>
                                                }
                                                else
                                                {
                                                    <text>$@item.IndiceOcupacional.EscalaGrados.Remuneracion</text>
                                                }

                                            }
                                        </td>

                                        <td>
                                            @Html.ActionLink("Detalle", "Detalle", new { id = item.IdIndiceOcupacional })
                                            
                                        </td>
                                    </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>
@section Scripts {
    <script src='~/js/datatables/init.js'></script>

}

