

    <div class="btn-group btn-group-justified"  >
        <a href="javascript:void(0);" class="btn btn-default">Datos Personales</a>
        <a href="@Url.Action("IndexPersonaEstudio", "FichaEmpleado")" class="btn btn-default">Formaci&oacute;n <br /> Acad&eacute;mica </a>
        <a href="@Url.Action("IndexTrayectoriaLaboral", "FichaEmpleado")" class="btn btn-default">Trayectoria Laboral</a>
        <a href="@Url.Action("IndexEmpleadoFamiliar", "FichaEmpleado")" class="btn btn-default">Familiares</a>
        <a href="@Url.Action("IndexPersonaDiscapacidad", "FichaEmpleado")" class="btn btn-default">Discapacidades</a>
        <a href="@Url.Action("IndexPersonaEnfermedad", "FichaEmpleado")" class="btn btn-default">Enfermedades</a>
        <a href="@Url.Action("IndexDatoBancario", "FichaEmpleado")" class="btn btn-default">Datos Bancarios</a>
        <a href="javascript:void(0);" class="btn btn-default">Right</a>
    </div>
