@model bd.webappth.entidades.ViewModels.FichaEmpleadoViewModel

<link rel="stylesheet" href="~/lib/select2/dist/css/select2.min.css" />
<link rel="stylesheet" href="~/lib/waitMe/waitMe.min.css" />
<link rel="stylesheet" href="~/lib/waitMe/waitMe.css" />




@using bd.webappth.entidades.Utils
@{ var modelo = new FichaEmpleado { OpcionMenu = 0 }; }

@{await Html.RenderPartialAsync("_PartialViewMenu", modelo);}

<div id="content">
    @{await Html.RenderPartialAsync("_PartialViewBotonIndexEmpleado");}
    <section id="widget-grid" class="">
        <div class="row">
            <article class="col-sm-12 col-md-12 col-lg-12">
                <div class="jarviswidget" id="wid-id-1" data-widget-editbutton="false" data-widget-custombutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                        <h2>Datos del empleado</h2>
                    </header>
                    <div>
                        <div class="jarviswidget-editbox">
                        </div>
                        <div class="widget-body no-padding">
                            <form asp-action="Detalle" method="post" id="checkout-form" class="smart-form" novalidate="novalidate">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <input type="hidden" asp-for="IdEmpleado" />
                                <fieldset>
                                    <legend>Datos Personales</legend>
                                    <div class="row">
                                        <section class="col col-12">
                                            <label>Nombre de usuario:</label>
                                            <input asp-for="NombreUsuario" class="form-control input " type="text" />
                                            <span asp-validation-for="NombreUsuario" class="text-danger"></span>
                                        </section>
                                    </div>
                                    <div class="row">
                                        <section class="col col-3">
                                            <label>Tipo de Identificaci&oacute;n:</label>
                                            <select asp-for="IdTipoIdentificacion" asp- class="form-control" asp-items="ViewBag.IdTipoIdentificacion">
                                                <option value="0" selected="selected" disabled="">Seleccione</option>
                                            </select>
                                            <span asp-validation-for="IdTipoIdentificacion" class="text-danger"></span>
                                        </section>
                                        <section class="col col-3">
                                            <label>CI / Pasaporte </label>
                                            <input asp-for="Identificacion" class="form-control input " placeholder="Identificacion" type="text" />
                                            <span asp-validation-for="Identificacion" class="text-danger"></span>
                                            <span id="idIdentificacion" class="text-danger"></span>
                                        </section>
                                        <section class="col col-3">
                                            <label>Nombres</label>
                                            <input asp-for="Nombres" class="form-control input " placeholder="Nombres" type="text" />
                                            <span asp-validation-for="Nombres" class="text-danger"></span>
                                        </section>
                                        <section class="col col-3">
                                            <label>Apellidos </label>
                                            <input asp-for="Apellidos" class="form-control input " placeholder="Apellidos" type="text" />
                                            <span asp-validation-for="Apellidos" class="text-danger"></span>
                                        </section>
                                    </div>
                                    <div class="row">
                                        <section class="col col-3">
                                            <label>Sexo </label>
                                            <select asp-for="IdSexo" asp- class="form-control input " asp-items="ViewBag.IdSexo">
                                                <option value="0" selected="selected" disabled="">Seleccione</option>
                                            </select>
                                            <span asp-validation-for="IdSexo" class="text-danger"></span>
                                        </section>
                                        <section class="col col-3">
                                            <label>G&eacute;nero </label>
                                            <select asp-for="IdGenero" asp- class="form-control input " asp-items="ViewBag.IdGenero">
                                                <option value="0" selected="selected" disabled="">Seleccione</option>
                                            </select>
                                            <span asp-validation-for="IdGenero" class="text-danger"></span>
                                        </section>
                                        <section class="col col-3">
                                            <label>Estado Civil </label>
                                            <select asp-for="IdEstadoCivil" asp- class="form-control input " asp-items="ViewBag.IdEstadoCivil">
                                                <option value="0" selected="selected" disabled="">Seleccione</option>
                                            </select>
                                            <span asp-validation-for="IdEstadoCivil" class="text-danger"></span>
                                        </section>
                                        <section class="col col-3">
                                            <label>Tipo de Sangre </label>
                                            <select asp-for="IdTipoSangre" asp- class="form-control input " asp-items="ViewBag.IdTipoSangre">
                                                <option value="0" selected="selected" disabled="">Seleccione</option>
                                            </select>
                                            <span asp-validation-for="IdTipoSangre" class="text-danger"></span>
                                        </section>
                                    </div>
                                    <div class="row">
                                        <section class="col col-3">
                                            <label>Nacionalidad </label>
                                            <select asp-for="IdNacionalidad" asp- class="form-control input " asp-items="ViewBag.IdNacionalidad">
                                                <option value="0" selected="selected" disabled="">Seleccione</option>
                                            </select>
                                            <span asp-validation-for="IdNacionalidad" class="text-danger"></span>
                                        </section>
                                        <section class="col col-3">
                                            <label>Autoidentificaci&oacute;n &eacute;tnica </label>
                                            <select asp-for="IdEtnia" asp- class="form-control input " asp-items="ViewBag.IdEtnia">
                                                <option value="0" selected="selected" disabled="">Seleccione</option>
                                            </select>
                                            <span asp-validation-for="IdEtnia" class="text-danger"></span>
                                        </section>
                                        <section class="col col-3">
                                            <label>Nacionalidad Ind&iacute;gena </label>
                                            <select asp-for="IdNacionalidadIndigena" asp- class="form-control input " asp-items="ViewBag.IdNacionalidadIndigena"></select>
                                        </section>
                                        <section class="col col-3">
                                            <label>Correo Privado </label>
                                            <input asp-for="CorreoPrivado" class="form-control input " placeholder="Correo Privado" data-rule-email="true" data-msg-email="Debe ingresar un correo en el formato correcto" />
                                            <span asp-validation-for="CorreoPrivado" class="text-danger"></span>
                                        </section>
                                    </div>
                                    <div class="row">
                                        <section class="col col-3">
                                            <label>Fecha de nacimiento</label>
                                            <label class="input">
                                                <input asp-for="FechaNacimiento" type="text" class="datepicker" data-dateformat='dd/mm/yy' />
                                                <span asp-validation-for="FechaNacimiento" class="text-danger"></span>
                                            </label>
                                        </section>

                                        <section class="col col-6">
                                            <label>Lugar de Trabajo </label>
                                            <input asp-for="LugarTrabajo" class="form-control input " placeholder="Lugar de Trabajo" type="text" />
                                            <span asp-validation-for="LugarTrabajo" class="text-danger"></span>
                                        </section>

                                        <section class="col col-3" hidden>
                                            <label>Ocupaci&oacute;n </label>
                                            <input asp-for="Ocupacion" class="form-control input " type="text" />
                                            <span asp-validation-for="Ocupacion" class="text-danger"></span>
                                        </section>
                                    </div>
                                    <div class="row">
                                        <article class="col col-6">
                                            <legend>Lugar de Nacimiento</legend>
                                            <br />
                                            <section class="row">
                                                <div class="col col-6">
                                                    <label>Pa&iacute;s </label>
                                                    <select asp-for="IdPaisLugarNacimiento" class="form-control input " asp-items="ViewBag.IdPaisLugarNacimiento">
                                                        <option value="0" selected="selected" disabled="">Seleccione</option>
                                                    </select>
                                                    <span asp-validation-for="IdPaisLugarNacimiento" class="text-danger"></span>
                                                </div>
                                                <section class="col col-6">
                                                    <label>Ciudad </label>
                                                    <select class="form-control input" asp-for="IdCiudadLugarNacimiento" asp-items="ViewBag.IdCiudadLugarNacimiento"></select>
                                                    <span asp-validation-for="IdCiudadLugarNacimiento" class="text-danger"></span>
                                                </section>
                                            </section>
                                        </article>
                                        <article class="col col-6">
                                            <legend>Lugar de Sufragio</legend>
                                            <br />
                                            <div class="row">
                                                <section class="col col-6">
                                                    <label>Pa&iacute;s </label>
                                                    <select asp-for="IdPaisLugarSufragio" class="form-control input " asp-items="ViewBag.IdPaisLugarSufragio">
                                                        <option value="0" selected="selected" disabled="">Seleccione</option>
                                                    </select>
                                                    <span asp-validation-for="IdPaisLugarSufragio" class="text-danger"></span>
                                                </section>
                                                <section class="col col-6">
                                                    <label>Provincia </label>
                                                    <select asp-for="IdProvinciaLugarSufragio" class="form-control input " asp-items="ViewBag.IdProvinciaLugarSufragio">
                                                        <option value="0" selected="selected" disabled="">Seleccione</option>
                                                    </select>
                                                    <span asp-validation-for="IdProvinciaLugarSufragio" class="text-danger"></span>
                                                </section>
                                            </div>
                                        </article>
                                        <article class="col col-lg-12">
                                            <legend>Direcci&oacute;n Domicilio Permanente</legend>
                                            <br />
                                            <div class="row">
                                                <section class="col col-3">
                                                    <label>Pa&iacute;s </label>
                                                    <select asp-for="IdPaisLugarPersona" asp- class="form-control input " asp-items="ViewBag.IdPaisLugarSufragio">
                                                        <option value="0" selected="selected" disabled="">Seleccione</option>
                                                    </select>
                                                    <span asp-validation-for="IdPaisLugarPersona" class="text-danger"></span>
                                                </section>

                                                <section class="col col-3">
                                                    <label>Provincia </label>
                                                    <select asp-for="IdProvinciaLugarPersona" asp- class="form-control input " asp-items="ViewBag.IdProvinciaLugarPersona">
                                                        <option value="0" selected="selected" disabled="">Seleccione</option>
                                                    </select>
                                                    <span asp-validation-for="IdProvinciaLugarPersona" class="text-danger"></span>
                                                </section>
                                                <section class="col col-3">
                                                    <label>Ciudad </label>
                                                    <select asp-for="IdCiudadLugarPersona" asp- class="form-control input " asp-items="ViewBag.IdCiudadLugarPersona">
                                                        <option value="0" selected="selected" disabled="">Seleccione</option>
                                                    </select>
                                                    <span asp-validation-for="IdCiudadLugarPersona" class="text-danger"></span>
                                                </section>
                                                <section class="col col-3">
                                                    <label>Parroquia </label>
                                                    <select asp-for="IdParroquia" class="form-control input" asp-items="ViewBag.IdParroquia">
                                                        <option value="0" selected="selected" disabled="">Seleccione</option>
                                                    </select>
                                                    <span asp-validation-for="IdParroquia" class="text-danger"></span>
                                                </section>
                                            </div>
                                            <div class="row">
                                                <section class="col col-6">
                                                    <label>Calle Principal </label>
                                                    <input asp-for="CallePrincipal" class="form-control input " placeholder="Calle Principal" type="text" />
                                                    <span asp-validation-for="CallePrincipal" class="text-danger"></span>
                                                </section>

                                                <section class="col col-6">
                                                    <label>Calle Secundaria </label>
                                                    <input asp-for="CalleSecundaria" class="form-control input " type="text" />
                                                    <span asp-validation-for="CalleSecundaria" class="text-danger"></span>
                                                </section>
                                            </div>

                                            <div class="row">
                                                <section class="col col-6">
                                                    <label>Referencia </label>
                                                    <input asp-for="Referencia" class="form-control input " type="text" />
                                                    <span asp-validation-for="Referencia" class="text-danger"></span>
                                                </section>
                                                
                                            </div>
                                            <div class="row">
                                                <section class="col col-4">
                                                    <label>No. de Domicilio </label>
                                                    <input asp-for="Numero" class="form-control input " onKeyPress="return checkIt(event)" />
                                                    <span asp-validation-for="Numero" class="text-danger"></span>
                                                </section>
                                                <section class="col col-4">
                                                    <label>Tel&eacute;fono Privado </label>
                                                    <input asp-for="TelefonoPrivado" class="form-control input " data-mask="99-99999999" data-mask-placeholder="X" placeholder="09-9999-9999" type="text" />
                                                    <span asp-validation-for="TelefonoPrivado" class="text-danger"></span>
                                                </section>
                                                <section class="col col-4">
                                                    <label>Tel&eacute;fono de Casa </label>
                                                    <input asp-for="TelefonoCasa" class="form-control input " data-mask="99-9999999" data-mask-placeholder="X" placeholder="02-2222222" type="text" />
                                                    <span asp-validation-for="TelefonoCasa" class="text-danger"></span>
                                                </section>
                                            </div>
                                        </article>
                                        <article class="col col-lg-12">
                                            <legend>Datos institucionales</legend>
                                            <br />
                                            <div class="row">
                                                <section class="col col-3">
                                                    <label>Ingreso al sector p&uacute;blico</label>
                                                    <label class="input">
                                                        <input asp-for="FechaIngresoSectorPublico" type="text" class="datepicker" data-dateformat='dd/mm/yy' />
                                                        <span asp-validation-for="FechaIngresoSectorPublico" class="text-danger"></span>
                                                    </label>
                                                </section>
                                                <section class="col col-3">
                                                    <label>Tel&eacute;fono<br /></label>
                                                    <input asp-for="Telefono" class="form-control input " type="number" />
                                                    <span asp-validation-for="Telefono" class="text-danger"></span>
                                                </section>
                                                <section class="col col-2">
                                                    <label>Extenci&oacute;n telef&oacute;nica <br /></label>
                                                    <input asp-for="ExtencionTelefonica" class="form-control input " type="number" />
                                                    <span asp-validation-for="ExtencionTelefonica" class="text-danger"></span>
                                                </section>
                                                <section class="col col-2">
                                                    <label>Meses al IESS</label>
                                                    <input asp-for="MesesImposiciones" class="form-control" type="number" />
                                                    <span asp-validation-for="MesesImposiciones" class="text-danger"></span>
                                                </section>
                                                <section class="col col-2">
                                                    <label>D&iacute;as al IESS</label>
                                                    <input asp-for="DiasImposiciones" class="form-control input " type="number" />
                                                    <span asp-validation-for="DiasImposiciones" class="text-danger"></span>
                                                </section>

                                            </div>
                                            <div class="row">

                                                <section class="col col-4">
                                                    <label>Brigada</label>
                                                    <select asp-for="IdBrigadaSSO" class="form-control input" asp-items="ViewBag.IdBrigadaSSO">
                                                        <option value="0" selected="selected" disabled="">Seleccione</option>
                                                    </select>
                                                    <span asp-validation-for="IdBrigadaSSO" class="text-danger"></span>
                                                </section>
                                                <section class="col col-4">
                                                    <label>Rol en la brigada</label>
                                                    <select asp-for="IdBrigadaSSORol" class="form-control input" asp-items="ViewBag.IdBrigadaSSORol">
                                                        <option value="0" selected="selected" disabled="">Seleccione</option>
                                                    </select>
                                                    <span asp-validation-for="IdBrigadaSSORol" class="text-danger"></span>
                                                </section>
                                                <section class="col col-4">
                                                    <label>&nbsp;&nbsp;</label>
                                                    <label class="checkbox-inline">
                                                        <label>&iquest; Acumular fondos de reserva ?</label>
                                                        <input type="checkbox" asp-for="FondosReservas" class="form-control" />
                                                    </label>
                                                </section>
                                            </div>
                                        </article>
                                        <article class="col col-lg-12">

                                            <legend>Informaci&oacute;n adicional</legend>
                                            <br />
                                            <div class="row">
                                                <section class="col col-4">
                                                    <label class="col-lg-12">&iquest; Trabaj&oacute; en la superintendencia de bancos ?</label>
                                                    <label class="col col-2 checkbox-inline">
                                                        
                                                        <input type="checkbox" asp-for="TrabajoSuperintendenciaBanco" class="form-control" />
                                                    </label>
                                                </section>

                                                <section class="col col-2">
                                                    <label class="col-lg-12">Nepotismo:</label>

                                                    <label class="col col-2 checkbox-inline">
                                                        <input type="checkbox" asp-for="Nepotismo" class="form-control" />
                                                    </label>

                                                </section>

                                                <section class="col col-6">
                                                    <label>Tipo de relaci&oacute;n</label>
                                                    <input asp-for="RelacionSuperintendencia" class="form-control input " type="text" />
                                                    <span asp-validation-for="RelacionSuperintendencia" class="text-danger"></span>
                                                </section>
                                            </div>

                                            <div class="row">
                                                <br />
                                                <section class="col col-2">
                                                    <label>A&ntilde;o de desvinculaci&oacute;n</label>
                                                    <input asp-for="AnoDesvinculacion" value="@Model.AnoDesvinculacion" class="form-control input " type="text" data-mask="9999" data-mask-placeholder="X" />
                                                    <span asp-validation-for="AnoDesvinculacion" class="text-danger"></span>
                                                </section>

                                                <section class="col col-2">
                                                    &nbsp;
                                                </section>

                                                <section class="col col-6">
                                                    <label class="col-lg-6">
                                                    Presentaci&oacute;n de constancia de otorgamiento de la declaraci&oacute;n patrimonial jurada electr&oacute;nica
                                                    </label>

                                                    <label class="col col-2 checkbox-inline">
                                                        
                                                        <input type="checkbox" asp-for="DeclaracionJurada" class="form-control" />
                                                    </label>

                                                </section>



                                            </div>

                                            <br />
                                            <br />

                                            <div class="row">
                                                <section class="col col-lg-8">
                                                    <label class="col-lg-12">&iquest; Otros ingresos provenientes de otras actividades fuera de las del Banco de Desarrollo del Ecuador BP
                                                    </label>

                                                    <label class="col col-1 checkbox-inline">
                                                        <input type="checkbox" asp-for="OtrosIngresos" class="form-control" />
                                                    </label>
                                                </section>

                                                @*<section id="IdIngresoOtraActividad" class="col col-6">
                                                    <label>Detalle de ingresos</label>
                                                    <input asp-for="IngresosOtraActividad" class="form-control input " type="text" />
                                                    <span asp-validation-for="IngresosOtraActividad" class="text-danger"></span>
                                                </section>*@
                                            </div>
                                            
                                            <br />
                                            <br />

                                            <div class="row">
                                                <section class="col col-lg-12">
                                                    <label class="label">Detalle</label>
                                                    <label class="textarea">
                                                        <textarea maxlength="2000" asp-for="Detalle" rows="10"></textarea>
                                                        <span asp-validation-for="Detalle" class="text-danger"></span>
                                                    </label>
                                                </section>
                                            </div>



                                        </article>

                                    </div>
                                </fieldset>
                                <footer>
                                    <button type="submit" class="btn btn-primary" id="btn-guardar">Guardar</button>

                                </footer>
                            </form>
                        </div>
                        <!-- end widget content -->
                    </div>
                    <!-- end widget div -->
                </div>
                <!-- end widget -->

            </article>

        </div>
        <!-- END ROW -->
    </section>
    <!-- end widget grid -->
    <!-- Modal -->

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <!-- PAGE RELATED PLUGIN(S) -->
    <script src="~/js/plugin/bootstrap-wizard/jquery.bootstrap.wizard.min.js"></script>
    <script src="~/js/plugin/fuelux/wizard/wizard.min.js"></script>

    <script src='~/lib/select2/dist/js/select2.min.js'></script>
    <script src='~/lib/select2/dist/js/i18n/es.js'></script>
    <script src='~/lib/waitMe/waitMe.min.js'></script>
    <script src='~/js/site.js'></script>

    <script type="text/javascript">

            if (!$("#OtrosIngresos").prop('checked')) {
                $('#IdIngresoOtraActividad').hide();
            } else {
                $('#IdIngresoOtraActividad').show();
            }


        $(document).ready(function () {

            $("#IdEtnia").change(function () {

            mostrarLoadingPanel("content", "Cargando...");
            $("#IdNacionalidadIndigena").empty();
             Init_Select2()
            $.ajax({
                type: 'POST',
                url: '@Url.Action("ListarNacionalidadIndigena","Empleados")',
                    dataType: 'json',
                    data: { etnia: $("#IdEtnia").val() },
                    success: function (data) {
                        $("#IdNacionalidadIndigena").append('<option value="0" selected="selected" disabled="">Seleccione</option>');

                        $.each(data, function (i, data) {
                            $("#IdNacionalidadIndigena").append('<option value="'
                                + data.idNacionalidadIndigena + '">'
                                + data.nombre + '</option>');
                            Init_Select2()
                        });
                    }, complete: function (data) {
                        $("#content").waitMe("hide");
                    },

                    error: function (ex) {
                        alert('Failed to retrieve data.' + ex);
                    }
                });
                return false;
        })


                $("#OtrosIngresos").change(function () {
                    if (!$(this).prop('checked')) {
                        $('#IdIngresoOtraActividad').hide();
                    } else {
                        $('#IdIngresoOtraActividad').show();
                    }

                })



        $("#IdBrigadaSSO").change(function () {
            mostrarLoadingPanel("content","Cargando...")
            $("#IdBrigadaSSORol").empty();
            Init_Select2()
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("ListarBrigadaSSORolPorBrigadaSSO", "Empleados")',
                    dataType: 'json',
                    data: { brigada: $("#IdBrigadaSSO").val() },
                    success: function (data) {
                        $.each(data, function (i, data) {
                            $("#IdBrigadaSSORol").append('<option value="'
                                + data.idBrigadaSSORol + '">'
                                + data.nombre + '</option>');
                            Init_Select2()
                        });
                    }, complete: function (data) {
                        $("#content").waitMe("hide");
                    },

                    error: function (ex) {
                        alert('Failed to retrieve data.' + ex);
                    }
                });
                return false;
        })

        $("#IdPaisLugarNacimiento").change(function () {
            mostrarLoadingPanel("content","Cargando...")
            $("#IdCiudadLugarNacimiento").empty();
            Init_Select2()
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("ListarCiudadesPorPais", "Empleados")',
                    dataType: 'json',
                    data: { pais: $("#IdPaisLugarNacimiento").val() },
                    success: function (data) {
                        $.each(data, function (i, data) {
                            $("#IdCiudadLugarNacimiento").append('<option value="'
                                + data.idCiudad + '">'
                                + data.nombre + '</option>');
                            Init_Select2()
                        });
                    }, complete: function (data) {
                        $("#content").waitMe("hide");
                    },

                    error: function (ex) {
                        alert('Failed to retrieve data.' + ex);
                    }
                });
                return false;
        })


        $("#IdPaisLugarSufragio").change(function () {
            mostrarLoadingPanel("content","Cargando...")
            $("#IdProvinciaLugarSufragio").empty();
            Init_Select2()
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("ListarProvinciaPorPais", "Empleados")',
                    dataType: 'json',
                    data: { pais: $("#IdPaisLugarSufragio").val() },
                    success: function (data) {
                        $.each(data, function (i, data) {
                            $("#IdProvinciaLugarSufragio").append('<option value="'
                                + data.idProvincia + '">'
                                + data.nombre + '</option>');
                            Init_Select2()

                        });
                    }, complete: function (data) {
                        $("#content").waitMe("hide");
                    },

                    error: function (ex) {
                        alert('Failed to retrieve data.' + ex);
                    }
                });
                return false;
        })

        $("#IdPaisLugarPersona").change(function () {
            mostrarLoadingPanel("content","Cargando...")
            $("#IdProvinciaLugarPersona").empty();
            $("#IdCiudadLugarPersona").empty();
            $("#IdParroquia").empty();
            Init_Select2()
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("ListarProvinciaPorPais","Empleados")',
                    dataType: 'json',
                    data: { pais: $("#IdPaisLugarPersona").val() },
                    success: function (data) {
                        $("#IdProvinciaLugarPersona").append('<option value="0" selected="selected" disabled="">Seleccione</option>');
                        $.each(data, function (i, data) {
                            $("#IdProvinciaLugarPersona").append('<option value="'
                                + data.idProvincia + '">'
                                + data.nombre + '</option>');

                        });
                    }, complete: function (data) {
                        $("#content").waitMe("hide");
                    },

                    error: function (ex) {
                        alert('Failed to retrieve data.' + ex);
                    }
                });
                return false;
                })

        $("#IdProvinciaLugarPersona").change(function () {
            mostrarLoadingPanel("content","Cargando...")
            $("#IdCiudadLugarPersona").empty();
            $("#IdParroquia").empty();
            Init_Select2()
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("ListarCiudadPorProvincia", "Empleados")',
                    dataType: 'json',
                    data: { provincia: $("#IdProvinciaLugarPersona").val() },
                    success: function (data) {
                        $("#IdCiudadLugarPersona").append('<option value="0" selected="selected" disabled="">Seleccione</option>');
                        $.each(data, function (i, data) {
                            $("#IdCiudadLugarPersona").append('<option value="'
                                + data.idCiudad + '">'
                                + data.nombre + '</option>');

                        });
                    }, complete: function (data) {
                        $("#content").waitMe("hide");
                    },

                    error: function (ex) {
                        alert('Failed to retrieve data.' + ex);
                    }
                });
                return false;
                })


        $("#IdCiudadLugarPersona").change(function () {
            mostrarLoadingPanel("content","Cargando...")
            $("#IdParroquia").empty();
            Init_Select2()
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("ListarParroquiaPorCiudad", "Empleados")',
                    dataType: 'json',
                    data: { idCiudad: $("#IdCiudadLugarPersona").val() },
                    success: function (data) {
                        $("#IdParroquia").append('<option value="0" selected="selected" disabled="">Seleccione</option>');
                        $.each(data, function (i, data) {
                            $("#IdParroquia").append('<option value="'
                                + data.idParroquia + '">'
                                + data.nombre + '</option>');
                            Init_Select2()
                        });
                    }, complete: function (data) {
                        $("#content").waitMe("hide");
                    },

                    error: function (ex) {
                        alert('Failed to retrieve data.' + ex);
                    }
                });
                return false;
                   })
        });

        function cargando() {
            mostrarLoadingPanel("content", "")
        }


    </script>

    <script type="text/javascript">
        $(document).ready(function () {
            Init_Select2();
        });
    </script>



}