@model List<bd.webappth.entidades.ViewModels.ViewModelEmpleadoSustituto>


@using bd.webappth.entidades.Utils
@{ var modelo = new FichaEmpleado { OpcionMenu = 8 }; }

@{await Html.RenderPartialAsync("_PartialViewMenu", modelo);}
<link href="~/css/tabla/table.css" rel="stylesheet" />
<link rel="stylesheet" href="~/lib/waitMe/waitMe.css" />
<!-- MAIN CONTENT -->
<div id="content">
    @{await Html.RenderPartialAsync("_PartialViewBotonIndexEmpleado");}
    <p></p>
    <a asp-action="CreatePersonaSustituto">
        <button type="button" asp-action="CreatePersonaSustituto" onclick="cargando()" asp-controller="FichaEmpleado" class="btn btn-labeled btn-default">
            <span class="btn-label">
                <i class="glyphicon glyphicon-plus"></i>
            </span>Nuevo

        </button>
    </a>
    <p> </p>

    <!-- widget grid -->
    <section id="" class="">
        <!-- row -->
        <div class="row">
            <!-- NEW WIDGET START -->
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="jarviswidget jarviswidget-color-darken" id="wid-id-0" data-widget-editbutton="false">
                    <header id="table">
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>Personas sustitutas</h2>
                    </header>
                    <div>
                        <div class="jarviswidget-editbox">
                        </div>
                        <div class="widget-body no-padding">
                            <table id="dt_basic" class="table table-striped table-bordered table-hover" width="100%">
                                <thead>
                                    <tr>
                                        <th data-class="expand">
                                            Nombre
                                        </th>
                                        <th data-hide="phone">
                                            Parentesco
                                        </th>
                                        <th data-hide="phone">
                                            Enfermedades
                                        </th>
                                        <th data-hide="phone">
                                            Discapacidades
                                        </th>
                                        <th>
                                            <i class="fa fa-cog "></i>
                                            Opciones
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Nombre)  @Html.DisplayFor(modelItem => item.Apellido)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.NombreParentesco)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Enfermedades)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Discapacidades)
                                            </td>
                                            <td>

                                                @Html.ActionLink("Enfermedades/Discapacidades", "IndexEnfermedadSustituto", new { id = item.IdPersonaSustituto }, new { onclick = "cargando()" }) |
                                                @Html.ActionLink("Editar", "EditPersonaSustituto", new { id = item.IdPersonaSustituto }, new { onclick = "cargando()" }) |
                                                @Html.ActionLink("Eliminar", "DeletePersonaSustituto", new { id = item.IdPersonaSustituto }, new { onclick = "return confirm('Desea eliminar la persona sustituto... ?');" })

                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                        <!-- end widget content -->
                    </div>
                    <!-- end widget div -->
                </div>

            </article>
            <!-- WIDGET END -->
        </div>
        <!-- end row -->
        <!-- end row -->
    </section>
    <!-- end widget grid -->
</div>
<!-- END MAIN CONTENT -->

@section Scripts {
    <script src='~/lib/waitMe/waitMe.min.js'></script>
    <script src='~/js/site.js'></script>
    <script type="text/javascript">
        function cargando() {
            mostrarLoadingPanel("content", "")
        }
    </script>
    <script src='~/js/datatables/init.js'></script>
}


