@model List<bd.webappth.entidades.ViewModels.ContactoEmergenciaViewModel>

@using bd.webappth.entidades.Utils
@{ var modelo = new FichaEmpleado { OpcionMenu = 7 }; }

@{await Html.RenderPartialAsync("_PartialViewMenu", modelo);}
<!-- MAIN CONTENT -->
<link href="~/css/tabla/table.css" rel="stylesheet" />
<link rel="stylesheet" href="~/lib/waitMe/waitMe.css" />
<div id="content">
    @{await Html.RenderPartialAsync("_PartialViewBotonIndexEmpleado");}
    <p></p>
    <a asp-action="CreateEmpleadoContactoEmergencia">
        <button type="button" asp-action="CreateEmpleadoContactoEmergencia" onclick="cargando()" asp-controller="FichaEmpleado" class="btn btn-labeled btn-default">
            <span class="btn-label">
                <i class="glyphicon glyphicon-plus"></i>
            </span>Nuevo

        </button>
    </a>
    <p> </p>
    <section id="" class="">
        <div class="row">
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="jarviswidget jarviswidget-color-darken" id="wid-id-0" data-widget-editbutton="false">
                    <header id="table">
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>Contactos de emergencias</h2>
                    </header>
                    <div>
                        <div class="jarviswidget-editbox">
                        </div>
                        <div class="widget-body no-padding">
                            <table id="datatable_fixed_column" class="table table-striped table-bordered table-hover" width="100%">
                                <thead>
                                    <tr>
                                        <th data-class="expand">
                                            Apellidos y nombres:
                                        </th>
                                        <th data-class="expand">
                                            @Html.DisplayNameFor(d => d.FirstOrDefault().TelefonoPrivado)
                                        </th>
                                        <th data-hide="phone">
                                            @Html.DisplayNameFor(d=>d.FirstOrDefault().TelefonoCasa)
                                        </th>
                                        <th data-hide="phone">
                                            Parentesco:
                                        </th>
                                        <th>
                                            <i class="fa fa-cog "></i>
                                            Opciones
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {

                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Apellido) @Html.DisplayFor(modelItem => item.Nombre)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.TelefonoPrivado)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.TelefonoCasa)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Parentesco)
                                            </td>
                                            <td>

                                                @Html.ActionLink("Editar", "EditEmpleadoContactoEmergencia", new { id = item.IdEmpleadoContactoEmergencia }, new { onclick = "cargando()" }) |
                                                @Html.ActionLink("Eliminar", "DeleteEmpleadoContactoEmergencia", new { id = item.IdEmpleadoContactoEmergencia }, new { onclick = "return confirm('Desea eliminar el Contacto de Emergencia... ?');" })

                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                        <!-- end widget content -->
                    </div>
                    <!-- end widget div -->
                </div>

            </article>
            <!-- WIDGET END -->
        </div>
        <!-- end row -->
        <!-- end row -->
    </section>
    <!-- end widget grid -->
</div>
<!-- END MAIN CONTENT -->

@section Scripts {
    <script src='~/lib/waitMe/waitMe.min.js'></script>
    <script src='~/js/site.js'></script>
    <script type="text/javascript">
        function cargando() {
            mostrarLoadingPanel("content", "")
        }
    </script>
    <script src='~/js/datatables/init.js'></script>
}


