@model bd.webappth.entidades.Negocio.FichaMedica



<style>

    .Editar-icono {

        border-radius:0px;

        height: 40px;
        width: 40px;

        color:black;
        background-color: rgba(255,255,255,1);
        background-repeat: no-repeat;
        background-size: 100% 100%;

        padding:5px;

        float: right;
    }

    .Editar-icono-activado {
        border-radius: 0px;
        height: 40px;
        width: 40px;
        color: black;
        background-color: rgb(255, 189, 33);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        padding: 5px;
        float: right;
    }

    .Editar-icono:hover{
        background-color: rgb(255, 189, 33);
    }

    .contenedor-cabecera {
        height: 50px;
        background-color:black;
        color:white;
        text-align:left;
    }

    .contenedor-cabecera .titulo{
        padding-top:15px;
        padding-left:15px;

        float:left;
    }

    section{
        /*background-color:rgb(132,132,132);*/
        
        color: white;
        font-size: 15px;

        overflow:hidden;
    }

    section .contenedor-seccion{
        margin:2%;
        
    }

    .fondo-seccion {
        background-color: rgba(142,194,219,1);
    }

    p{
        font-weight: bold;
    }


    .contenedor-seccion2 {
        margin-left: 0%;
        margin-right: 0%;

        color: white;
        font-size: 15px;

        float: none;
    }
    .columna1{

        padding-left:2%;

        width: 18%;
        height:27px;
        background-color: rgba(142,194,219,1);
        float: left;

    }

    .columna2 {
        width: 10%;
        height: 27px;
        float: left;
        background-color: rgba(142,194,219,0.7);
        text-align: center;
    }

    .columna3 {
        width: 10%;
        height: 27px;
        float: left;
        background-color: rgba(142,194,219,1);
        text-align: center;
    }

    .columna4 {
        width: 58%;
        height: 27px;
        padding-left: 2%;
        background-color: rgba(142,194,219,0.7);
        float: right;
    }

    .columna4 input {
        height:23px;
    }

</style>

<fieldset>
    <div class="row">

        <article class="col col-lg-12">

            <legend>
                <div class="contenedor-cabecera" style="text-align:center;">
                    <div class="titulo" style="float:none;font:bold;">Historia clínica ocupacional</div>
                </div>
            </legend>

            <section class="fondo-seccion">

                <div class="contenedor-seccion">


                    <label class="input">

                        <p>@Html.DisplayNameFor(model => model.FechaFichaMedica)</p>

                        <input type="date" style="width:260px;" asp-for="FechaFichaMedica" placeholder="@Html.DisplayNameFor(model => model.FechaFichaMedica)" data-dateformat='dd/mm/yy' />
                        <span asp-validation-for="FechaFichaMedica" class="text-danger"></span>
                    </label>

                    <label class="input">

                        <input type="hidden" style="width:260px;" asp-for="IdPersona" placeholder="@Html.DisplayNameFor(model => model.IdPersona)" />
                        <span asp-validation-for="IdPersona" class="text-danger"></span>
                    </label>

                </div>

            </section>


        </article>

        <article class="col col-lg-12">

            <legend>
                <div class="contenedor-cabecera">
                    <div class="titulo">Antecedentes de accidentes o enfermedades profesionales</div>

                </div>
            </legend>

            <section class="fondo-seccion" >
                <div class="contenedor-seccion">

                    <p>@Html.DisplayNameFor(model => model.AccidenteTrabajo)</p>

                    Si &nbsp;<label onclick="mostrarAccidenteTrabajoSeccion()" />@Html.RadioButtonFor(x => x.AccidenteTrabajo, true) &emsp;</label>
                    No &nbsp;<label onclick="ocultarAccidenteTrabajoSeccion()" />@Html.RadioButtonFor(x => x.AccidenteTrabajo, false, htmlAttributes: new { @checked = true })</label>


                </div>
            </section>


            <section id="EmpresaAccidenteSeccion" class="fondo-seccion">

                <div class="contenedor-seccion">

                    <label class="input">

                        <p>@Html.DisplayNameFor(model => model.FechaAccidente)</p>

                        <input type="date" style="width:260px;" asp-for="FechaAccidente" placeholder="@Html.DisplayNameFor(model => model.FechaAccidente)" data-dateformat='dd/mm/yy' />
                        <span asp-validation-for="FechaAccidente" class="text-danger"></span>
                    </label>

                    <br />

                    <label class="input">
                        <p>@Html.DisplayNameFor(model => model.EmpresaAccidente)</p>

                        <input maxlength="150" asp-for="EmpresaAccidente" class="form-control" placeholder="@Html.DisplayNameFor(model => model.EmpresaAccidente)" />
                        <span asp-validation-for="EmpresaAccidente" class="text-danger"></span>
                        </label>
                    <br />

                </div>


            </section>

            <section class="fondo-seccion">

                <div class="contenedor-seccion">

                    <p>@Html.DisplayNameFor(model => model.EnfermedadProfesional)</p>

                    Si &nbsp;<label onclick="mostrarEnfermedadProfesionalSeccion()" />@Html.RadioButtonFor(x => x.EnfermedadProfesional, true)&emsp;</label>
                    No &nbsp;<label onclick="ocultarEnfermedadProfesionalSeccion()" />@Html.RadioButtonFor(x => x.EnfermedadProfesional, false, htmlAttributes: new { @checked = true })</label>

                </div>

            </section>

            <section class="fondo-seccion" id="EnfermedadProfesionalSeccion">

                <div class="contenedor-seccion">

                    <label class="input">
                        <p>@Html.DisplayNameFor(model => model.FechaDiagnostico)</p>

                        <input type="date" style="width:260px;" asp-for="FechaDiagnostico" placeholder="@Html.DisplayNameFor(model => model.FechaDiagnostico)" data-dateformat='dd/mm/yy' />
                        <span asp-validation-for="FechaDiagnostico" class="text-danger"></span>
                    </label>

                    <br />

                    <label class="input">
                         <p>@Html.DisplayNameFor(model => model.EmpresaEnfermedad)</p>

                        <input maxlength="150" asp-for="EmpresaEnfermedad" class="form-control" placeholder="@Html.DisplayNameFor(model => model.EmpresaEnfermedad)" />
                        <span asp-validation-for="EmpresaEnfermedad" class="text-danger"></span>
                    </label>

                    <br />

                </div>


            </section>

            <section class="fondo-seccion" id="DetalleAntecedenteProfesional">

                <div class="contenedor-seccion">

                    <p>@Html.DisplayNameFor(model => model.DetalleAccidenteEnfermedadOcupacional)</p>
                    <textarea maxlength="500" asp-for="DetalleAccidenteEnfermedadOcupacional" class="form-control" placeholder="@Html.DisplayNameFor(model=>model.DetalleAccidenteEnfermedadOcupacional)" rows="4" style="resize:none;"></textarea>
                    <span asp-validation-for="DetalleAccidenteEnfermedadOcupacional" class="text-danger"></span>

                    <br />

                </div>

            </section>

        </article>

        <article class="col col-lg-12">
            <legend>
                <div class="contenedor-cabecera">
                    <div class="titulo">Antecedentes personales</div>
                    <img id="IconoAntecedentePersonal" class="Editar-icono" src="~/iconos/editar.svg" onclick="clickIconoAntecedentePersonal(this.id)"></img>
                </div>
            </legend>

            <section class="fondo-seccion" id="AntecedentePersonalSeccion">

                <div class="contenedor-seccion">

                    <br />

                    <label class="input">
                        <p>@Html.DisplayNameFor(model => model.AntecedenteMedico)</p>
                        <textarea maxlength="500" asp-for="AntecedenteMedico" class="form-control" placeholder="@Html.DisplayNameFor(model=>model.AntecedenteMedico)" rows="4" style="resize:none;"></textarea>
                        <span asp-validation-for="AntecedenteMedico" class="text-danger"></span>
                    </label>

                    <br />
                    <label class="input">
                         <p>@Html.DisplayNameFor(model => model.AntecedenteQuirurgico)</p>
                        <textarea maxlength="500" asp-for="AntecedenteQuirurgico" class="form-control" placeholder="@Html.DisplayNameFor(model=>model.AntecedenteQuirurgico)" rows="4" style="resize:none;"></textarea>
                        <span asp-validation-for="AntecedenteQuirurgico" class="text-danger"></span>
                    </label>


                    <br />
                    <label class="input">
                        <p>@Html.DisplayNameFor(model => model.Alergias)</p>
                        <input maxlength="110" asp-for="Alergias" class="form-control" placeholder="@Html.DisplayNameFor(model=>model.Alergias)" />
                        <span asp-validation-for="Alergias" class="text-danger"></span>
                    </label>

                    <br />
                    <label class="input">
                        <p>@Html.DisplayNameFor(model => model.UsoMedicinaDiaria)</p>
                    <input maxlength="110" asp-for="UsoMedicinaDiaria" class="form-control" placeholder="@Html.DisplayNameFor(model=>model.UsoMedicinaDiaria)" />
                    <span asp-validation-for="UsoMedicinaDiaria" class="text-danger"></span>
                    </label>

                    <br /><label class="input">
                        <p>@Html.DisplayNameFor(model => model.Vacunas)
                    </p>
                    <input maxlength="110" asp-for="Vacunas" class="form-control" placeholder="@Html.DisplayNameFor(model=>model.Vacunas)" />
                    <span asp-validation-for="Vacunas" class="text-danger"></span>
                    </label>

                    <br />
                    <label class="input">
                        <p>@Html.DisplayNameFor(model => model.FechaUltimaDosis)
                    </p>
                    <input type="date" style="width:260px;" asp-for="FechaUltimaDosis" class="form-control" placeholder="@Html.DisplayNameFor(model=>model.FechaUltimaDosis)" />
                    <span asp-validation-for="FechaUltimaDosis" class="text-danger"></span>
                    </label>
                    <br />

                </div>

            </section>

        </article>

        <article class="col col-4">
            <legend>
                <div class="contenedor-cabecera">
                    <div class="titulo">Antecedentes gineco obstétricos</div>
                    <img id="IconoAntecedenteGinecoObsterico" class="Editar-icono" src="~/iconos/editar.svg" onclick="clickIconoAntecedenteGinecoObsterico(this.id)"></img>
                </div>
            </legend>


            <section class="fondo-seccion" id="AntecedenteGinecoObstericoSeccion" >

                <div class="contenedor-seccion">

                    <br />
                    <br />

                    <label class="input">
                        <p>@Html.DisplayNameFor(model => model.PrimeraMenstruacion)
                    </p>
                    <input type="date" maxlength="50" asp-for="PrimeraMenstruacion" class="form-control" placeholder="@Html.DisplayNameFor(model=>model.PrimeraMenstruacion)" />
                    <span asp-validation-for="PrimeraMenstruacion" class="text-danger"></span>
                    </label>

                    <br />
                    <label class="input">
                        <p>@Html.DisplayNameFor(model => model.UltimaMenstruacion)
                    </p>
                    <input type="date" maxlength="50" asp-for="UltimaMenstruacion" class="form-control" placeholder="@Html.DisplayNameFor(model=>model.UltimaMenstruacion)" />
                    <span asp-validation-for="UltimaMenstruacion" class="text-danger"></span>
                    </label>

                    <br />
                    <label class="input">
                        <p>@Html.DisplayNameFor(model => model.CicloMenstrual)
                    </p>
                    <input maxlength="50" asp-for="CicloMenstrual" class="form-control" placeholder="@Html.DisplayNameFor(model=>model.CicloMenstrual)" />
                    <span asp-validation-for="CicloMenstrual" class="text-danger"></span>
                    </label>

                    <br />
                    <label class="input">
                        <p>@Html.DisplayNameFor(model => model.Gestas)
                    </p>
                    <input maxlength="50" asp-for="Gestas" class="form-control" placeholder="@Html.DisplayNameFor(model=>model.Gestas)" />
                    <span asp-validation-for="Gestas" class="text-danger"></span>
                    </label>

                    <br />
                    <label class="input">
                        <p>@Html.DisplayNameFor(model => model.Partos)
                    </p>
                    <input maxlength="50" asp-for="Partos" class="form-control" placeholder="@Html.DisplayNameFor(model=>model.Partos)" />
                    <span asp-validation-for="Partos" class="text-danger"></span>
                    </label>

                    <br />
                    <label class="input">
                        <p>@Html.DisplayNameFor(model => model.Cesarias)
                    </p>
                    <input maxlength="50" asp-for="Cesarias" class="form-control" placeholder="@Html.DisplayNameFor(model=>model.Cesarias)" />
                    <span asp-validation-for="Cesarias" class="text-danger"></span>
                    </label>

                    <br />
                    <label class="input">
                        <p>@Html.DisplayNameFor(model => model.Abortos)
                    </p>
                    <input maxlength="50" asp-for="Abortos" class="form-control" placeholder="@Html.DisplayNameFor(model=>model.Abortos)" />
                    <span asp-validation-for="Abortos" class="text-danger"></span>
                    </label>

                    <br /><label class="input">
                        <p>@Html.DisplayNameFor(model => model.HijosVivos)
                    </p>
                    <input maxlength="50" asp-for="HijosVivos" class="form-control" placeholder="@Html.DisplayNameFor(model=>model.HijosVivos)" />
                    <span asp-validation-for="HijosVivos" class="text-danger"></span>
                    </label>

                    <br />
                    <label class="input">
                        <p>@Html.DisplayNameFor(model => model.UltimoPapTest)
                    </p>
                    <input type="date" asp-for="UltimoPapTest" class="form-control" placeholder="@Html.DisplayNameFor(model=>model.UltimoPapTest)" />
                    <span asp-validation-for="UltimoPapTest" class="text-danger"></span>
                    </label>

                    <br />
                    <label class="input">
                        <p>@Html.DisplayNameFor(model => model.UltimaMamografia)
                    </p>
                    <input type="date" asp-for="UltimaMamografia" class="form-control" placeholder="@Html.DisplayNameFor(model=>model.UltimaMamografia)" />
                    <span asp-validation-for="UltimaMamografia" class="text-danger"></span>
                    </label>

                    <br />
                    <label class="input">
                        <p>@Html.DisplayNameFor(model => model.Anticoncepcion)
                    </p>
                    <input maxlength="50" asp-for="Anticoncepcion" class="form-control" placeholder="@Html.DisplayNameFor(model=>model.Anticoncepcion)" />
                    <span asp-validation-for="Anticoncepcion" class="text-danger"></span>
                    </label>
                    <br />
                </div>

            </section>

        </article>


        <article class="col col-4">
            <legend>
                <div class="contenedor-cabecera">
                    <div class="titulo">Hábitos</div>

                </div>
            </legend>

            <section class="fondo-seccion">

                <div class="contenedor-seccion">

                    <p>@Html.DisplayNameFor(model => model.Cigarrillo)</p>

                    Si &nbsp;<label onclick="mostrarCigarrilloSeccion()" />@Html.RadioButtonFor(x => x.Cigarrillo, true)</label> &emsp;
                    No &nbsp;<label onclick="ocultarCigarrilloSeccion()" />@Html.RadioButtonFor(x => x.Cigarrillo, false, htmlAttributes: new { @checked = true })</label>
                </div>

            </section>

            <section class="fondo-seccion" id="CigarrilloSeccion">

                <div class="contenedor-seccion">


                    <label class="input">
                        <p>
                            @Html.DisplayNameFor(model => model.FrecuenciaCigarrillo)
                    </p>
                    <input maxlength="100" asp-for="FrecuenciaCigarrillo" class="form-control" placeholder="@Html.DisplayNameFor(model => model.FrecuenciaCigarrillo)" />
                    <span asp-validation-for="FrecuenciaCigarrillo" class="text-danger"></span>
                </label>
                <br />

                <label class="input">
                    <p>
                        @Html.DisplayNameFor(model => model.CigarrilloDesde)
                </p>
                <input type="number" asp-for="CigarrilloDesde" class="form-control" placeholder="@Html.DisplayNameFor(model => model.CigarrilloDesde)" />
                <span asp-validation-for="CigarrilloDesde" class="text-danger"></span>
            </label>
            <br />

            <label class="input">

                <p>
                    @Html.DisplayNameFor(model => model.CigarrilloHasta)
            </p>
            <input type="number" asp-for="CigarrilloHasta" placeholder="@Html.DisplayNameFor(model => model.CigarrilloHasta)" data-dateformat='dd/mm/yy' />
            <span asp-validation-for="CigarrilloHasta" class="text-danger"></span>
        </label>

        <br />

        </div>

        </section>

        <section class="fondo-seccion">

            <div class="contenedor-seccion">

                <p>@Html.DisplayNameFor(model => model.Licor)</p>

                Si &nbsp;<label onclick="mostrarLicorSeccion()" />@Html.RadioButtonFor(x => x.Licor, true)</label> &emsp;
                No &nbsp;<label onclick="ocultarLicorSeccion()" />@Html.RadioButtonFor(x => x.Licor, false, htmlAttributes: new { @checked = true })</label>
            </div>

        </section>

        <section class="fondo-seccion" id="LicorSeccion">

            <div class="contenedor-seccion">


                <label class="input">
                    <p>
                        @Html.DisplayNameFor(model => model.LicorFrecuencia)
                </p>
                <input maxlength="100" asp-for="LicorFrecuencia" class="form-control" placeholder="@Html.DisplayNameFor(model => model.LicorFrecuencia)" />
                <span asp-validation-for="LicorFrecuencia" class="text-danger"></span>
            </label>
            <br />

            <label class="input">
                <p>
                    @Html.DisplayNameFor(model => model.LicorDesde)
            </p>
            <input type="number" asp-for="LicorDesde" class="form-control" placeholder="@Html.DisplayNameFor(model => model.LicorDesde)" />
            <span asp-validation-for="LicorDesde" class="text-danger"></span>
        </label>
        <br />

        <label class="input">

            <p>
                @Html.DisplayNameFor(model => model.LicorHasta)
        </p>
        <input type="number" asp-for="LicorHasta" placeholder="@Html.DisplayNameFor(model => model.LicorHasta)" data-dateformat='dd/mm/yy' />
        <span asp-validation-for="LicorHasta" class="text-danger"></span>
        </label>

        <br />

        </div>

        </section>

        <section class="fondo-seccion">

            <div class="contenedor-seccion">

                <p>@Html.DisplayNameFor(model => model.Drogas)</p>

                Si &nbsp;<label onclick="mostrarDrogasSeccion()" />@Html.RadioButtonFor(x => x.Drogas, true)</label> &emsp;
                No &nbsp;<label onclick="ocultarDrogasSeccion()" />@Html.RadioButtonFor(x => x.Drogas, false, htmlAttributes: new { @checked = true })</label>

            </div>

        </section>

        <section class="fondo-seccion" id="DrogasSeccion">

            <div class="contenedor-seccion">


                <label class="input">
                    <p>
                        @Html.DisplayNameFor(model => model.FrecuenciaDrogas)
                </p>
                <input maxlength="100" asp-for="FrecuenciaDrogas" class="form-control" placeholder="@Html.DisplayNameFor(model => model.FrecuenciaDrogas)" />
                <span asp-validation-for="FrecuenciaDrogas" class="text-danger"></span>
            </label>
            <br />

            <label class="input">
                <p>
                    @Html.DisplayNameFor(model => model.DrogasDesde)
            </p>
            <input type="number" asp-for="DrogasDesde" class="form-control" placeholder="@Html.DisplayNameFor(model => model.DrogasDesde)" />
            <span asp-validation-for="DrogasDesde" class="text-danger"></span>
        </label>
        <br />

        <label class="input">

            <p>
                @Html.DisplayNameFor(model => model.DrogasHasta)
        </p>
        <input type="number" asp-for="DrogasHasta" placeholder="@Html.DisplayNameFor(model => model.DrogasHasta)" data-dateformat='dd/mm/yy' />
        <span asp-validation-for="DrogasHasta" class="text-danger"></span>
        </label>

        <br />

        </div>

        </section>

        <section class="fondo-seccion">

            <div class="contenedor-seccion">

                <p>@Html.DisplayNameFor(model => model.Ejercicios)</p>

                Si &nbsp;<label onclick="mostrarEjerciciosSeccion()" />@Html.RadioButtonFor(x => x.Ejercicios, true)</label> &emsp;
                No &nbsp;<label onclick="ocultarEjerciciosSeccion()" />@Html.RadioButtonFor(x => x.Ejercicios, false, htmlAttributes: new { @checked = true })</label>

            </div>

        </section>

        <section class="fondo-seccion" id="EjerciciosSeccion">

            <div class="contenedor-seccion">


                <label class="input">
                    <p>
                        @Html.DisplayNameFor(model => model.EjerciciosFrecuencia)
                </p>
                <input maxlength="100" asp-for="EjerciciosFrecuencia" class="form-control" placeholder="@Html.DisplayNameFor(model => model.EjerciciosFrecuencia)" />
                <span asp-validation-for="EjerciciosFrecuencia" class="text-danger"></span>
            </label>
            <br />

            <label class="input">
                <p>
                    @Html.DisplayNameFor(model => model.EjerciciosTipo)
            </p>
            <input maxlength="100" asp-for="EjerciciosTipo" class="form-control" placeholder="@Html.DisplayNameFor(model => model.EjerciciosTipo)" />
            <span asp-validation-for="EjerciciosTipo" class="text-danger"></span>
        </label>
        <br />

        </div>

        </section>

        <section class="fondo-seccion" id="ObservacionHabitoSeccion">

            <div class="contenedor-seccion">

                <p>@Html.DisplayNameFor(model => model.HabitosObservaciones)</p>
                <textarea maxlength="50" asp-for="HabitosObservaciones" class="form-control" placeholder="@Html.DisplayNameFor(model=>model.HabitosObservaciones)" rows="4" style="resize:none;"></textarea>
                <span asp-validation-for="HabitosObservaciones" class="text-danger"></span>

                <br />

            </div>

        </section>

        <section class="fondo-seccion" id="HabitoVacio">
            <div style="height:112px;">

            </div>
        </section>

        </article>

        <article class="col col-4">
            <legend>
                <div class="contenedor-cabecera">
                    <div class="titulo">Exámen físico</div>

                </div>
            </legend>


            <section class="fondo-seccion" id="ExamenFisico">

                <div class="contenedor-seccion">

                    <br />
                    <br />

                    <label class="input">
                        <p>@Html.DisplayNameFor(model => model.TensionArterial)
                    </p>
                    <input type="text" maxlength="50" asp-for="TensionArterial" class="form-control" placeholder="@Html.DisplayNameFor(model=>model.TensionArterial)" />
                    <span asp-validation-for="TensionArterial" class="text-danger"></span>
                    </label>
                    <br />

                    <label class="input">
                        <p>@Html.DisplayNameFor(model => model.FrecuenciaCardiaca)
                    </p>
                    <input type="text" maxlength="50" asp-for="FrecuenciaCardiaca" class="form-control" placeholder="@Html.DisplayNameFor(model=>model.FrecuenciaCardiaca)" />
                    <span asp-validation-for="FrecuenciaCardiaca" class="text-danger"></span>
                    </label>
                    <br />

                    <label class="input">
                        <p>@Html.DisplayNameFor(model => model.FrecuenciaRespiratoria)
                    </p>
                    <input type="text" maxlength="50" asp-for="FrecuenciaRespiratoria" class="form-control" placeholder="@Html.DisplayNameFor(model=>model.FrecuenciaRespiratoria)" />
                    <span asp-validation-for="FrecuenciaRespiratoria" class="text-danger"></span>
                    </label>
                    <br />

                    <label class="input">
                        <p>@Html.DisplayNameFor(model => model.Talla)
                    </p>
                    <input type="text" maxlength="50" asp-for="Talla" class="form-control" placeholder="@Html.DisplayNameFor(model=>model.Talla)" />
                    <span asp-validation-for="Talla" class="text-danger"></span>
                    </label>
                    <br />

                    <label class="input">
                        <p>@Html.DisplayNameFor(model => model.Peso)
                    </p>
                    <input type="text" maxlength="50" asp-for="Peso" class="form-control" placeholder="@Html.DisplayNameFor(model=>model.Peso)" />
                    <span asp-validation-for="Peso" class="text-danger"></span>
                    </label>
                    <br />

                    <label>

                        <p>@Html.DisplayNameFor(model => model.LateralidadDominante)
                    </p>


                    <strong>Diestro</strong> &nbsp; @Html.RadioButtonFor(x => x.LateralidadDominante, "0", htmlAttributes: new { @checked = true })&emsp;
                    <strong>Zurdo</strong> &nbsp;@Html.RadioButtonFor(x => x.LateralidadDominante, "1")&emsp;
                    <strong>Ambidiestro </strong> &nbsp;@Html.RadioButtonFor(x => x.LateralidadDominante, "2")&emsp;

                    </label>
                    <br />
                    <br />

                    <label>

                        <p>@Html.DisplayNameFor(model => model.Interpretacion)
                    </p>


                    <strong>Bajo peso: < 18,5 </strong> &nbsp; @Html.RadioButtonFor(x => x.Interpretacion, "0")&emsp;
                    <strong>Normal: 18,5-24,9</strong> &nbsp;  @Html.RadioButtonFor(x => x.Interpretacion, "1", htmlAttributes: new { @checked = true })&emsp;
                    <br />
                    <strong>sobrepeso: 25 -29,9 </strong> &nbsp;@Html.RadioButtonFor(x => x.Interpretacion, "2")&emsp;
                    <strong>Obeso: > 30 </strong> &nbsp;@Html.RadioButtonFor(x => x.Interpretacion, "3")&emsp;
                    </label>
                    <br />

                </div>

            </section>

        </article>



        <article class="col col-lg-12">
            <legend>
                <div class="contenedor-cabecera">
                    <div class="titulo">Revisión de órgano o sistema</div>

                </div>
            </legend>

            

            <div>

                <div class="contenedor-seccion2">

                    <div class="columna1">
                        <p>Órgano / Sistema</p>
                    </div>

                    <div class="columna2">
                        <p>Normal</p>
                    </div>

                    <div class="columna3">
                        <p>Anormal</p>
                    </div>

                    <div class="columna4">
                        <p>Hallazgos</p>
                    </div>

                </div>

            </div>

            <div>

                <div class="contenedor-seccion2">

                    <div class="columna1">
                        <p><label>@Html.DisplayNameFor(model => model.Cabeza)</label></p>
                    </div>

                    <div class="columna2">
                        <p>@Html.RadioButtonFor(x => x.Cabeza, false, htmlAttributes: new { @checked = true })</p>
                    </div>

                    <div class="columna3">
                        <p>@Html.RadioButtonFor(x => x.Cabeza, true)</p>
                    </div>

                    <div class="columna4">
                        <input style="width:98%;" maxlength="250" asp-for="CabezaHallazgos" class="form-control" placeholder="@Html.DisplayNameFor(model => model.CabezaHallazgos)" />
                        <span asp-validation-for="CabezaHallazgos" class="text-danger"></span>

                    </div>

                </div>

            </div>

            <div>

                <div class="contenedor-seccion2">

                    <div class="columna1">
                        <p><label>@Html.DisplayNameFor(model => model.Ojos)</label></p>
                    </div>

                    <div class="columna2">
                        <p>@Html.RadioButtonFor(x => x.Ojos, false, htmlAttributes: new { @checked = true })</p>
                    </div>

                    <div class="columna3">
                        <p>@Html.RadioButtonFor(x => x.Ojos, true)</p>
                    </div>

                    <div class="columna4">
                        <input style="width:98%;" maxlength="250" asp-for="OjosHallazgos" class="form-control" placeholder="@Html.DisplayNameFor(model => model.OjosHallazgos)" />
                        <span asp-validation-for="OjosHallazgos" class="text-danger"></span>
                    </div>

                </div>

            </div>

            <div>

                <div class="contenedor-seccion2">

                    <div class="columna1">
                        <p><label>@Html.DisplayNameFor(model => model.Oidos)</label></p>
                    </div>

                    <div class="columna2">
                        <p>@Html.RadioButtonFor(x => x.Oidos, false, htmlAttributes: new { @checked = true })</p>
                    </div>

                    <div class="columna3">
                        <p>@Html.RadioButtonFor(x => x.Oidos, true)</p>
                    </div>

                    <div class="columna4">
                        <input style="width:98%;" maxlength="250" asp-for="OidosHallazgos" class="form-control" placeholder="@Html.DisplayNameFor(model => model.OidosHallazgos)" />
                        <span asp-validation-for="OidosHallazgos" class="text-danger"></span>
                    </div>

                </div>

            </div>

            <div>

                <div class="contenedor-seccion2">

                    <div class="columna1">
                        <p><label>@Html.DisplayNameFor(model => model.Nariz)</label></p>
                    </div>

                    <div class="columna2">
                        <p>@Html.RadioButtonFor(x => x.Nariz, false, htmlAttributes: new { @checked = true })</p>
                    </div>

                    <div class="columna3">
                        <p>@Html.RadioButtonFor(x => x.Nariz, true)</p>
                    </div>

                    <div class="columna4">
                        <input style="width:98%;" maxlength="250" asp-for="NarizHallazgos" class="form-control" placeholder="@Html.DisplayNameFor(model => model.NarizHallazgos)" />
                        <span asp-validation-for="NarizHallazgos" class="text-danger"></span>
                    </div>

                </div>

            </div>

            <div>

                <div class="contenedor-seccion2">

                    <div class="columna1">
                        <p><label>@Html.DisplayNameFor(model => model.Boca)</label></p>
                    </div>

                    <div class="columna2">
                        <p>@Html.RadioButtonFor(x => x.Boca, false, htmlAttributes: new { @checked = true })</p>
                    </div>

                    <div class="columna3">
                        <p>@Html.RadioButtonFor(x => x.Boca, true)</p>
                    </div>

                    <div class="columna4">
                        <input style="width:98%;" maxlength="250" asp-for="BocaHallazgos" class="form-control" placeholder="@Html.DisplayNameFor(model => model.BocaHallazgos)" />
                        <span asp-validation-for="BocaHallazgos" class="text-danger"></span>
                    </div>

                </div>

            </div>

            <div>

                <div class="contenedor-seccion2">

                    <div class="columna1">
                        <p><label>@Html.DisplayNameFor(model => model.FaringeAmigdalas)</label></p>
                    </div>

                    <div class="columna2">
                        <p>@Html.RadioButtonFor(x => x.FaringeAmigdalas, false, htmlAttributes: new { @checked = true })</p>
                    </div>

                    <div class="columna3">
                        <p>@Html.RadioButtonFor(x => x.FaringeAmigdalas, true)</p>
                    </div>

                    <div class="columna4">
                        <input style="width:98%;" maxlength="250" asp-for="FaringeAmigdalasHallazgos" class="form-control" placeholder="@Html.DisplayNameFor(model => model.FaringeAmigdalasHallazgos)" />
                        <span asp-validation-for="FaringeAmigdalasHallazgos" class="text-danger"></span>
                    </div>

                </div>

            </div>

            <div>

                <div class="contenedor-seccion2">

                    <div class="columna1">
                        <p><label>@Html.DisplayNameFor(model => model.Cuello)</label></p>
                    </div>

                    <div class="columna2">
                        <p>@Html.RadioButtonFor(x => x.Cuello, false, htmlAttributes: new { @checked = true })</p>
                    </div>

                    <div class="columna3">
                        <p>@Html.RadioButtonFor(x => x.Cuello, true)</p>
                    </div>

                    <div class="columna4">
                        <input style="width:98%;" maxlength="250" asp-for="CuelloHallazgos" class="form-control" placeholder="@Html.DisplayNameFor(model => model.CuelloHallazgos)" />
                        <span asp-validation-for="CuelloHallazgos" class="text-danger"></span>
                    </div>

                </div>

            </div>

            <div>

                <div class="contenedor-seccion2">

                    <div class="columna1">
                        <p><label>@Html.DisplayNameFor(model => model.Corazon)</label></p>
                    </div>

                    <div class="columna2">
                        <p>@Html.RadioButtonFor(x => x.Corazon, false, htmlAttributes: new { @checked = true })</p>
                    </div>

                    <div class="columna3">
                        <p>@Html.RadioButtonFor(x => x.Corazon, true)</p>
                    </div>

                    <div class="columna4">
                        <input style="width:98%;" maxlength="250" asp-for="CorazonHallazgos" class="form-control" placeholder="@Html.DisplayNameFor(model => model.CorazonHallazgos)" />
                        <span asp-validation-for="CorazonHallazgos" class="text-danger"></span>
                    </div>

                </div>

            </div>

            <div>

                <div class="contenedor-seccion2">

                    <div class="columna1">
                        <p><label>@Html.DisplayNameFor(model => model.Pulmones)</label></p>
                    </div>

                    <div class="columna2">
                        <p>@Html.RadioButtonFor(x => x.Pulmones, false, htmlAttributes: new { @checked = true })</p>
                    </div>

                    <div class="columna3">
                        <p>@Html.RadioButtonFor(x => x.Pulmones, true)</p>
                    </div>

                    <div class="columna4">
                        <input style="width:98%;" maxlength="250" asp-for="PulmonesHallazgos" class="form-control" placeholder="@Html.DisplayNameFor(model => model.PulmonesHallazgos)" />
                        <span asp-validation-for="PulmonesHallazgos" class="text-danger"></span>
                    </div>

                </div>

            </div>

            <div>

                <div class="contenedor-seccion2">

                    <div class="columna1">
                        <p><label>@Html.DisplayNameFor(model => model.Abdomen)</label></p>
                    </div>

                    <div class="columna2">
                        <p>@Html.RadioButtonFor(x => x.Abdomen, false, htmlAttributes: new { @checked = true })</p>
                    </div>

                    <div class="columna3">
                        <p>@Html.RadioButtonFor(x => x.Abdomen, true)</p>
                    </div>

                    <div class="columna4">
                        <input style="width:98%;" maxlength="250" asp-for="AbdomenHallazgos" class="form-control" placeholder="@Html.DisplayNameFor(model => model.AbdomenHallazgos)" />
                        <span asp-validation-for="AbdomenHallazgos" class="text-danger"></span>
                    </div>

                </div>

            </div>

            <div>

                <div class="contenedor-seccion2">

                    <div class="columna1">
                        <p><label>@Html.DisplayNameFor(model => model.Hernias)</label></p>
                    </div>

                    <div class="columna2">
                        <p>@Html.RadioButtonFor(x => x.Hernias, false, htmlAttributes: new { @checked = true })</p>
                    </div>

                    <div class="columna3">
                        <p>@Html.RadioButtonFor(x => x.Hernias, true)</p>
                    </div>

                    <div class="columna4">
                        <input style="width:98%;" maxlength="250" asp-for="HerniasHallazgos" class="form-control" placeholder="@Html.DisplayNameFor(model => model.HerniasHallazgos)" />
                        <span asp-validation-for="HerniasHallazgos" class="text-danger"></span>
                    </div>

                </div>

            </div>

            <div>

                <div class="contenedor-seccion2">

                    <div class="columna1">
                        <p><label>@Html.DisplayNameFor(model => model.Genitales)</label></p>
                    </div>

                    <div class="columna2">
                        <p>@Html.RadioButtonFor(x => x.Genitales, false, htmlAttributes: new { @checked = true })</p>
                    </div>

                    <div class="columna3">
                        <p>@Html.RadioButtonFor(x => x.Genitales, true)</p>
                    </div>

                    <div class="columna4">
                        <input style="width:98%;" maxlength="250" asp-for="GenitalesHallazgos" class="form-control" placeholder="@Html.DisplayNameFor(model => model.GenitalesHallazgos)" />
                        <span asp-validation-for="GenitalesHallazgos" class="text-danger"></span>
                    </div>

                </div>

            </div>

            <div>

                <div class="contenedor-seccion2">

                    <div class="columna1">
                        <p><label>@Html.DisplayNameFor(model => model.ExtremidadesSuperiores)</label></p>
                    </div>

                    <div class="columna2">
                        <p>@Html.RadioButtonFor(x => x.ExtremidadesSuperiores, false, htmlAttributes: new { @checked = true })</p>
                    </div>

                    <div class="columna3">
                        <p>@Html.RadioButtonFor(x => x.ExtremidadesSuperiores, true)</p>
                    </div>

                    <div class="columna4">
                        <input style="width:98%;" maxlength="250" asp-for="ExtremidadesSuperioresHallazgos" class="form-control" placeholder="@Html.DisplayNameFor(model => model.ExtremidadesSuperioresHallazgos)" />
                        <span asp-validation-for="ExtremidadesSuperioresHallazgos" class="text-danger"></span>
                    </div>

                </div>

            </div>

            <div>

                <div class="contenedor-seccion2">

                    <div class="columna1">
                        <p><label>@Html.DisplayNameFor(model => model.ExtremidadesInferiores)</label></p>
                    </div>

                    <div class="columna2">
                        <p>@Html.RadioButtonFor(x => x.ExtremidadesInferiores, false, htmlAttributes: new { @checked = true })</p>
                    </div>

                    <div class="columna3">
                        <p>@Html.RadioButtonFor(x => x.ExtremidadesInferiores, true)</p>
                    </div>

                    <div class="columna4">
                        <input style="width:98%;" maxlength="250" asp-for="ExtremidadesInferioresHallazgos" class="form-control" placeholder="@Html.DisplayNameFor(model => model.ExtremidadesInferioresHallazgos)" />
                        <span asp-validation-for="ExtremidadesInferioresHallazgos" class="text-danger"></span>
                    </div>

                </div>

            </div>

            <div>

                <div class="contenedor-seccion2">

                    <div class="columna1">
                        <p><label>@Html.DisplayNameFor(model => model.Varices)</label></p>
                    </div>

                    <div class="columna2">
                        <p>@Html.RadioButtonFor(x => x.Varices, false, htmlAttributes: new { @checked = true })</p>
                    </div>

                    <div class="columna3">
                        <p>@Html.RadioButtonFor(x => x.Varices, true)</p>
                    </div>

                    <div class="columna4">
                        <input style="width:98%;" maxlength="250" asp-for="VaricesHallazgos" class="form-control" placeholder="@Html.DisplayNameFor(model => model.VaricesHallazgos)" />
                        <span asp-validation-for="VaricesHallazgos" class="text-danger"></span>>
                    </div>

                </div>

            </div>

            <div>

                <div class="contenedor-seccion2">

                    <div class="columna1">
                        <p><label>@Html.DisplayNameFor(model => model.SistemaNerviosoCentral)</label></p>
                    </div>

                    <div class="columna2">
                        <p>@Html.RadioButtonFor(x => x.SistemaNerviosoCentral, false, htmlAttributes: new { @checked = true })</p>
                    </div>

                    <div class="columna3">
                        <p>@Html.RadioButtonFor(x => x.SistemaNerviosoCentral, true)</p>
                    </div>

                    <div class="columna4">
                        <input style="width:98%;" maxlength="250" asp-for="SistemaNerviosoHallazgos" class="form-control" placeholder="@Html.DisplayNameFor(model => model.SistemaNerviosoHallazgos)" />
                        <span asp-validation-for="SistemaNerviosoHallazgos" class="text-danger"></span>
                    </div>

                </div>

            </div>

            <div>
                <div class="contenedor-seccion2">

                    <div class="columna1">
                        <p><label>@Html.DisplayNameFor(model => model.Piel)</label></p>
                    </div>

                    <div class="columna2">
                        <p>@Html.RadioButtonFor(x => x.Piel, false, htmlAttributes: new { @checked = true })</p>
                    </div>

                    <div class="columna3">
                        <p>@Html.RadioButtonFor(x => x.Piel, true)</p>
                    </div>

                    <div class="columna4">
                        <input style="width:98%;" maxlength="250" asp-for="PielHallazgos" class="form-control" placeholder="@Html.DisplayNameFor(model => model.PielHallazgos)" />
                        <span asp-validation-for="PielHallazgos" class="text-danger"></span>
                    </div>

                </div>

            </div>

        </article>

        <article class="col col-lg-12">
            <legend>
                <div class="contenedor-cabecera">
                    <div class="titulo">Diagnóstico</div>

                </div>
            </legend>

            <section class="fondo-seccion">

                <div class="contenedor-seccion">

                    <br />
                    <br />
                    <label class="input">
                        <p>@Html.DisplayNameFor(model => model.Diagnostico)</p>
                        <textarea maxlength="500" asp-for="Diagnostico" class="form-control" placeholder="@Html.DisplayNameFor(model=>model.Diagnostico)" rows="4" style="resize:none;"></textarea>
                        <span asp-validation-for="Diagnostico" class="text-danger"></span>
                    </label>

            </section>

            <section class="fondo-seccion">

                <div class="contenedor-seccion">

                    <p>@Html.DisplayNameFor(model => model.SospechaEnfermedadLaboral)</p>

                    Si &nbsp;<label onclick="mostrarSospechaEnfermedadLaboralSeccion()" />@Html.RadioButtonFor(x => x.SospechaEnfermedadLaboral, true)</label> &emsp;
                    No &nbsp;<label onclick="ocultarSospechaEnfermedadLaboralSeccion()" />@Html.RadioButtonFor(x => x.SospechaEnfermedadLaboral, false, htmlAttributes: new { @checked = true })</label>
                </div>

            </section>

            <section class="fondo-seccion" id="SospechaEnfermedadLaboralSeccion">

                <div class="contenedor-seccion">


                    <label class="input">
                        <p>
                            @Html.DisplayNameFor(model => model.DetalleEnfermedad)
                        </p>
                        <input maxlength="100" asp-for="DetalleEnfermedad" class="form-control" placeholder="@Html.DisplayNameFor(model => model.DetalleEnfermedad)" />
                        <span asp-validation-for="DetalleEnfermedad" class="text-danger"></span>
                    </label>
                    <br />

                    <div >

                        <p>@Html.DisplayNameFor(model => model.AptoCargo)</p>

                        Si &nbsp;@Html.RadioButtonFor(x => x.AptoCargo, true , htmlAttributes: new { @checked = true } )</label> &emsp;
                        No &nbsp;@Html.RadioButtonFor(x => x.AptoCargo, false )</label>
                    </div>

                </div>

            </section>

        </article>

    </div>
    
</fieldset>

<script>

    var chk1,chk2;

    function ocultarAccidenteTrabajoSeccion() {
        $("#EmpresaAccidenteSeccion").hide(); 

        chk1 = false;

        if (chk2 == false) {
            $("#DetalleAntecedenteProfesional").hide();

        }
        
    }

    function mostrarAccidenteTrabajoSeccion() {

        chk1 = true;

        $("#EmpresaAccidenteSeccion").show();
        $("#DetalleAntecedenteProfesional").show();
        
    }

    function ocultarEnfermedadProfesionalSeccion() {
        
        $("#EnfermedadProfesionalSeccion").hide();

        chk2 = false;

        if (chk1 == false) {
            $("#DetalleAntecedenteProfesional").hide();
        }
        
    }

    function mostrarEnfermedadProfesionalSeccion() {

        chk2 = true;

        $("#EnfermedadProfesionalSeccion").show();
        $("#DetalleAntecedenteProfesional").show();
        
    }

    function mostrarSeccion(IdSeccion) {

        var IdObjeto = "#" + IdSeccion;

        $(IdObjeto).show();

    }

    function ocultarSeccion(IdSeccion) {

        var IdObjeto = "#" + IdSeccion;

        $(IdObjeto).hide();

    }

    function clickIconoAntecedenteGinecoObsterico(idIcono) {

        var idIconoIngresado = "#" + idIcono;

        if ($(idIconoIngresado).attr("class") == "Editar-icono") {

            $(idIconoIngresado).attr("class", "Editar-icono-activado");
            mostrarSeccion("AntecedenteGinecoObstericoSeccion");

        } else {

            $(idIconoIngresado).attr("class", "Editar-icono");
            ocultarSeccion("AntecedenteGinecoObstericoSeccion");
        }
        
    }
    

    function clickIconoAntecedentePersonal(idIcono) {

        var idIconoIngresado = "#" + idIcono;

        if ($(idIconoIngresado).attr("class") == "Editar-icono") {

            $(idIconoIngresado).attr("class", "Editar-icono-activado");
            mostrarSeccion("AntecedentePersonalSeccion");

        } else {

            $(idIconoIngresado).attr("class", "Editar-icono");
            ocultarSeccion("AntecedentePersonalSeccion");
        }

    }

    function mostrarCigarrilloSeccion() {
        mostrarSeccion("CigarrilloSeccion");

    }
    
    function ocultarCigarrilloSeccion() {
        ocultarSeccion("CigarrilloSeccion");
    }

    function mostrarLicorSeccion() {
        mostrarSeccion("LicorSeccion");

    }

    function ocultarLicorSeccion() {
        ocultarSeccion("LicorSeccion");
    }

    function mostrarDrogasSeccion() {
        mostrarSeccion("DrogasSeccion");

    }

    function ocultarDrogasSeccion() {
        ocultarSeccion("DrogasSeccion");
    }

    function mostrarEjerciciosSeccion() {
        mostrarSeccion("EjerciciosSeccion");

    }

    function ocultarEjerciciosSeccion() {
        ocultarSeccion("EjerciciosSeccion");
    }

    function mostrarSospechaEnfermedadLaboralSeccion() {
        mostrarSeccion("SospechaEnfermedadLaboralSeccion");
    }

    function ocultarSospechaEnfermedadLaboralSeccion() {
        ocultarSeccion("SospechaEnfermedadLaboralSeccion");
    }
    



    onload = function () {

        chk1 = false;
        chk2 = false;

        ocultarAccidenteTrabajoSeccion();
        ocultarEnfermedadProfesionalSeccion();

        ocultarSeccion("AntecedentePersonalSeccion");
        ocultarSeccion("AntecedenteGinecoObstericoSeccion");

        ocultarCigarrilloSeccion();
        ocultarLicorSeccion();
        ocultarDrogasSeccion();
        ocultarEjerciciosSeccion();

        ocultarSospechaEnfermedadLaboralSeccion();
    }

</script>