@model bd.webappth.entidades.Negocio.FichaMedica

@{
    ViewData["Title"] = "Datos médicos";

    var ids = Model.IdPersona;
}

<style>
    .contenedor-seccion {
        background-color: transparent;
        width: 30%;
        min-height: 50px;
        float: left;
    }

    .espacio-seccion {
        background-color: transparent;
        min-height: 50px;
        width: 20%;
        float: left;
    }

    .titulo {
        background-color: black;
        color: white;
        padding-left: 1%;
    }

    .contenedor-seccion2 {
        margin-left: 0%;
        margin-right: 0%;
        color: black;
        font-size: 15px;
        float: none;
    }

    .columna1 {
        padding-left: 2%;
        width: 22%;
        height: 27px;
        /*background-color: rgba(142,194,219,1);*/
        float: left;
    }

    .columna2 {
        width: 9%;
        height: 27px;
        float: left;
        /*background-color: rgba(142,194,219,0.7);*/
        text-align: center;
    }

    .columna3 {
        width: 9%;
        height: 27px;
        float: left;
        /*background-color: rgba(142,194,219,1);*/
        text-align: center;
    }

    .columna4 {
        width: 56%;
        height: 27px;
        padding-left: 2%;
        /*background-color: rgba(142,194,219,0.7);*/
        float: right;
    }

        .columna4 input {
            height: 23px;
        }
</style>


<!-- MAIN CONTENT -->
<div id="content">

    @{await Html.RenderPartialAsync("_PartialViewMenu", Model);}

    <br />
    &nbsp;

    <div class="col col-10">
        @if (@ViewData["Error"].ToString() != "")

        {

            <div class="col-lg-12">
                <div class="alert alert-block alert-dismissable">
                    <a class="close" data-dismiss="alert" href="#"><p>X</p></a>
                    <h4 class="alert-heading"><i class="fa fa-check-square-o"></i>Informaci&oacute;n!</h4>
                    <p>
                        <span class="text-danger"><strong><bold> @ViewData["Error"]</bold></strong></span>
                    </p>
                </div>
            </div>

        }
    </div>

    <!-- widget grid -->
    <section id="" class="">

        <!-- START ROW -->
        <div class="row">
            <!-- NEW COL START -->
            <article class="col-sm-12 col-md-12 col-lg-12">
                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget" id="wid-id-1" data-widget-editbutton="false" data-widget-custombutton="false">
                    <!--
            <header>
                <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                <h2>Hábitos</h2>
            </header>
            -->
                    <!-- widget div-->
                    <div>

                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->

                        </div>
                        <!-- end widget edit box -->
                        <!-- widget content -->
                        <div class="widget-body no-padding">

                            <form asp-action="DatosMedicos" id="checkout-form" class="smart-form" novalidate="novalidate">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                                <fieldset>

                                    <input type="hidden" asp-for="IdPersona" /><input type="hidden" asp-for="IdFichaMedica" />

                                    <article class="col col-lg-12">
                                        <legend>
                                            <div class="contenedor-cabecera">
                                                <div class="titulo">Exámen físico</div>

                                            </div>
                                        </legend>


                                        <section class="fondo-seccion">
                                            <br />
                                            <section>
                                                <div class="contenedor-seccion">


                                                    <label class="input">

                                                        <p>@Html.DisplayNameFor(model => model.TensionArterial)</p>

                                                        <input type="text" maxlength="50" asp-for="TensionArterial" class="form-control" placeholder="@Html.DisplayNameFor(model=>model.TensionArterial)" />
                                                        <span asp-validation-for="TensionArterial" class="text-danger"></span>
                                                    </label>

                                                </div>

                                                <div class="espacio-seccion"></div>

                                                <div class="contenedor-seccion">

                                                    <label class="input">
                                                        <p>
                                                            @Html.DisplayNameFor(model => model.FrecuenciaCardiaca)
                                                        </p>
                                                        <input type="text" maxlength="50" asp-for="FrecuenciaCardiaca" class="form-control" placeholder="@Html.DisplayNameFor(model=>model.FrecuenciaCardiaca)" />
                                                        <span asp-validation-for="FrecuenciaCardiaca" class="text-danger"></span>
                                                    </label>
                                                    <br />

                                                </div>

                                            </section>


                                            <div class="contenedor-seccion">

                                                <label class="input">
                                                    <p>
                                                        @Html.DisplayNameFor(model => model.FrecuenciaRespiratoria)
                                                    </p>
                                                    <input type="text" maxlength="50" asp-for="FrecuenciaRespiratoria" class="form-control" placeholder="@Html.DisplayNameFor(model=>model.FrecuenciaRespiratoria)" />
                                                    <span asp-validation-for="FrecuenciaRespiratoria" class="text-danger"></span>
                                                </label>
                                            </div>

                                            <div class="espacio-seccion"></div>

                                            <div class="contenedor-seccion">

                                                <label class="input">
                                                    <p>@Html.DisplayNameFor(model => model.Talla)</p>

                                                    <input type="text" maxlength="50" asp-for="Talla" class="form-control" placeholder="@Html.DisplayNameFor(model=>model.Talla)" />
                                                    <span asp-validation-for="Talla" class="text-danger"></span>
                                                </label>
                                                <br />

                                            </div>

                                            <div class="contenedor-seccion">

                                                <label class="input">
                                                    <p>@Html.DisplayNameFor(model => model.Peso)</p>

                                                    <input type="text" maxlength="50" asp-for="Peso" class="form-control" placeholder="@Html.DisplayNameFor(model=>model.Peso)" />
                                                    <span asp-validation-for="Peso" class="text-danger"></span>
                                                </label>

                                            </div>

                                            <div class="espacio-seccion"></div>

                                            <div class="contenedor-seccion">
                                                <label>

                                                    <p>@Html.DisplayNameFor(model => model.LateralidadDominante)</p>


                                                    <strong>Diestro</strong> &nbsp; @Html.RadioButtonFor(x => x.LateralidadDominante, "0", htmlAttributes: new { @checked = true })&emsp;
                                                    <strong>Zurdo</strong> &nbsp;@Html.RadioButtonFor(x => x.LateralidadDominante, "1")&emsp;
                                                    <strong>Ambidiestro </strong> &nbsp;@Html.RadioButtonFor(x => x.LateralidadDominante, "2")&emsp;

                                                </label>


                                            </div>

                                            <div class="espacio-seccion"><br /><br />&nbsp;</div>

                                            <section class="fondo-seccion">

                                                <div class="contenedor-seccion" style="width:50%;">

                                                    <label>
                                                        <br />

                                                        <p>@Html.DisplayNameFor(model => model.Interpretacion)</p>


                                                        <strong>Bajo peso: < 18,5 </strong> &nbsp; @Html.RadioButtonFor(x => x.Interpretacion, "0")&emsp;
                                                        <strong>Normal: 18,5-24,9</strong> &nbsp;  @Html.RadioButtonFor(x => x.Interpretacion, "1", htmlAttributes: new { @checked = true })&emsp;
                                                        <br />
                                                        <strong>sobrepeso: 25 -29,9 </strong> &nbsp;@Html.RadioButtonFor(x => x.Interpretacion, "2")&emsp;
                                                        <strong>Obeso: > 30 </strong> &nbsp;@Html.RadioButtonFor(x => x.Interpretacion, "3")&emsp;
                                                    </label>

                                                </div>

                                                <div class="espacio-seccion"></div>

                                            </section>

                                        </section>

                                    </article>


                                    <article class="col col-lg-12">
                                        <legend>
                                            <div class="contenedor-cabecera">
                                                <div class="titulo">Revisión de órgano o sistema</div>

                                            </div>
                                        </legend>


                                        <div>

                                            <div class="contenedor-seccion2">

                                                <div class="columna1">
                                                    <p>Órgano / Sistema</p>
                                                </div>

                                                <div class="columna2">
                                                    <p>Normal</p>
                                                </div>

                                                <div class="columna3">
                                                    <p>Anormal</p>
                                                </div>

                                                <div class="columna4">
                                                    <p>Hallazgos</p>
                                                </div>

                                            </div>

                                        </div>

                                        <div>

                                            <div class="contenedor-seccion2">

                                                <div class="columna1">
                                                    <p><label>@Html.DisplayNameFor(model => model.Cabeza)</label></p>
                                                </div>

                                                <div class="columna2">
                                                    <p>@Html.RadioButtonFor(x => x.Cabeza, false, htmlAttributes: new { @checked = true })</p>
                                                </div>

                                                <div class="columna3">
                                                    <p>@Html.RadioButtonFor(x => x.Cabeza, true)</p>
                                                </div>

                                                <div class="columna4">
                                                    <input style="width:98%;" maxlength="250" asp-for="CabezaHallazgos" class="form-control" placeholder="@Html.DisplayNameFor(model => model.CabezaHallazgos)" />
                                                    <span asp-validation-for="CabezaHallazgos" class="text-danger"></span>

                                                </div>

                                            </div>

                                        </div>

                                        <div>

                                            <div class="contenedor-seccion2">

                                                <div class="columna1">
                                                    <p><label>@Html.DisplayNameFor(model => model.Ojos)</label></p>
                                                </div>

                                                <div class="columna2">
                                                    <p>@Html.RadioButtonFor(x => x.Ojos, false, htmlAttributes: new { @checked = true })</p>
                                                </div>

                                                <div class="columna3">
                                                    <p>@Html.RadioButtonFor(x => x.Ojos, true)</p>
                                                </div>

                                                <div class="columna4">
                                                    <input style="width:98%;" maxlength="250" asp-for="OjosHallazgos" class="form-control" placeholder="@Html.DisplayNameFor(model => model.OjosHallazgos)" />
                                                    <span asp-validation-for="OjosHallazgos" class="text-danger"></span>
                                                </div>

                                            </div>

                                        </div>

                                        <div>

                                            <div class="contenedor-seccion2">

                                                <div class="columna1">
                                                    <p><label>@Html.DisplayNameFor(model => model.Oidos)</label></p>
                                                </div>

                                                <div class="columna2">
                                                    <p>@Html.RadioButtonFor(x => x.Oidos, false, htmlAttributes: new { @checked = true })</p>
                                                </div>

                                                <div class="columna3">
                                                    <p>@Html.RadioButtonFor(x => x.Oidos, true)</p>
                                                </div>

                                                <div class="columna4">
                                                    <input style="width:98%;" maxlength="250" asp-for="OidosHallazgos" class="form-control" placeholder="@Html.DisplayNameFor(model => model.OidosHallazgos)" />
                                                    <span asp-validation-for="OidosHallazgos" class="text-danger"></span>
                                                </div>

                                            </div>

                                        </div>

                                        <div>

                                            <div class="contenedor-seccion2">

                                                <div class="columna1">
                                                    <p><label>@Html.DisplayNameFor(model => model.Nariz)</label></p>
                                                </div>

                                                <div class="columna2">
                                                    <p>@Html.RadioButtonFor(x => x.Nariz, false, htmlAttributes: new { @checked = true })</p>
                                                </div>

                                                <div class="columna3">
                                                    <p>@Html.RadioButtonFor(x => x.Nariz, true)</p>
                                                </div>

                                                <div class="columna4">
                                                    <input style="width:98%;" maxlength="250" asp-for="NarizHallazgos" class="form-control" placeholder="@Html.DisplayNameFor(model => model.NarizHallazgos)" />
                                                    <span asp-validation-for="NarizHallazgos" class="text-danger"></span>
                                                </div>

                                            </div>

                                        </div>

                                        <div>

                                            <div class="contenedor-seccion2">

                                                <div class="columna1">
                                                    <p><label>@Html.DisplayNameFor(model => model.Boca)</label></p>
                                                </div>

                                                <div class="columna2">
                                                    <p>@Html.RadioButtonFor(x => x.Boca, false, htmlAttributes: new { @checked = true })</p>
                                                </div>

                                                <div class="columna3">
                                                    <p>@Html.RadioButtonFor(x => x.Boca, true)</p>
                                                </div>

                                                <div class="columna4">
                                                    <input style="width:98%;" maxlength="250" asp-for="BocaHallazgos" class="form-control" placeholder="@Html.DisplayNameFor(model => model.BocaHallazgos)" />
                                                    <span asp-validation-for="BocaHallazgos" class="text-danger"></span>
                                                </div>

                                            </div>

                                        </div>

                                        <div>

                                            <div class="contenedor-seccion2">

                                                <div class="columna1">
                                                    <p><label>@Html.DisplayNameFor(model => model.FaringeAmigdalas)</label></p>
                                                </div>

                                                <div class="columna2">
                                                    <p>@Html.RadioButtonFor(x => x.FaringeAmigdalas, false, htmlAttributes: new { @checked = true })</p>
                                                </div>

                                                <div class="columna3">
                                                    <p>@Html.RadioButtonFor(x => x.FaringeAmigdalas, true)</p>
                                                </div>

                                                <div class="columna4">
                                                    <input style="width:98%;" maxlength="250" asp-for="FaringeAmigdalasHallazgos" class="form-control" placeholder="@Html.DisplayNameFor(model => model.FaringeAmigdalasHallazgos)" />
                                                    <span asp-validation-for="FaringeAmigdalasHallazgos" class="text-danger"></span>
                                                </div>

                                            </div>

                                        </div>

                                        <div>

                                            <div class="contenedor-seccion2">

                                                <div class="columna1">
                                                    <p><label>@Html.DisplayNameFor(model => model.Cuello)</label></p>
                                                </div>

                                                <div class="columna2">
                                                    <p>@Html.RadioButtonFor(x => x.Cuello, false, htmlAttributes: new { @checked = true })</p>
                                                </div>

                                                <div class="columna3">
                                                    <p>@Html.RadioButtonFor(x => x.Cuello, true)</p>
                                                </div>

                                                <div class="columna4">
                                                    <input style="width:98%;" maxlength="250" asp-for="CuelloHallazgos" class="form-control" placeholder="@Html.DisplayNameFor(model => model.CuelloHallazgos)" />
                                                    <span asp-validation-for="CuelloHallazgos" class="text-danger"></span>
                                                </div>

                                            </div>

                                        </div>

                                        <div>

                                            <div class="contenedor-seccion2">

                                                <div class="columna1">
                                                    <p><label>@Html.DisplayNameFor(model => model.Corazon)</label></p>
                                                </div>

                                                <div class="columna2">
                                                    <p>@Html.RadioButtonFor(x => x.Corazon, false, htmlAttributes: new { @checked = true })</p>
                                                </div>

                                                <div class="columna3">
                                                    <p>@Html.RadioButtonFor(x => x.Corazon, true)</p>
                                                </div>

                                                <div class="columna4">
                                                    <input style="width:98%;" maxlength="250" asp-for="CorazonHallazgos" class="form-control" placeholder="@Html.DisplayNameFor(model => model.CorazonHallazgos)" />
                                                    <span asp-validation-for="CorazonHallazgos" class="text-danger"></span>
                                                </div>

                                            </div>

                                        </div>

                                        <div>

                                            <div class="contenedor-seccion2">

                                                <div class="columna1">
                                                    <p><label>@Html.DisplayNameFor(model => model.Pulmones)</label></p>
                                                </div>

                                                <div class="columna2">
                                                    <p>@Html.RadioButtonFor(x => x.Pulmones, false, htmlAttributes: new { @checked = true })</p>
                                                </div>

                                                <div class="columna3">
                                                    <p>@Html.RadioButtonFor(x => x.Pulmones, true)</p>
                                                </div>

                                                <div class="columna4">
                                                    <input style="width:98%;" maxlength="250" asp-for="PulmonesHallazgos" class="form-control" placeholder="@Html.DisplayNameFor(model => model.PulmonesHallazgos)" />
                                                    <span asp-validation-for="PulmonesHallazgos" class="text-danger"></span>
                                                </div>

                                            </div>

                                        </div>

                                        <div>

                                            <div class="contenedor-seccion2">

                                                <div class="columna1">
                                                    <p><label>@Html.DisplayNameFor(model => model.Abdomen)</label></p>
                                                </div>

                                                <div class="columna2">
                                                    <p>@Html.RadioButtonFor(x => x.Abdomen, false, htmlAttributes: new { @checked = true })</p>
                                                </div>

                                                <div class="columna3">
                                                    <p>@Html.RadioButtonFor(x => x.Abdomen, true)</p>
                                                </div>

                                                <div class="columna4">
                                                    <input style="width:98%;" maxlength="250" asp-for="AbdomenHallazgos" class="form-control" placeholder="@Html.DisplayNameFor(model => model.AbdomenHallazgos)" />
                                                    <span asp-validation-for="AbdomenHallazgos" class="text-danger"></span>
                                                </div>

                                            </div>

                                        </div>

                                        <div>

                                            <div class="contenedor-seccion2">

                                                <div class="columna1">
                                                    <p><label>@Html.DisplayNameFor(model => model.Hernias)</label></p>
                                                </div>

                                                <div class="columna2">
                                                    <p>@Html.RadioButtonFor(x => x.Hernias, false, htmlAttributes: new { @checked = true })</p>
                                                </div>

                                                <div class="columna3">
                                                    <p>@Html.RadioButtonFor(x => x.Hernias, true)</p>
                                                </div>

                                                <div class="columna4">
                                                    <input style="width:98%;" maxlength="250" asp-for="HerniasHallazgos" class="form-control" placeholder="@Html.DisplayNameFor(model => model.HerniasHallazgos)" />
                                                    <span asp-validation-for="HerniasHallazgos" class="text-danger"></span>
                                                </div>

                                            </div>

                                        </div>

                                        <div>

                                            <div class="contenedor-seccion2">

                                                <div class="columna1">
                                                    <p><label>@Html.DisplayNameFor(model => model.Genitales)</label></p>
                                                </div>

                                                <div class="columna2">
                                                    <p>@Html.RadioButtonFor(x => x.Genitales, false, htmlAttributes: new { @checked = true })</p>
                                                </div>

                                                <div class="columna3">
                                                    <p>@Html.RadioButtonFor(x => x.Genitales, true)</p>
                                                </div>

                                                <div class="columna4">
                                                    <input style="width:98%;" maxlength="250" asp-for="GenitalesHallazgos" class="form-control" placeholder="@Html.DisplayNameFor(model => model.GenitalesHallazgos)" />
                                                    <span asp-validation-for="GenitalesHallazgos" class="text-danger"></span>
                                                </div>

                                            </div>

                                        </div>

                                        <div>

                                            <div class="contenedor-seccion2">

                                                <div class="columna1">
                                                    <p><label>@Html.DisplayNameFor(model => model.ExtremidadesSuperiores)</label></p>
                                                </div>

                                                <div class="columna2">
                                                    <p>@Html.RadioButtonFor(x => x.ExtremidadesSuperiores, false, htmlAttributes: new { @checked = true })</p>
                                                </div>

                                                <div class="columna3">
                                                    <p>@Html.RadioButtonFor(x => x.ExtremidadesSuperiores, true)</p>
                                                </div>

                                                <div class="columna4">
                                                    <input style="width:98%;" maxlength="250" asp-for="ExtremidadesSuperioresHallazgos" class="form-control" placeholder="@Html.DisplayNameFor(model => model.ExtremidadesSuperioresHallazgos)" />
                                                    <span asp-validation-for="ExtremidadesSuperioresHallazgos" class="text-danger"></span>
                                                </div>

                                            </div>

                                        </div>

                                        <div>

                                            <div class="contenedor-seccion2">

                                                <div class="columna1">
                                                    <p><label>@Html.DisplayNameFor(model => model.ExtremidadesInferiores)</label></p>
                                                </div>

                                                <div class="columna2">
                                                    <p>@Html.RadioButtonFor(x => x.ExtremidadesInferiores, false, htmlAttributes: new { @checked = true })</p>
                                                </div>

                                                <div class="columna3">
                                                    <p>@Html.RadioButtonFor(x => x.ExtremidadesInferiores, true)</p>
                                                </div>

                                                <div class="columna4">
                                                    <input style="width:98%;" maxlength="250" asp-for="ExtremidadesInferioresHallazgos" class="form-control" placeholder="@Html.DisplayNameFor(model => model.ExtremidadesInferioresHallazgos)" />
                                                    <span asp-validation-for="ExtremidadesInferioresHallazgos" class="text-danger"></span>
                                                </div>

                                            </div>

                                        </div>

                                        <div>

                                            <div class="contenedor-seccion2">

                                                <div class="columna1">
                                                    <p><label>@Html.DisplayNameFor(model => model.Varices)</label></p>
                                                </div>

                                                <div class="columna2">
                                                    <p>@Html.RadioButtonFor(x => x.Varices, false, htmlAttributes: new { @checked = true })</p>
                                                </div>

                                                <div class="columna3">
                                                    <p>@Html.RadioButtonFor(x => x.Varices, true)</p>
                                                </div>

                                                <div class="columna4">
                                                    <input style="width:98%;" maxlength="250" asp-for="VaricesHallazgos" class="form-control" placeholder="@Html.DisplayNameFor(model => model.VaricesHallazgos)" />
                                                    <span asp-validation-for="VaricesHallazgos" class="text-danger"></span>>
                                                </div>

                                            </div>

                                        </div>

                                        <div>

                                            <div class="contenedor-seccion2">

                                                <div class="columna1">
                                                    <p><label>@Html.DisplayNameFor(model => model.SistemaNerviosoCentral)</label></p>
                                                </div>

                                                <div class="columna2">
                                                    <p>@Html.RadioButtonFor(x => x.SistemaNerviosoCentral, false, htmlAttributes: new { @checked = true })</p>
                                                </div>

                                                <div class="columna3">
                                                    <p>@Html.RadioButtonFor(x => x.SistemaNerviosoCentral, true)</p>
                                                </div>

                                                <div class="columna4">
                                                    <input style="width:98%;" maxlength="250" asp-for="SistemaNerviosoHallazgos" class="form-control" placeholder="@Html.DisplayNameFor(model => model.SistemaNerviosoHallazgos)" />
                                                    <span asp-validation-for="SistemaNerviosoHallazgos" class="text-danger"></span>
                                                </div>

                                            </div>

                                        </div>

                                        <div>
                                            <div class="contenedor-seccion2">

                                                <div class="columna1">
                                                    <p><label>@Html.DisplayNameFor(model => model.Piel)</label></p>
                                                </div>

                                                <div class="columna2">
                                                    <p>@Html.RadioButtonFor(x => x.Piel, false, htmlAttributes: new { @checked = true })</p>
                                                </div>

                                                <div class="columna3">
                                                    <p>@Html.RadioButtonFor(x => x.Piel, true)</p>
                                                </div>

                                                <div class="columna4">
                                                    <input style="width:98%;" maxlength="250" asp-for="PielHallazgos" class="form-control" placeholder="@Html.DisplayNameFor(model => model.PielHallazgos)" />
                                                    <span asp-validation-for="PielHallazgos" class="text-danger"></span>
                                                </div>

                                            </div>

                                        </div>

                                    </article>





                                    <article class="col col-lg-12">
                                        <legend>
                                            <div class="contenedor-cabecera">
                                                <div class="titulo">Diagnóstico</div>

                                            </div>
                                        </legend>

                                        <section class="fondo-seccion">

                                            <section>

                                                <br />

                                                <div class="contenedor-seccion">

                                                    <p>@Html.DisplayNameFor(model => model.SospechaEnfermedadLaboral)</p>

                                                    Si &nbsp;<label onclick="mostrarSospechaEnfermedadLaboralSeccion()" />@Html.RadioButtonFor(x => x.SospechaEnfermedadLaboral, true)</label> &emsp;
                                                    No &nbsp;<label onclick="ocultarSospechaEnfermedadLaboralSeccion()" />@Html.RadioButtonFor(x => x.SospechaEnfermedadLaboral, false, htmlAttributes: new { @checked = true })</label>
                                                </div>

                                                <div class="espacio-seccion"></div>

                                                <div class="contenedor-seccion">


                                                    <label class="input">
                                                        <p>
                                                            @Html.DisplayNameFor(model => model.DetalleEnfermedad)
                                                        </p>
                                                        <input maxlength="100" asp-for="DetalleEnfermedad" class="form-control" placeholder="@Html.DisplayNameFor(model => model.DetalleEnfermedad)" />
                                                        <span asp-validation-for="DetalleEnfermedad" class="text-danger"></span>
                                                    </label>
                                                    <br />

                                                </div>

                                            </section>


                                            <div class="contenedor-seccion">

                                                <div>

                                                    <p>@Html.DisplayNameFor(model => model.AptoCargo)</p>

                                                    Si &nbsp;@Html.RadioButtonFor(x => x.AptoCargo, true, htmlAttributes: new { @checked = true })</label> &emsp;
                                                    No &nbsp;@Html.RadioButtonFor(x => x.AptoCargo, false)</label>
                                                </div>

                                            </div>

                                            <div class="espacio-seccion"></div>

                                            <div class="contenedor-seccion">

                                                <label class="input">
                                                    <p>@Html.DisplayNameFor(model => model.Diagnostico)</p>
                                                    <textarea maxlength="500" asp-for="Diagnostico" class="form-control" placeholder="@Html.DisplayNameFor(model=>model.Diagnostico)" rows="4" style="resize:none;"></textarea>
                                                    <span asp-validation-for="Diagnostico" class="text-danger"></span>
                                                </label>

                                            </div>

                                        </section>

                                    </article>




                                    <article class="col col-lg-12">
                                        <legend>
                                            <div class="contenedor-cabecera">
                                                <div class="titulo">Recomendaciones</div>

                                            </div>
                                        </legend>

                                        <section class="fondo-seccion">

                                            <br />

                                            <div class="contenedor-seccion">

                                                <label class="input">
                                                    <p>@Html.DisplayNameFor(model => model.Recomendaciones)</p>
                                                    <textarea maxlength="500" asp-for="Recomendaciones" class="form-control" placeholder="@Html.DisplayNameFor(model=>model.Recomendaciones)" rows="4" style="resize:none;"></textarea>
                                                    <span asp-validation-for="Recomendaciones" class="text-danger"></span>
                                                </label>

                                                <br />

                                            </div>

                                        </section>

                                    </article>

                                    <article class="col col-lg-12">
                                        <legend>
                                            <div class="contenedor-cabecera">
                                                <div class="titulo">¿Es necesario para el paciente exámenes complementarios?</div>

                                            </div>
                                        </legend>

                                        <section class="fondo-seccion">

                                            <section>

                                                <br />

                                                <div class="contenedor-seccion">

                                                    <p></p>

                                                    Si &nbsp;<label  />@Html.RadioButtonFor(x => x.Estado, 0)</label> &emsp;
                                                    No &nbsp;<label  />@Html.RadioButtonFor(x => x.Estado, 1, htmlAttributes: new { @checked = true })</label>
                                                </div>

                                                <div class="espacio-seccion"></div>



                                            </section>

                                        </section>

                                    </article>


                                </fieldset>

                                <footer>
                                    <input type="submit" value="Guardar" class="btn btn-default" onclick="espera()" />
                                    <a asp-action="Index" asp-route-idPersona="@Model.IdPersona" class="btn btn-default" onclick="espera()">Cancelar</a>
                                </footer>
                            </form>
                        </div>
                        <!-- end widget content -->
                    </div>
                    <!-- end widget div -->
                </div>
                <!-- end widget -->

            </article>

        </div>
        <!-- END ROW -->
    </section>
    <!-- end widget grid -->
    <!-- Modal -->

</div>
<!-- END MAIN CONTENT -->
@section Scripts {

    <link rel="stylesheet" href="~/lib/waitMe/waitMe.min.css" />
    <link rel="stylesheet" href="~/lib/waitMe/waitMe.css" />

    <script src='~/lib/waitMe/waitMe.min.js'></script>
    <script src='~/js/site.js'></script>

    <script type="text/javascript">


        onload = function () {


            $("#btn_5").css("background-color", "#3276b1");
            $("#btn_5").css("color", "white");

        }

    </script>
}
