@model List<bd.webappth.entidades.ViewModels.ActivarPersonalTalentoHumanoViewModel>
@using bd.webappth.entidades.Negocio


@{
    ViewData["Title"] = "Planificación de puestos";
}

<style>
    .input-invisible{
        background-color:transparent;
        width:100%;
        border:0px;
    }
    
</style>

<!-- MAIN CONTENT -->
<div id="content">


    <div class="col col-10">
        @if (@ViewData["Error"].ToString() != "")

        {

            <div class="col-lg-12">
                <div class="alert alert-block alert-dismissable">
                    <a class="close" data-dismiss="alert" href="#"><p>X</p></a>
                    <h4 class="alert-heading"><i class="fa fa-check-square-o"></i>Informaci&oacute;n!</h4>
                    <p>
                        <span class="text-danger"><strong><bold> @ViewData["Error"]</bold></strong></span>
                    </p>
                </div>
            </div>

        }
    </div>

    <p></p>

    <div style="">
        <!--
        <form asp-action="Create2" id="checkout-form" novalidate="novalidate">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input type="hidden" asp-for="fichaMedica.IdFichaMedica" style="width:100px;" />
            <input type="hidden" asp-for="fichaMedica.IdPersona" style="width:100px;" />

            <button type="submit" class="btn btn-labeled btn-default" style="width:100px;" onclick="espera()">
                <span class="btn-label" >
                    <i class="glyphicon glyphicon-plus"></i>
                </span>Nuevo&nbsp;

            </button>


        </form>
        -->
    </div>

    <p> </p>

    <!-- widget grid -->
    <section id="" class="">
        <!-- row -->

        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-1"></div>

            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-10">
                * Seleccionar el nivel jerárquico superior para iniciar el proceso de requerimiento de personal
            </div>
        </div>

        <div class="row">&nbsp;</div>

            <div class="row">

                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-1">

                </div>

                <!-- NEW WIDGET START -->
                <article class="col-xs-12 col-sm-12 col-md-12 col-lg-10">
                    <!-- Widget ID (each widget will need unique ID)-->
                    <div class="jarviswidget jarviswidget-color-darken" id="wid-id-0" data-widget-editbutton="false">
                        <!-- widget options:
                    usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

                    data-widget-colorbutton="false"
                    data-widget-editbutton="false"
                    data-widget-togglebutton="false"
                    data-widget-deletebutton="false"
                    data-widget-fullscreenbutton="false"
                    data-widget-custombutton="false"
                    data-widget-collapsed="true"
                    data-widget-sortable="false"

                    -->
                        <header id="table">
                            <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                            <h2>Activación de requerimientos de personal</h2>
                        </header>
                        <!-- widget div-->
                        <div>

                            @using (Html.BeginForm())
                        {

                            <!-- widget edit box -->
                            <div class="jarviswidget-editbox">
                                <!-- This area used as dropdown edit box -->
                            </div>
                            <!-- end widget edit box -->
                            <!-- widget content -->
                            <div class="widget-body no-padding">

                                <table id="datatable_fixed_column" class="table table-striped table-bordered table-hover" width="100%">

                                    <thead>
                                        <tr>
                                            <th>
                                                &nbsp;
                                            </th>

                                            <th>
                                                <div style="text-align:center;">
                                                    <input id="chk-control" type="checkbox" onclick="clickCheck(this)" style="margin:0px;padding:0px;float:right;">Seleccionar todos
                                                </div>
                                            </th>
                                        </tr>

                                        <tr>
                                            <th data-class="expand">
                                                @Html.DisplayNameFor(model => model.FirstOrDefault().Nombre)
                                            </th>

                                            <th data-class="expand">
                                                @Html.DisplayNameFor(model => model.FirstOrDefault().Estado)
                                            </th>

                                        </tr>

                                    </thead>
                                    <tbody>

                                        @for (int i = 0; i < Model.Count; i++)
                                    {
                                        <tr>

                                            <td style="width:60%;">
                                                @*@Html.DisplayFor(model => Model[i].Nombre)*@

                                                @Html.TextBoxFor(model => Model[i].Nombre, new { @readonly = "readonly", @class = "input-invisible" })
                                                @Html.TextBoxFor(model => Model[i].IdDependencia, new { @hidden = "true" })
                                            </td>
                                            <td>@Html.CheckBoxFor(model => Model[i].Estado, new { @id = "chk" + i })</td>

                                        </tr>
                                }
                                    </tbody>
                                </table>


                                <br />

                                <input type="submit" value="cancelar" class="btn btn-default" style="margin-left:35%;width:15%;" />
                                <input type="submit" value="Enviar" class="btn btn-default" style="width:15%;" onclick='return confirm("Desea guardar los cambios efectuados?")'/>


                                <br />
                                <br />

                            </div>
                            <!-- end widget content -->
                    }
                        </div>
                        <!-- end widget div -->

                    </div>

                </article>


                <!-- WIDGET END -->
            </div>
            <!-- end row -->
            <!-- end row -->
    </section>
    <!-- end widget grid -->
</div>
<!-- END MAIN CONTENT -->

@section Scripts {
    <script src='~/js/datatables/init.js'></script>

    <link rel="stylesheet" href="~/lib/waitMe/waitMe.min.css" />
    <link rel="stylesheet" href="~/lib/waitMe/waitMe.css" />

    <script src='~/lib/waitMe/waitMe.min.js'></script>
    <script src='~/js/site.js'></script>

    <script>
        function checkAllCheckBox() {

            for (var i = 0; i < @Model.Count; i++) {

                var id = "#chk" + i;
                
                $(id).prop('checked', true);
            }
            
        }


        function NoCheckAllCheckBox() {

            for (var i = 0; i < @Model.Count; i++) {

                var id = "#chk" + i;
                
                $(id).prop('checked', false);
            }
            
        }

        function clickCheck(elemento) {

            var id = "#" + elemento.id;

            if ($(id).prop('checked')) {
                checkAllCheckBox();
            } else {
                NoCheckAllCheckBox();
            }

        }
        

    </script>
}

