@model bd.webappth.entidades.ViewModels.ViewModelEvaluarCandidato
<fieldset>
    <legend>Datos Basicos</legend>
    <div class="row">
        <section class="col col-lg-12">
            <label class="input">
                @Html.DisplayNameFor(model => model.Identificacion):
                @Html.DisplayFor(model => model.Identificacion)
            </label>
        </section>
    </div>
    <div class="row">
        <section class="col col-lg-12">
            <label class="input">
                @Html.DisplayNameFor(model => model.Nombres):
                @Html.DisplayFor(model => model.Nombres)
            </label>
        </section>
    </div>
    <legend>Datos Instruccion Formal</legend>
    <div class="row">
        <table id="datatable_fixed_column" class="table table-striped table-bordered table-hover" width="100%">
            <thead>

                <tr>

                    <th data-class="expand">
                        @Html.DisplayNameFor(model => model.ListasPersonaEstudio.FirstOrDefault().Titulo)
                    </th>
                    <th data-hide="phone">
                        @Html.DisplayNameFor(model => model.ListasPersonaEstudio.FirstOrDefault().NoSenecity)
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.ListasPersonaEstudio)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Titulo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NoSenecity)
                        </td>

                    </tr>
                }
            </tbody>
        </table>
    </div>
    <legend>Datos Experiencia Laboral</legend>
    <div class="row">
        <table id="datatable_fixed_column" class="table table-striped table-bordered table-hover" width="100%">
            <thead>

                <tr>

                    <th data-class="expand">
                        @Html.DisplayNameFor(model => model.ListasCanditadoExperiencia.FirstOrDefault().Institucion)
                    </th>
                    <th data-hide="phone">
                        @Html.DisplayNameFor(model => model.ListasCanditadoExperiencia.FirstOrDefault().FechaInicio)
                    </th>
                    <th data-hide="phone">
                        @Html.DisplayNameFor(model => model.ListasCanditadoExperiencia.FirstOrDefault().FechaFin)
                    </th>
                    <th data-hide="phone">
                        Total Dias
                    </th>
                    <th data-hide="phone">
                        A&ntilde;0, mes, dias
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.ListasCanditadoExperiencia)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Institucion)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FechaInicio)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FechaFin)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ExperienciaDias)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ExperienciaMesAno)
                        </td>

                    </tr>
                }
            </tbody>
        </table>
    </div>
    <legend>Resultados</legend>
    <div class="row">
        <table id="datatable_fixed_column" class="table table-striped table-bordered table-hover" width="100%">
            <thead>

                <tr>

                    <th data-class="expand">
                        Resultados obtenidos
                    </th>
                    <th data-hide="phone">
                        Requerimientos
                    </th>
                    <th data-hide="phone">
                        Total cumplimiento
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        Instruccion Formal
                    </td>
                    <td>
                        @if(Model.ApliInstruccion == true)
                        {
                        <input type="checkbox" name="ApliInstruccion" readonly="readonly" checked="checked" />
                        }else
                        {
                        <input type="checkbox" name="ApliInstruccion" readonly="readonly" />
                        }

                    </td>
                    <td>
                        @Html.DisplayFor(model => model.PorInstruccion)
                    </td>
                </tr>
                <tr>
                    <td>
                        Experiencia
                    </td>
                    <td>
                        @if(Model.ApliExperiencia == true)
                        {
                    <input type="checkbox" name="ApliExperiencia"  readonly="readonly"  checked="checked" />
                        }else
                        {
                    <input type="checkbox"  name="ApliExperiencia" readonly="readonly" />
                        }
                        
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.PorExperiencia)
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        Total
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Total)
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <legend>RESULTADOS OBTENIDOS </legend>
    <div class="row">
        <table id="datatable_fixed_column" class="table table-striped table-bordered table-hover" width="100%">

            <tbody>
                <tr>
                    <td>
                        El candidato es:
                    </td>
                    <td>
                        Elegible
                        @if (Model.Elegido == true)
                        {
                            
                            <input  type="radio"checked="checked" readonly="readonly" />
                         }
                                               
                    </td>
                    <td>
                        No Elegible
                        @if (Model.Elegido == false)
                        {
                            
                            <input type="radio"  readonly="readonly"/>
                         }
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <br />
    <div class="row">
        @Html.DisplayFor(model => model.Descripcion)
        
    </div>

</fieldset>