@model bd.webappth.entidades.ViewModels.ViewModelEvaluador
@using Microsoft.AspNetCore.Http;
@using Microsoft.AspNetCore.Mvc;
@using Microsoft.AspNetCore.Mvc.Rendering;
@using bd.webappth.entidades.Constantes;

@{
var a = @Context.Session.GetInt32(Constantes.idEmpleadoSession);
var b = @Context.Session.GetInt32(Constantes.idIndiceOcupacionalSession);
//var c = @Context.Session.GetInt32(Constantes.idCandidatoConcursoSession);

}
<div class="btn-group btn-group-justified">
    @if (Model.OpcionMenu == 0)
    {
        <a asp-action="InformacionGeneral" asp-route-idempleado="@a" asp-controller="EvaluacionDesempeno" style="background-color:#3276b1;color:white;" class="btn btn-default">Informaci&oacute;n <br />general</a>
    }
    else
    {
        <a asp-action="InformacionGeneral" asp-route-idempleado="@a" asp-controller="EvaluacionDesempeno" class="btn btn-default"> Informaci&oacute;n <br />general </a>
    }
    @if (Model.OpcionMenu == 1)
    {
        <a asp-action="ActividadesEnsenciales" asp-route-idIndiceOcupacional="@b" asp-controller="EvaluacionDesempeno" style="background-color:#3276b1;color:white;" class="btn btn-default">Actividades <br /> Esenciales </a>

    }
    else
    {
        <a asp-action="ActividadesEnsenciales" asp-route-idIndiceOcupacional="@b" asp-controller="EvaluacionDesempeno" class="btn btn-default">Actividades <br /> Esenciales  </a>


    }

    @if (Model.OpcionMenu == 2)
    {
        <a asp-action="ConocimientoEsenciales" asp-route-idIndiceOcupacional="@b" asp-controller="EvaluacionDesempeno" style="background-color:#3276b1;color:white;" class="btn btn-default">Conocimientos  </a>

    }
    else
    {
        <a asp-action="ConocimientoEsenciales" asp-route-idIndiceOcupacional="@b" asp-controller="EvaluacionDesempeno" class="btn btn-default">Conocimientos   </a>


    }

    @if (Model.OpcionMenu == 3)
    {
        <a asp-action="CompetenciasTecnicas" asp-route-idIndiceOcupacional="@b" asp-controller="EvaluacionDesempeno" style="background-color:#3276b1;color:white;" class="btn btn-default">Competencias <br /> Tecnicas <br />puesto</a>


    }
    else
    {
        <a asp-action="CompetenciasTecnicas" asp-route-idIndiceOcupacional="@b" asp-controller="EvaluacionDesempeno" class="btn btn-default">Competencias <br />Tecnicas <br />puesto</a>

    }

    @if (Model.OpcionMenu == 4)
    {
        <a asp-action="CompetenciasUniversales" asp-route-idIndiceOcupacional="@b" asp-controller="EvaluacionDesempeno" style="background-color:#3276b1;color:white;" class="btn btn-default">Competencias <br />Universales</a>

    }
    else
    {
        <a asp-action="CompetenciasUniversales" asp-route-idIndiceOcupacional="@b" asp-controller="EvaluacionDesempeno" class="btn btn-default">Competencias <br />Universales</a>
    }
    @if (Model.OpcionMenu == 5)
    {
        <a asp-action="CompetenciasUniversales" asp-controller="EvaluacionDesempeno" style="background-color:#3276b1;color:white;" class="btn btn-default">Trabajo <br />Iniciativa <br />Liderazgo</a>

    }
    else
    {
        <a asp-action="CompetenciasUniversales" asp-controller="EvaluacionDesempeno" class="btn btn-default">Trabajo<br /> Iniciativa <br />Liderazgo</a>
    }
    @if (Model.OpcionMenu == 6)
    {
        <a asp-action="Observaciones" asp-controller="EvaluacionDesempeno" style="background-color:#3276b1;color:white;" class="btn btn-default">Observaciones</a>

    }
    else
    {
        <a asp-action="Observaciones" asp-controller="EvaluacionDesempeno" class="btn btn-default">Observaciones</a>
    }
    @if (Model.OpcionMenu == 7)
    {
        <a asp-action="Quejas" asp-controller="EvaluacionDesempeno" style="background-color:#3276b1;color:white;" class="btn btn-default">Quejas</a>

    }
    else
    {
        <a asp-action="Quejas" asp-controller="EvaluacionDesempeno" class="btn btn-default">Quejas</a>
    }
    @if (Model.OpcionMenu == 8)
    {
        <a asp-action="CalificacionFinal" asp-controller="EvaluacionDesempeno" style="background-color:#3276b1;color:white;" class="btn btn-default">Calificacion <br/> Final</a>

    }
    else
    {
        <a asp-action="CalificacionFinal" asp-controller="EvaluacionDesempeno" class="btn btn-default">Calificacion<br/> Final</a>
    }

</div>
