@model bd.webappth.entidades.ViewModels.ViewModelEvaluador
<link href="~/css/tabla/table.css" rel="stylesheet" />
@using bd.webappth.entidades.ViewModels
@{ var modelo = new ViewModelEvaluador { OpcionMenu = 8 }; }

@{await Html.RenderPartialAsync("_PartialViewMenu", modelo);}

@{
    ViewData["Title"] = "Create";
}

<link rel="stylesheet" href="~/lib/select2/dist/css/select2.min.css" />
<link rel="stylesheet" href="~/lib/select2/dist/css/select2.min.css" />

<div id="content">
    <div class="col col-10">

        @if (@ViewData["Error"].ToString() != "")

        {

            <div class="col-lg-7">

                <div class="alert alert-block alert-dismissable">

                    <a class="close" data-dismiss="alert" href="#"><p>X</p></a>

                    <h4 class="alert-heading"><i class="fa fa-check-square-o"></i>Informaci&oacute;n!</h4>

                    <p>

                        <span class="text-danger"><strong><bold> @ViewData["Error"]</bold></strong></span>

                    </p>

                </div>

            </div>

        }
    </div>
    <!-- widget grid -->
    <section id="" class="">

        <!-- START ROW -->
        <div class="row">
            <!-- NEW COL START -->
            <article class="col-sm-12 col-md-12 col-lg-12">
                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget" id="wid-id-1" data-widget-editbutton="false" data-widget-custombutton="false">

                    <header>
                        <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                        <h2>Calificacion Final</h2>
                    </header>
                    <!-- widget div-->
                    <div>

                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->

                        </div>
                        <!-- end widget edit box -->
                        <!-- widget content -->
                        <div class="widget-body no-padding">

                            <form asp-action="CalificacionFinal" id="checkout-form" class="smart-form" novalidate="novalidate">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <input type="hidden" asp-for="IdEmpleado" />
                                <input type="hidden" asp-for="IdJefe" />
                                <fieldset>
                                    <div class="row">
                                        <section class="col col-6">
                                            <label class="label">Indicadores de Gesti&oacute;n del puesto</label>
                                        </section>
                                        <section class="col col-6">
                                            <label class="label"> @Html.DisplayFor(model => model.ActividadesTotal)</label>
                                        </section>
                                    </div>
                                    <div class="row">
                                        <section class="col col-6">
                                            <label class="label">Conocimientos</label>
                                        </section>
                                        <section class="col col-6">
                                            <label class="label"> @Html.DisplayFor(model => model.TotalConocimientos)</label>
                                        </section>
                                    </div>
                                    <div class="row">
                                        <section class="col col-6">
                                            <label class="label">Competencias t&eacute;cnicas del puesto</label>
                                        </section>
                                        <section class="col col-6">
                                            <label class="label"> @Html.DisplayFor(model => model.TotalCompetenciasTecnicas)</label>
                                        </section>
                                    </div>
                                    <div class="row">
                                        <section class="col col-6">
                                            <label class="label">Competencias Universales</label>
                                        </section>
                                        <section class="col col-6">
                                            <label class="label"> @Html.DisplayFor(model => model.TotalCompetenciasUniversales)</label>
                                        </section>
                                    </div>

                                    <div class="row">
                                        <section class="col col-6">
                                            <label class="label">Trabajo en equipo, Iniciativa y Liderazgo:</label>
                                        </section>
                                        <section class="col col-6">
                                            <label class="label"> @Html.DisplayFor(model => model.TotalTrabajoLiderazgo)</label>
                                        </section>
                                    </div>

                                    @*<div class="row">
                                        <section class="col col-6">
                                            <label>Evaluación del ciudadano ( - ):</label>
                                        </section>
                                        <section class="col col-6">
                                            <label class="label"> @Html.DisplayFor(model => model.DatosJefe)</label>
                                        </section>
                                    </div>*@
                                    <div class="row">
                                        <section class="col col-6">
                                            <label>Total:</label>
                                        </section>
                                        <section class="col col-6">
                                            <label class="label"> @Html.DisplayFor(model => model.TotalEvaluacion)</label>
                                        </section>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                        <!-- end widget content -->
                    </div>
                    <!-- end widget div -->
                </div>
                <!-- end widget -->

            </article>

        </div>
        <!-- END ROW -->
    </section>
    <!-- end widget grid -->
    <!-- Modal -->
</div>


@section Scripts {
    
}