@model bd.webappth.entidades.ViewModels.ViewModelEvaluador
<link href="~/css/tabla/table.css" rel="stylesheet" />
@using bd.webappth.entidades.ViewModels
@{ var modelo = new ViewModelEvaluador { OpcionMenu = 0 }; }

@{await Html.RenderPartialAsync("_PartialViewMenu", modelo);}

@{
    ViewData["Title"] = "Create";
}

<link rel="stylesheet" href="~/lib/select2/dist/css/select2.min.css" />
<link rel="stylesheet" href="~/lib/select2/dist/css/select2.min.css" />

<div id="content">
    <div class="col col-10">

        @if (@ViewData["Error"].ToString() != "")

        {

            <div class="col-lg-7">

                <div class="alert alert-block alert-dismissable">

                    <a class="close" data-dismiss="alert" href="#"><p>X</p></a>

                    <h4 class="alert-heading"><i class="fa fa-check-square-o"></i>Informaci&oacute;n!</h4>

                    <p>

                        <span class="text-danger"><strong><bold> @ViewData["Error"]</bold></strong></span>

                    </p>

                </div>

            </div>

        }
    </div>
    <!-- widget grid -->
    <section id="" class="">

        <!-- START ROW -->
        <div class="row">
            <!-- NEW COL START -->
            <article class="col-sm-12 col-md-12 col-lg-12">
                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget" id="wid-id-1" data-widget-editbutton="false" data-widget-custombutton="false">

                    <header>
                        <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                        <h2>Datos Generales</h2>
                    </header>
                    <!-- widget div-->
                    <div>

                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->

                        </div>
                        <!-- end widget edit box -->
                        <!-- widget content -->
                        <div class="widget-body no-padding">

                            <form asp-action="Create" id="checkout-form" class="smart-form" novalidate="novalidate">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <fieldset>
                                    <div class="row">
                                        <section class="col col-6">
                                            <label class="label">@Html.DisplayNameFor(model => model.NombreApellido)</label>
                                        </section>
                                        <section class="col col-6">
                                            <label class="label"> @Html.DisplayFor(model => model.NombreApellido)</label>
                                        </section>
                                    </div>
                                    <div class="row">
                                        <section class="col col-6">
                                            <label class="label">@Html.DisplayNameFor(model => model.Puesto)</label>
                                        </section>
                                        <section class="col col-6">
                                            <label class="label"> @Html.DisplayFor(model => model.Puesto)</label>
                                        </section>
                                    </div>
                                    <div class="row">
                                        <section class="col col-6">
                                            <label class="label">@Html.DisplayNameFor(model => model.Titulo)</label>
                                        </section>
                                        <section class="col col-6">
                                            <label class="label"> @Html.DisplayFor(model => model.Titulo)</label>
                                        </section>
                                    </div>
                                    <div class="row">
                                        <section class="col col-6">
                                            <label class="label">@Html.DisplayNameFor(model => model.DatosJefe)</label>
                                        </section>
                                        <section class="col col-6">
                                            <label class="label"> @Html.DisplayFor(model => model.DatosJefe)</label>
                                        </section>
                                    </div>

                                    <div class="row">
                                        <section class="col col-6">
                                            <label class="label">Periodo Evaluacion:</label>
                                        </section>
                                        <section class="col col-3">
                                            <label>Desde:</label>
                                            <div class="form-group">
                                                <label class="input-group">
                                                    <input asp-for="Desde" type="text" readonly="readonly" class="datepicker" data-dateformat='dd/mm/yy'>
                                                </label>
                                                <span asp-validation-for="Desde" class="text-danger"></span>
                                            </div>
                                        </section>
                                        <section class="col col-3">
                                            <label>Hasta:</label>
                                            <div class="form-group">
                                                <label class="input-group">
                                                    <input asp-for="Hasta" type="text" readonly="readonly" class="datepicker" data-dateformat='dd/mm/yy'>
                                                </label>
                                                <span asp-validation-for="Hasta" class="text-danger"></span>
                                            </div>
                                        </section>
                                    </div>
                                </fieldset>

                                <footer>
                                    <input type="submit" value="Guardar" class="btn btn-primary" />
                                    <a asp-action="Index" class="btn btn-default">Cancelar</a>

                                </footer>

                            </form>
                        </div>
                        <!-- end widget content -->
                    </div>
                    <!-- end widget div -->
                </div>
                <!-- end widget -->

            </article>

        </div>
        <!-- END ROW -->
    </section>
    <!-- end widget grid -->
    <!-- Modal -->
</div>


@section Scripts {
    <script src='~/lib/select2/dist/js/select2.min.js'></script>
    <script src='~/lib/select2/dist/js/i18n/es.js'></script>
    <script src='~/js/site.js'></script>

    <script type="text/javascript">
        $(document).ready(function () {
            Init_Select2();
        });
    </script>
    <script type="text/javascript">

        function habilitarAumento() {

            var select = document.getElementById("aumento");
            var options = document.getElementsByTagName("option");
            var resul = (select.value);
            if (resul == "false") {

                document.getElementById("numaumento").disabled = true;
                var total1 = document.getElementById("TotalActividades").value;
                var aument = document.getElementById("numaumento").value;
                document.getElementById("TotalActividades").value = parseInt(total1) - parseInt(aument);
                document.getElementById("numaumento").value = "";
            } else {
                document.getElementById("numaumento").disabled = false;
            }

        }
    </script>

    <script type="text/javascript">
        function Calcular(id) {

            var porcentaje = document.getElementById("totalactividades").value
            var num1 = document.getElementById("totalRealizar" + id).value;
            var num2 = document.getElementById("totalRealizado" + id).value;
            if (num2 < num1) {
                num2 = num1;
            }
            var a = num2 / num1;
            var b = parseFloat(a.toFixed(2) * 100);
            if (b <= 60) {
                document.getElementById("Nivelcumplimiento" + id).value = "1";
            }
            if (b >= 70) {
                document.getElementById("Nivelcumplimiento" + id).value = "2";
            }
            if (b >= 80) {
                document.getElementById("Nivelcumplimiento" + id).value = "3";
            }
            if (b >= 90) {
                document.getElementById("Nivelcumplimiento" + id).value = "4";
            }
            if (b >= 100) {
                document.getElementById("Nivelcumplimiento" + id).value = "5";
            }
            if (b == 100) {
                var valorporcentaje = 60 / porcentaje;
                document.getElementById("porcentaje" + id).value = valorporcentaje;

                var total = 0;

                for (var i = 0; i < porcentaje; i++) {
                    var vppm = 0;

                    if (document.getElementsByName("porcientotxt")[i].value != "") {
                        vppm = document.getElementsByName("porcientotxt")[i].value;
                    }

                    total = parseInt(total) + parseInt(vppm);
                    document.getElementById("TotalActividades").value = parseInt(total);
                }

            }
            else {
                var valorporcentaje = (b * 60) / 100;
                document.getElementById("porcentaje" + id).value = valorporcentaje / 2;
                var total = 0;
                for (var i = 0; i < porcentaje; i++) {
                    var vppm = 0;

                    if (document.getElementsByName("porcientotxt")[i].value != "") {
                        vppm = document.getElementsByName("porcientotxt")[i].value;
                    }

                    total = parseInt(total) + parseInt(vppm);
                    document.getElementById("TotalActividades").value = parseInt(total);
                }

            }
        }

    </script>
    <script type="text/javascript">
        function porcentajeaumento() {
            if (document.getElementById("numaumento").value > 4) {
                document.getElementById("numaumento").value = 4;
            }
            var total1 = document.getElementById("TotalActividades").value;
            var aument = document.getElementById("numaumento").value;
            document.getElementById("TotalActividades").value = parseInt(total1) + parseInt(aument);
        }

    </script>
}