@model bd.webappth.entidades.Negocio.MaterialInduccion

@{
    ViewData["Title"] = "MaterialInduccion";
}


<!-- MAIN CONTENT -->
<div id="content">
    <div class="col col-10">

        @if (@ViewData["Error"].ToString() != "")

        {

            <div class="col-lg-12">

                <div class="alert alert-block alert-dismissable">

                    <a class="close" data-dismiss="alert" href="#"><p>X</p></a>

                    <h4 class="alert-heading"><i class="fa fa-check-square-o"></i>Informaci&oacute;n!</h4>

                    <p>

                        <span class="text-danger"><strong><bold> @ViewData["Error"]</bold></strong></span>

                    </p>

                </div>

            </div>

        }
    </div>
    <!-- widget grid -->
    <section id="widget-grid" class="">

        <!-- START ROW -->
        <div class="row">
            <!-- NEW COL START -->
            <article class="col-sm-12 col-md-12 col-lg-10">
                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget" id="wid-id-1" data-widget-editbutton="false" data-widget-custombutton="false">

                    <header>

                        <h2>Materiales de Inducci&oacute;n</h2>
                    </header>
                    <!-- widget div-->
                    <div>

                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->

                        </div>
                        <!-- end widget edit box -->
                        <!-- widget content -->
                        <div class="widget-body no-padding">

                            <form asp-action="Create" method="post" id="checkout-form" class="smart-form" novalidate="novalidate" enctype="multipart/form-data">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <fieldset>
                                    <div class="row">
                                        <section class="col col-3">
                                            <label for="ImagenesArchivos">
                                                <input type="checkbox" checked="checked" id="ImagenesArchivos" onclick="ShowHideDivArchivos(this)" />
                                                Im&aacute;genes y archivos
                                            </label>
                                        </section>
                                        <section class="col col-3">
                                            <label for="Videos">
                                                <input type="checkbox" id="Videos" onclick="ShowHideDivVideos(this)" />
                                                Videos
                                            </label>
                                        </section>
                                    </div>
                                    <div class="row">
                                        <section class="col col-8">
                                            <label class="input">
                                                <input maxlength="250" asp-for="Titulo" class="form-control" placeholder="@Html.DisplayNameFor(model=>model.Titulo)" />
                                                <span class="tituloErr text-danger"></span>
                                            </label>
                                        </section>
                                    </div>
                                    <section>
                                        <label class="label"></label>
                                        <label class="textarea">
                                            <textarea maxlength="250" asp-for="Descripcion" rows="2" placeholder="@Html.DisplayNameFor(model=>model.Descripcion)"></textarea>
                                            <span asp-validation-for="Descripcion" class="text-danger"></span>
                                        </label>
                                    </section>
                                    <div id="archivo">
                                        <section>
                                            <div class="input input-file">
                                                <span class="button"><input asp-for="Url" id="file" type="file" name="files" onchange="this.parentNode.nextSibling.value = this.value">Buscar</span><input type="text" placeholder="Seleccione un archivo" readonly="">
                                            </div>
                                            <span class="errorDiv text-danger">Cualquier tipo de archivo es permitido con tama&ntilde;o m&aacute;ximo de 50mb </span>
                                        </section>
                                    </div>

                                    <div class="row">
                                        <div id="video" style="display: none">
                                            <section class="col col-8">
                                                <label class="input">
                                                    <input maxlength="500" asp-for="Url" class="form-control" placeholder="@Html.DisplayNameFor(model=>model.Url)" />
                                                    <span class="tituloErr text-danger"></span>
                                                </label>
                                            </section>
                                        </div>
                                    </div>
                                    <span class="text-danger">@ViewData["Error"]</span>
                                </fieldset>
                                <footer>
                                    <input type="submit" id="btnUpload" value="Guardar" onclick="espera()" class="btn btn-default" />
                                    <a asp-action="Index" onclick="espera()" class="btn btn-default">Cancelar</a>
                                </footer>
                            </form>
                        </div>
                        <!-- end widget content -->
                    </div>
                    <!-- end widget div -->
                </div>
                <!-- end widget -->

            </article>

        </div>
        <!-- END ROW -->
    </section>
    <!-- end widget grid -->
    <!-- Modal -->

</div>
<!-- END MAIN CONTENT -->
@section Scripts {

    <link rel="stylesheet" href="~/lib/waitMe/waitMe.min.css" />
    <link rel="stylesheet" href="~/lib/waitMe/waitMe.css" />
    <script src='~/js/site.js'></script>
    <script src='~/lib/waitMe/waitMe.min.js'></script>
    <script>

        function espera() {

            mostrarLoadingPanel("content", "Cargando...");
        }

    </script>

    <script type="text/javascript">

        function ShowHideDivArchivos(ImagenesArchivos) {
            var dvPassport = document.getElementById("archivo");
            dvPassport.style.display = ImagenesArchivos.checked ? "block" : "none";
        }

        function ShowHideDivVideos(Videos) {
            var dvPassport = document.getElementById("video");
            dvPassport.style.display = Videos.checked ? "block" : "none";
        }

        //$("#btnUpload").click(function (e) {

        //    var file = $("#file").val();  //Fetch the filename of the submitted file

        //    var titulo = $("#Titulo").val();


        //    if (file == '' || titulo == '') {    //Check if a file was selected
        //        //Place warning text below the upload control

        //        if (file == '') {
        //            $(".errorDiv").html("Seleccione el archivo.");
        //        }
        //        else {
        //            $(".errorDiv").html("");
        //        }



        //        if (titulo == '') {
        //            $(".tituloErr").html("Debe insertar el titulo.");
        //        }
        //        else {
        //            $(".tituloErr").html("");
        //        }

        //        e.preventDefault();

        //    }

        //    if (file != '' && titulo != "") {
        //        var filesize = document.getElementById('file').files[0].size;
        //        //var ext = file.split('.').pop().toLowerCase();   //Check file extension if valid or expected
        //        //if ($.inArray(ext, ['pdf']) == -1) {
        //        //    $(".errorDiv").html("Seleccione una archivo (.pdf).");
        //        //    $(".tituloErr").html("");
        //        //    e.preventDefault(); //Prevent submission of form
        //        //}
        //        if (filesize > 50000000) {
        //            $(".errorDiv").html("El archivo no puede ser mayor de 50mb");
        //            $(".tituloErr").html("");
        //            e.preventDefault();
        //        }
        //        else {
        //            //Do your logic here, file upload, stream. etc.. if file was successfully validated
        //        }
        //    }

        //    //Check file extension


        //});

    </script>
}
