@model bd.webappth.entidades.Negocio.MaterialInduccion

@{
    ViewData["Title"] = "MaterialInduccion";
}


<!-- MAIN CONTENT -->
<div id="content">
    <div class="col col-10">

        @if (@ViewData["Error"].ToString() != "")

        {

            <div class="col-lg-12">

                <div class="alert alert-block alert-dismissable">

                    <a class="close" data-dismiss="alert" href="#"><p>X</p></a>

                    <h4 class="alert-heading"><i class="fa fa-check-square-o"></i>Informaci&oacute;n!</h4>

                    <p>

                        <span class="text-danger"><strong><bold> @ViewData["Error"]</bold></strong></span>

                    </p>

                </div>

            </div>

        }
    </div>
    <!-- widget grid -->
    <section id="widget-grid" class="">

        <!-- START ROW -->
        <div class="row">
            <!-- NEW COL START -->
            <article class="col-sm-12 col-md-12 col-lg-8">
                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget" id="wid-id-1" data-widget-editbutton="false" data-widget-custombutton="false">

                    <header>
                        
                        <h2>Material de Inducci&oacute;n</h2>
                    </header>
                    <!-- widget div-->
                    <div>

                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->
                        </div>
                        <!-- end widget edit box -->
                        <!-- widget content -->
                        <div class="widget-body no-padding">

                            <form asp-action="Edit" id="checkout-form" class="smart-form" novalidate="novalidate">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <input type="hidden" asp-for="IdMaterialInduccion" />
                                <fieldset>
                                    <div class="row">
                                        <section class="col col-8">
                                            <label class="input">
                                                <input maxlength="32" asp-for="Titulo" class="form-control" placeholder="@Html.DisplayNameFor(model=>model.Titulo)" />
                                                <span asp-validation-for="Titulo" class="text-danger"></span>
                                            </label>
                                        </section>
                                    </div>
                                    <span class="text-danger">@ViewData["Error"]</span>
                                    <section>
                                        <label class="label"></label>
                                        <label class="textarea">
                                            <textarea maxlength="250" asp-for="Descripcion" rows="2" placeholder="@Html.DisplayNameFor(model=>model.Descripcion)"></textarea>
                                            <span asp-validation-for="Descripcion" class="text-danger"></span>
                                        </label>
                                    </section>
                                    <span class="text-danger">@ViewData["Error"]</span>


                                </fieldset>
                                <footer>
                                    <input type="submit" value="Guardar" class="btn btn-default" />
                                    <a asp-action="Index" class="btn btn-default">Cancelar</a>
                                </footer>
                            </form>
                        </div>
                        <!-- end widget content -->
                    </div>
                    <!-- end widget div -->
                </div>
                <!-- end widget -->

            </article>

        </div>
        <!-- END ROW -->
    </section>
    <!-- end widget grid -->
    <!-- Modal -->

</div>
<!-- END MAIN CONTENT -->
@section Scripts {
    <script type="text/javascript">


    </script>
}
