@model bd.webappth.entidades.ViewModels.ViewModelEvaluacionCapacitaciones
<link href="~/css/tabla/table.css" rel="stylesheet" />


@{
    ViewData["Title"] = "Create";
}

<link rel="stylesheet" href="~/lib/select2/dist/css/select2.min.css" />
<link rel="stylesheet" href="~/lib/select2/dist/css/select2.min.css" />

<div id="content">

    <!-- widget grid -->
    <section id="" class="">

        <!-- START ROW -->
        <div class="row">
            <!-- NEW COL START -->
            <article class="col-sm-12 col-md-12 col-lg-12">
                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget" id="wid-id-1" data-widget-editbutton="false" data-widget-custombutton="false">

                    <header>
                        <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                        <h2>Calificaci&oacute;n evento</h2>
                    </header>
                    <!-- widget div-->
                    <div>

                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->

                        </div>
                        <!-- end widget edit box -->
                        <!-- widget content -->
                        <div class="widget-body no-padding">

                            <form asp-action="Evaluacion" method="post" id="checkout-form" class="smart-form" novalidate="novalidate">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <fieldset>
                                    <label class="input">
                                        <input maxlength="32" asp-for="IdPlanCapacitacion" class="form-control" type="hidden" />
                                    </label>
                                    <div class="row">
                                        <section class="col col-lg-12">
                                            <legend>Identificaci&oacute;n general</legend>
                                            <br />
                                            <section class="col col-6">
                                                <label class="label">@Html.DisplayNameFor(model => model.NombreEvento):</label>
                                                <label class="label">@Html.DisplayNameFor(model => model.Institucion):</label>
                                                <label class="label">@Html.DisplayNameFor(model => model.LugarFecha):</label>
                                            </section>
                                            <section class="col col-6">
                                                <label class="label">@Html.DisplayFor(model => model.NombreEvento)</label>
                                                <label class="label">@Html.DisplayFor(model => model.Institucion)</label>
                                                <label class="label">@Html.DisplayFor(model => model.LugarFecha)</label>
                                            </section>
                                        </section>
                                    </div>
                                    <div class="row">
                                        <section class="col col-lg-12">
                                            <legend>Facilitador</legend>
                                            <br />
                                            <br />
                                            <table id="dt_basic" class="table table-striped table-bordered table-hover" width="100%">
                                                <thead>
                                                    <tr>
                                                        <th data-hide="phone">
                                                            Descripci&oacute;n
                                                        </th>
                                                        <th>Calificaci&oacute;n</th>
                                                    </tr>

                                                    @for (int i = 0; i < Model.ListaPreguntaEvaluacionFacilitador.Count(); i++)
                                                    {
                                                        <tr>
                                                            <td width="50%">
                                                                @Html.DisplayFor(model => Model.ListaPreguntaEvaluacionFacilitador[i].Descripcion, new { @hidden = "true" })
                                                                <input type="hidden" asp-for="ListaPreguntaEvaluacionFacilitador[i].IdPreguntaEvaluacionEvento" value="@Model.ListaPreguntaEvaluacionFacilitador[i].IdPreguntaEvaluacionEvento" />
                                                            </td>
                                                            <td width="50%">
                                                                1&nbsp;@Html.RadioButtonFor(model => Model.ListaPreguntaEvaluacionFacilitador[i].Calificacion, "1", new { @name = "chk_" + i })&emsp;
                                                                2&nbsp;@Html.RadioButtonFor(model => Model.ListaPreguntaEvaluacionFacilitador[i].Calificacion, "2", new { @name = "chk_" + i })&emsp;
                                                                3&nbsp;@Html.RadioButtonFor(model => Model.ListaPreguntaEvaluacionFacilitador[i].Calificacion, "3", new { @name = "chk_" + i })&emsp;
                                                                4&nbsp;@Html.RadioButtonFor(model => Model.ListaPreguntaEvaluacionFacilitador[i].Calificacion, "4", new { @name = "chk_" + i })&emsp;
                                                                5&nbsp;@Html.RadioButtonFor(model => Model.ListaPreguntaEvaluacionFacilitador[i].Calificacion, "5", new { @name = "chk_" + i })&emsp;

                                                            </td>
                                                        </tr>

                                                    }
                                            </table>
                                        </section>
                                    </div>

                                    <div class="row">
                                        <section class="col col-lg-12">
                                            <legend>Organizador</legend>
                                            <br />
                                            <br />
                                            <table id="dt_basic" class="table table-striped table-bordered table-hover" width="100%">
                                                <thead>
                                                    <tr>
                                                        <th data-hide="phone">
                                                            Descripci&oacute;n
                                                        </th>
                                                        <th>Calificaci&oacute;n</th>
                                                    </tr>
                                                </thead>
                                                @for (int i = 0; i < Model.ListaPreguntaOrganizador.Count(); i++)
                                                {
                                                    <tr>
                                                        <td width="50%">
                                                            @Html.DisplayFor(model => Model.ListaPreguntaOrganizador[i].Descripcion, new { @hidden = "true" })
                                                            <input type="hidden" asp-for="ListaPreguntaOrganizador[i].IdPreguntaEvaluacionEvento" value="@Model.ListaPreguntaOrganizador[i].IdPreguntaEvaluacionEvento" />
                                                        </td>
                                                        <td width="50%">
                                                            1&nbsp;@Html.RadioButtonFor(model => Model.ListaPreguntaOrganizador[i].Calificacion, "1", new { @name = "chk_" + i })&emsp;
                                                            2&nbsp;@Html.RadioButtonFor(model => Model.ListaPreguntaOrganizador[i].Calificacion, "2", new { @name = "chk_" + i })&emsp;
                                                            3&nbsp;@Html.RadioButtonFor(model => Model.ListaPreguntaOrganizador[i].Calificacion, "3", new { @name = "chk_" + i })&emsp;
                                                            4&nbsp;@Html.RadioButtonFor(model => Model.ListaPreguntaOrganizador[i].Calificacion, "4", new { @name = "chk_" + i })&emsp;
                                                            5&nbsp;@Html.RadioButtonFor(model => Model.ListaPreguntaOrganizador[i].Calificacion, "5", new { @name = "chk_" + i })&emsp;

                                                        </td>

                                                    </tr>

                                                }
                                            </table>
                                        </section>
                                    </div>
                                    <div class="row">
                                        <section class="col col-lg-12">
                                            <legend>Conocimientos obtenidos</legend>
                                            <br />
                                            <br />
                                            <table id="dt_basic" class="table table-striped table-bordered table-hover" width="100%">
                                                <thead>
                                                    <tr>
                                                        <th data-hide="phone">
                                                            Descripci&oacute;n
                                                        </th>
                                                        <th>Calificaci&oacute;n</th>
                                                    </tr>
                                                </thead>
                                                @for (int i = 0; i < Model.ListaPreguntaEvaluacionConocimiento.Count(); i++)
                                                {
                                                    <tr>
                                                        <td width="50%">
                                                            @Html.DisplayFor(model => Model.ListaPreguntaEvaluacionConocimiento[i].Descripcion, new { @hidden = "true" })
                                                            <input type="hidden" asp-for="ListaPreguntaEvaluacionConocimiento[i].IdPreguntaEvaluacionEvento" value="@Model.ListaPreguntaEvaluacionConocimiento[i].IdPreguntaEvaluacionEvento" />
                                                        </td>
                                                        <td width="50%">
                                                            SI&nbsp;@Html.RadioButtonFor(model => Model.ListaPreguntaEvaluacionConocimiento[i].Conocimiento, "True", new { @name = "chk_" + i })&emsp;
                                                            NO&nbsp;@Html.RadioButtonFor(model => Model.ListaPreguntaEvaluacionConocimiento[i].Conocimiento, "False", new { @name = "chk_" + i })&emsp;

                                                        </td>

                                                    </tr>

                                                }
                                            </table>
                                        </section>
                                    </div>
                                    <div class="row">
                                        <section class="col col-lg-12">
                                            <legend>Sugerencias y comentarios</legend>
                                            <br />
                                            <br />
                                            <label class="textarea">
                                                <textarea maxlength="50" asp-for="ComentarioSugerencia" rows="2" placeholder="@Html.DisplayNameFor(model=>model.ComentarioSugerencia)"></textarea>
                                                <span asp-validation-for="ComentarioSugerencia" class="text-danger"></span>
                                            </label>
                                        </section>
                                       
                                    </div>
                                </fieldset>
                                <footer>
                                    <input type="submit" value="Guardar" class="btn btn-primary" />
                                    <a asp-action="Index" class="btn btn-default">Cancelar</a>
                                </footer>

                            </form>
                        </div>
                        <!-- end widget content -->
                    </div>
                    <!-- end widget div -->
                </div>
                <!-- end widget -->
            </article>

        </div>
        <!-- END ROW -->
    </section>
    <!-- end widget grid -->
    <!-- Modal -->
</div>



@section Scripts {
}