@model bd.webappth.entidades.ViewModels.ViewModelEvaluacionCapacitaciones
<link href="~/css/tabla/table.css" rel="stylesheet" />


@{
    ViewData["Title"] = "Create";
}


<div id="content">
    <p></p>

    <!-- widget grid -->
    <section id="" class="">
        <!-- row -->
        <div class="row">
            <!-- NEW WIDGET START -->
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget jarviswidget-color-darken" id="wid-id-0" data-widget-editbutton="false">
                    <!-- widget options:
                    usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

                    data-widget-colorbutton="false"
                    data-widget-editbutton="false"
                    data-widget-togglebutton="false"
                    data-widget-deletebutton="false"
                    data-widget-fullscreenbutton="false"
                    data-widget-custombutton="false"
                    data-widget-collapsed="true"
                    data-widget-sortable="false"

                    -->
                    <header id="table">
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>Calificaci&oacute;n evaluacion</h2>
                    </header>
                    <!-- widget div-->
                    <div>
                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->
                        </div>
                        <!-- end widget edit box -->
                        <!-- widget content -->
                        <div class="widget-body no-padding">
                            <table id="datatable_fixed_column" class="table table-striped table-bordered table-hover" width="100%">
                                <thead>
                                    <tr>
                                        <th data-class="expand">
                                            @Html.DisplayNameFor(model => model.ListaPlanCapacitacion.FirstOrDefault().Cedula)
                                        </th>
                                        <th data-class="expand">
                                            @Html.DisplayNameFor(model => model.ListaPlanCapacitacion.FirstOrDefault().ApellidoNombre)
                                        </th>
                                        <th data-class="expand">
                                            @Html.DisplayNameFor(model => model.ListaPlanCapacitacion.FirstOrDefault().NombreEvento)
                                        </th>
                                        <th>Opciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.ListaPlanCapacitacion)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Cedula)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.ApellidoNombre)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.NombreEvento)
                                            </td>

                                            <td>
                                                @if (item.Estado == 2)
                                                {
                                                    @Html.ActionLink("Evaluacion", "Evaluacion", new { id = item.IdPlanCapacitacion })
                                                }
                                                else
                                                {
                                                    <text>
                                                       @Html.ActionLink("Informe", "ReporteSolicitudPagoReliquidacion", "Report", new { idEvento = item.IdPlanCapacitacion ,Identificacion = item.Cedula }, new { onclick = "cargando();" })
                                                        @*Realizado*@
                                                    </text>
                                                    @*@Html.ActionLink("Detalle", "Detalle", new { id = item.IdPlanCapacitacion })*@
                                                }
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                        <!-- end widget content -->
                    </div>
                    <!-- end widget div -->
                </div>

            </article>
            <!-- WIDGET END -->
        </div>
        <!-- end row -->
        <!-- end row -->
    </section>
    <!-- end widget grid -->
</div>



@section Scripts {
    <script src='~/js/datatables/init.js'></script>
}