@model bd.webappth.entidades.ViewModels.ViewModelDocumentoIngresoEmpleado

<style>
    .form-control {
        /*border:none;*/
    }

    .et {
        border: none;
        color: black;
        font-weight: 600;
    }

    .et-aviso {
        border: none;
        color: black;
        font-weight: 500;
    }
</style>

@{await Html.RenderPartialAsync("_PartialViewMenu", Model.Distributivo);}

<!-- MAIN CONTENT -->
<div id="content">

    @{ 
        var nombresApellidos = Model.Distributivo.Empleado.Persona.Nombres + " " + Model.Distributivo.Empleado.Persona.Apellidos;

    }

    <!-- widget grid -->
    <section id="widget-grid" class="">

        <!-- START ROW -->
        <div class="row">
            <!-- NEW COL START -->
            <article class="col-sm-12 col-md-12 col-lg-12">
                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget" id="wid-id-1" data-widget-editbutton="false" data-widget-custombutton="false">

                    <header>
                        <h2>Documentos de ingreso empleado</h2>
                    </header>
                    <!-- widget div-->
                    <div>

                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->

                        </div>
                        <!-- end widget edit box -->
                        <!-- widget content -->
                        <div class="widget-body">

                            <form asp-action="DocumentoEntregado" novalidate="novalidate">


                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <input type="hidden" asp-for="Distributivo.IdEmpleado" />
                                <input type="hidden" asp-for="Distributivo.Empleado.Persona.Identificacion" />
                                <br>
                                <div class="row">
                                    <article class="col-lg-12">
                                        <legend>Empleado</legend>

                                        <div class="row">
                                            <label class="col-lg-7">
                                                <label class="input col-lg-4"><input style="background-color:transparent;" readonly type="text" class="form-control et" value="Nombre:" /></label>
                                                <label class="input col-lg-8">
                                                    <input value="@nombresApellidos" type="text" class="form-control" style="background-color:transparent;" readonly />

                                                </label>
                                            </label>
                                        </div>

                                        <div class="row">
                                            <label class="col-lg-7">
                                                <label class="input col-lg-4"><input style="background-color:transparent;" readonly type="text" class="form-control et" value="Fecha de ingreso:" /></label>
                                                <label class="input col-lg-8">
                                                    <input asp-for="Distributivo.Empleado.FechaIngreso" class="form-control" type="date" style="background-color:transparent;" readonly>

                                                </label>
                                            </label>
                                        </div>

                                        <div class="row">
                                            <label class="col-lg-7">
                                                <label class="input col-lg-4"><input style="background-color:transparent;" readonly type="text" class="form-control et" value="Cargo:" /></label>
                                                <label class="input col-lg-8">
                                                    <input asp-for="Distributivo.IndiceOcupacionalModalidadPartida.IndiceOcupacional.RolPuesto.Nombre" type="text" class="form-control" style="background-color:transparent;" readonly />

                                                </label>
                                            </label>
                                        </div>

                                        <div class="row">
                                            <label class="col-lg-7">
                                                <label class="input col-lg-4"><input style="background-color:transparent;" readonly type="text" class="form-control et" value="Unidad administrativa:" /></label>
                                                <label class="input col-lg-8">
                                                    <input asp-for="Distributivo.IndiceOcupacionalModalidadPartida.Dependencia.Nombre" class="form-control" type="text" style="background-color:transparent;" readonly>

                                                </label>
                                            </label>
                                        </div>

                                    </article>
                                </div>

                                <div class="row">&nbsp;</div>

                                <div class="row">
                                    <article class="col-lg-12">
                                        <legend>Documentos de Ingreso</legend>

                                        <section>
                                            <div class="row">
                                                <div class="col-12">&nbsp;</div>
                                            </div>
                                        </section>

                                        <section>

                                            @foreach (var item in Model.ListaDocumentosIngreso)
                                            {
                                                var bandera = false;
                                                @foreach (var item2 in Model.ListaDocumentosIngresoEntregado)
                                                {

                                                    @if (item.IdDocumentosIngreso == item2.IdDocumentosIngreso && item2.Entregado == true)
                                                    {
                                                        <div class="col-lg-12">
                                                                <label class="col-lg-11">
                                                                    @item.Descripcion
                                                                </label>

                                                                <label class="col-lg-1">

                                                                    <input type="checkbox"
                                                                           name="DocumentosSeleccionados"
                                                                           value="@item.IdDocumentosIngreso" 
                                                                           checked="checked"
                                                                    />

                                                                </label>
                                                        </div>

                                                        bandera = true;
                                                    }

                                                }
                                                if (!bandera)
                                                {
                                                    <div class="col-lg-12">
                                                            <label class="col-lg-11">
                                                                @item.Descripcion
                                                            </label>

                                                            <label class="col-lg-1">
                                                                <input type="checkbox"
                                                                       name="DocumentosSeleccionados"
                                                                       value="@item.IdDocumentosIngreso" />
                                                            </label>
                                                    </div>
                                                }
                                            }
                                        </section>
                                    </article>
                                </div>

                                <div class="row">&nbsp;</div>

                                <div class="row">

                                    <div class="col col-lg-5">&nbsp;</div>

                                    <div class="col col-lg-5">
                                        <input type="submit" value="Guardar" class="btn btn-default" onclick="espera()" />
                                        <a asp-action="Index" class="btn btn-default" onclick="espera()">Regresar</a>
                                    </div>

                                </div>

                                <div class="row">&nbsp;</div>

                            </form>
                        </div>
                        <!-- end widget content -->
                    </div>
                    <!-- end widget div -->
                </div>
                <!-- end widget -->

            </article>

        </div>
        <!-- END ROW -->
    </section>
    <!-- end widget grid -->
    <!-- Modal -->

</div>
<!-- END MAIN CONTENT -->
@section Scripts {
    <script src='~/js/datatables/init.js'></script>


    <link rel="stylesheet" href="~/lib/waitMe/waitMe.min.css" />
    <link rel="stylesheet" href="~/lib/waitMe/waitMe.css" />
    <script src='~/js/site.js'></script>
    <script src='~/lib/waitMe/waitMe.min.js'></script>

    <script>
        $("#btn_0").css("background-color", "#3276b1");
        $("#btn_0").css("color", "white");

    </script>
}
