

@using bd.webappth.entidades.Negocio
@inject bd.webappth.servicios.Interfaces.IConstantesNomina ConstanteNomina;
@inject bd.webappth.servicios.Interfaces.IFuncionesNomina FuncionNomina;
@inject bd.webappth.servicios.Interfaces.IConjuntoNomina ConjuntoNomina
@{ var Listaconstantes = new List<ConstanteNomina>();
    var ListaFunciones = new List<FuncionNomina>();
    var ListaConjuntos = new List<ConjuntoNomina>();
    @try
    {
        Listaconstantes = await ConstanteNomina.Listar("api/ConstanteNomina/ListarConstanteNomina");
        ListaFunciones = await FuncionNomina.Listar("api/FuncionNomina/ListarFuncionNomina");
    }
    catch (Exception)
    {

        Url.Action("Index", "Login");
    }
}

<fieldset>
    <div class="row">
        <section class="col-lg-12">
            <div class="panel-group smart-accordion-default" id="accordion-2">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title bg-color-lighten"><a data-toggle="collapse" data-parent="#accordion-2" href="#collapseOne-2" aria-expanded="false" class="collapsed"> <i class="fa fa-fw fa-plus-circle txt-color-green"></i> <i class="fa fa-fw fa-minus-circle txt-color-red"></i> Constantes </a></h4>
                    </div>
                    <div id="collapseOne-2" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">

                        <div class="panel-body">
                            <br />
                            <div class="row col-lg-12">
                                <div class="ui-menu-item col-lg-12" style="border-width:2px;">
                                    @{ int a = 0;}
                                    @foreach (var item in Listaconstantes)
                                    {
                                        a = a + 1;

                                        <a href="javascript:void(0);" onclick="anadirElememto('@item.Constante')">&bull; @item.Constante :  @item.Descripcion (Valor: @item.Valor)</a>
                                        <hr class="simple" />

                                    }
                                </div>
                                </div>
                        </div>
                        <br />
                    </div>
                </div>
            </div>
        </section>
        </div>
    <div class="row">
        <section class="col-lg-12">
            <div class="panel-group smart-accordion-default" id="accordion-1">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title  bg-color-lighten"><a data-toggle="collapse" data-parent="#accordion-1" href="#collapseOne-1" aria-expanded="false" class="collapsed"> <i class="fa fa-fw fa-plus-circle txt-color-green"></i> <i class="fa fa-fw fa-minus-circle txt-color-red"></i> Funciones </a></h4>
                    </div>
                    <div id="collapseOne-1" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                        <div class="panel-body">
                            <br />
                            <div class="row col-lg-12">
                                <div class="ui-menu-item col col-lg-12" style="border-width:2px;">
                                    @{ int b = 0;}
                                    @foreach (var item in ListaFunciones)
                                    {
                                        b = b + 1;

                                        <a href="javascript:void(0);" onclick="anadirElememto('@item.Variable')">&bull; @item.Variable: @item.Descripcion </a>
                                        <hr class="simple" />

                                    }
                                </div>
                                </div>
                        </div>
                        <br />
                    </div>
                </div>
            </div>
        </section>

    </div>
    <div class="row">
        
        <section id="FormulaVista" class="col-lg-12">
            <br />
            <label class="col-lg-12">F&oacute;rmula de c&aacute;lculo</label>
            <label class="textarea col-lg-12">
                <textarea class="col-lg-12" maxlength="500" id="FormulaCalculo" rows="10"></textarea>
            </label>
        </section>
    </div>
</fieldset>
