@model bd.webappth.entidades.Negocio.ConfiguracionViatico
<fieldset>
    <div class="row">
        
        <section class="col col-6">
            <label>@Html.DisplayNameFor(model => model.RolPuesto.Nombre)</label>
            <label class="input">
                <select asp-for="IdRolPuesto" class="form-control" asp-items="ViewBag.IdRolPuesto">
                    <option id="0"><Seleccione una @Html.DisplayNameFor(model => model.IdRolPuesto)></option>
                </select>
                <span asp-validation-for="IdRolPuesto" class="text-danger"></span>
            </label>
        </section>
</div>
<div class="row">
        <section class="col col-6">
            <label>@Html.DisplayNameFor(model => model.PorCientoAJustificar)</label>
            <label class="input">
                <i class="icon-prepend fa fa-user"></i>
                <input asp-for="PorCientoAJustificar" onkeypress="return NumCheck(event, this)" onchange="handleChange(this);" class="form-control" placeholder="@Html.DisplayNameFor(model=>model.PorCientoAJustificar)" />
                <span asp-validation-for="PorCientoAJustificar" class="text-danger"></span>
            </label>
        </section>
</div>
    <div class="row">
        <section class="col col-6">
            <label>@Html.DisplayNameFor(model => model.SolicitudViatico)</label>
            <label class="input">
                <i class="icon-prepend fa fa-user"></i>
                <input asp-for="ValorEntregadoPorDia" onkeypress="return NumCheck(event, this)" class="form-control" placeholder="@Html.DisplayNameFor(model=>model.ValorEntregadoPorDia)" />
                <span asp-validation-for="ValorEntregadoPorDia" class="text-danger"></span>
            </label>
        </section>
    </div>
</fieldset> 
