@model bd.webappth.entidades.ViewModels.DependenciaViewModel

<fieldset>
    <div class="row">
        <section class="col col-6">
            <label class="label">Orden</label>
            <label class="input">
                <input maxlength="50" type="number" asp-for="Codigo" class="form-control" />
                <span asp-validation-for="Codigo" class="text-danger"></span>
            </label>
        </section>
        <section class="col col-6">
            <label class="label">Unidad Administrativa</label>
            <label class="input">
                <input maxlength="50" asp-for="NombreDependencia" class="form-control" placeholder="Nombre" />
                <span asp-validation-for="NombreDependencia" class="text-danger"></span>
            </label>
        </section>
    </div>
    <div class="row">
        <section class="col col-4">
            <label class="label">@Html.DisplayNameFor(model => model.IdCiudad)</label>
            <label class="input">
                <select asp-for="IdCiudad" class="form-control" id="ciudad" asp-items="ViewBag.IdCiudad">
                    <option value="0" selected="" disabled="">@Html.DisplayNameFor(model => model.IdCiudad)</option>
                </select>
                <span asp-validation-for="IdCiudad" class="text-danger"></span>
            </label>
        </section>
        <section class="col col-4">
            <label class="label">@Html.DisplayNameFor(model => model.NombreSucursal)</label>
            <label class="input">
                <select asp-for="IdSucursal" id="sucursal" asp- class="form-control" asp-items="ViewBag.IdSucursal">
                    <option value="0" selected="" disabled="">@Html.DisplayNameFor(model => model.IdSucursal)</option>
                </select>
                <span asp-validation-for="IdSucursal" class="text-danger"></span>
            </label>
        </section>
        <section class="col col-4">
            <label class="label">@Html.DisplayNameFor(model => model.NombreDependenciaPadre)</label>
            <label class="input">
                <select asp-for="IdDependenciaPadre" id="dependencia" asp- class="form-control" asp-items="ViewBag.IdDependencia">
                    <option value="0" selected="" disabled="">@Html.DisplayNameFor(model => model.IdDependenciaPadre)</option>
                </select>
                <span asp-validation-for="IdDependenciaPadre" class="text-danger"></span>
            </label>
        </section>
    </div>
    <div class="row">
        <section class="col col-6">
            <label class="label">@Html.DisplayNameFor(model => model.NombreProceso)</label>
            <label class="input">
                <select asp-for="IdProceso" asp- class="form-control" asp-items="ViewBag.IdProceso">
                    <option value="0" selected="" disabled="">@Html.DisplayNameFor(model => model.IdProceso)</option>
                </select>
                <span asp-validation-for="IdProceso" class="text-danger"></span>
            </label>
        </section>
    </div>
</fieldset>