@model bd.webappth.entidades.ViewModels.AccionPersonalViewModel

<input type="hidden" asp-for="IdAccionPersonal" />
<input type="hidden" asp-for="DatosBasicosEmpleadoViewModel.IdEmpleado" />

<fieldset>

    @{
        char[] MyChar = { ':' };
    }

    <div class="row">

        <section class="col col-lg-4">
            <label>@Html.DisplayNameFor(model => Model.Estado)</label>
            <label class="input">
                <select asp-for="Estado" class="form-control" asp-items="ViewBag.Estados">
                    <option value="0" selected>Seleccione</option>
                </select>

                <span asp-validation-for="Estado" class="text-danger"></span>
            </label>
        </section>

    </div>

    <div class="row">
        <section class="col col-lg-4">
            <label>&nbsp;</label>
            <label class="input">&nbsp;</label>
        </section>
    </div>

    <div class="row">
        <section class="col col-lg-12">
            <legend>Solicitud a aprobar</legend>
        </section>
        
        <section class="col col-lg-4">

            <label>@Html.DisplayNameFor(model => Model.Solicitud)</label>
            <label class="input col-lg-12">
                <input type="text" asp-for="Solicitud" class="form-control" readonly disabled />
                <span asp-validation-for="Solicitud" class="text-danger"></span>
            </label>

        </section>

    </div>

    <div class="row">

        <section class="col col-lg-4">

            <label>Nombre del funcionario</label>
            <label class="input col-lg-12">
                <input type="text" asp-for="DatosBasicosEmpleadoViewModel.Nombres" class="form-control" readonly disabled />
                <span asp-validation-for="DatosBasicosEmpleadoViewModel.Nombres" class="text-danger"></span>
            </label>

        </section>

        <section class="col col-lg-4">

            <label>@Html.DisplayNameFor(model => Model.DatosBasicosEmpleadoViewModel.Identificacion).ToString().TrimEnd(MyChar)</label>
            <label class="input col-lg-12">
                <input type="text" asp-for="DatosBasicosEmpleadoViewModel.Identificacion" class="form-control" readonly disabled />
                <span asp-validation-for="DatosBasicosEmpleadoViewModel.Identificacion" class="text-danger"></span>
            </label>

        </section>

        <section class="col col-lg-4">
            <label>@Html.DisplayNameFor(model => Model.TipoAccionPersonalViewModel)</label>
            <label class="input">
                <select asp-for="TipoAccionPersonalViewModel.IdTipoAccionPersonal" class="form-control" asp-items="ViewBag.TipoAcciones" disabled>
                    <option value="0" selected>Seleccione</option>
                </select>

                <span asp-validation-for="TipoAccionPersonalViewModel.IdTipoAccionPersonal" class="text-danger"></span>
            </label>
        </section>


    </div>



    <div class="row">

        <section class="col col-lg-4">

            <label>@Html.DisplayNameFor(model => Model.Fecha)</label>
            <label class="input col-lg-12">
                <input asp-for="Fecha" type="text" class="form-control" data-dateformat='yy-mm-dd' readonly disabled />
                <span asp-validation-for="Fecha" class="text-danger"></span>
            </label>

        </section>

        <section class="col col-lg-4">

            <label>@Html.DisplayNameFor(model => Model.FechaRige)</label>
            <label class="input col-lg-12">
                <input id="date_Fecha1" asp-for="FechaRige" type="datetime" class="form-control" data-dateformat='yy-mm-dd' onchange="calcularDias()" readonly disabled />
                <span asp-validation-for="FechaRige" class="text-danger"></span>
            </label>

        </section>

        <section class="col col-lg-4">

            <label>@Html.DisplayNameFor(model => Model.FechaRigeHasta)</label>
            <label class="input col-lg-12">
                <input id="date_Fecha2" asp-for="FechaRigeHasta" type="text" class="form-control" data-dateformat='yy-mm-dd' onchange="calcularDias()" readonly disabled />
                <span asp-validation-for="FechaRigeHasta" class="text-danger"></span>
            </label>

        </section>

    </div>

    <div class="row">

        <section class="col col-lg-8">
            <label>@Html.DisplayNameFor(model => Model.Explicacion)</label>
            <label class="input col-lg-12">
                <textarea maxlength="1000" asp-for="Explicacion" class="form-control" rows="5" style="resize:none;" readonly disabled></textarea>
                <span asp-validation-for="Explicacion" class="text-danger"></span>
            </label>
        </section>


        <section class="col col-lg-4">
            <div class="col-lg-12">
                <label>@Html.DisplayNameFor(model => Model.NoDias)</label>
                <label class="input col-lg-12">
                    <input id="txt_dias" min="0" readonly type="number" asp-for="NoDias" class="form-control" disabled />
                    <span asp-validation-for="NoDias" class="text-danger"></span>
                </label>
            </div>

            <div class="col-lg-12">&nbsp;</div>

            <div class="col-lg-12">
                <label>@Html.DisplayNameFor(model => Model.Numero)</label>
                <label class="input col-lg-12">
                    <input id="txt_Numero" min="0" readonly type="number" asp-for="Numero" class="form-control" disabled />
                    <span asp-validation-for="Numero" class="text-danger"></span>
                </label>
            </div>

        </section>


    </div>



</fieldset>



