@model List<bd.webappth.entidades.ViewModels.EmpleadoSolicitudViewModel>
<link href="~/css/tabla/table.css" rel="stylesheet" />

    @{
    ViewData["Title"] = "Index";
    }
    <!-- MAIN CONTENT -->
    <div id="content">

        <p></p>
        
        <p> </p>

        <!-- widget grid -->
        <section id="widget-grid" class="">
            <!-- row -->
            <div class="row">
                <!-- NEW WIDGET START -->
                <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <!-- Widget ID (each widget will need unique ID)-->
                    <div class="jarviswidget jarviswidget-color-darken" id="wid-id-0" data-widget-editbutton="false">
                        <!-- widget options:
                        usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

                        data-widget-colorbutton="false"
                        data-widget-editbutton="false"
                        data-widget-togglebutton="false"
                        data-widget-deletebutton="false"
                        data-widget-fullscreenbutton="false"
                        data-widget-custombutton="false"
                        data-widget-collapsed="true"
                        data-widget-sortable="false"

                        -->
                        <header id="table">
                            <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                            <h2>Empleados con solicitud de vacaciones</h2>
                        </header>
                        <!-- widget div-->
                        <div>
                            <!-- widget edit box -->
                            <div class="jarviswidget-editbox">
                                <!-- This area used as dropdown edit box -->
                            </div>
                            <!-- end widget edit box -->
                            <!-- widget content -->
                            <div class="widget-body no-padding">
                                <table id="datatable_fixed_column" class="table table-striped table-bordered table-hover" width="100%">
                                    <thead>
                                        
                                        <tr>

                                            <th data-class="expand">
                                                @Html.DisplayNameFor(model => model.FirstOrDefault().NombreApellido)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.FirstOrDefault().Identificacion)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.FirstOrDefault().HaSolicitado)
                                            </th>
                                            <th>Opciones</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                    {
                                            <tr>

                                                <td>
                                                    @Html.DisplayFor(modelItem => item.NombreApellido)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Identificacion)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.HaSolicitado)
                                                </td>

                                                <td>
                                                    @Html.ActionLink("Detalle", "DetalleSolicitudVacaciones", new { id = item.IdEmpleado })|
                                                    @Html.ActionLink("GenerarReporte", "AgregarPiePagina","GenerarFirmas", new { NombreReporteConParametros= "RepSolicitudVacacion" })
                                                </td>
                                            </tr>
                                    }
                                    </tbody>
                                </table>
                            </div>
                            <!-- end widget content -->
                        </div>
                        <!-- end widget div -->
                    </div>

                </article>
                <!-- WIDGET END -->
            </div>
            <!-- end row -->
            <!-- end row -->
        </section>
        <!-- end widget grid -->
    </div>
    <!-- END MAIN CONTENT -->

    @section Scripts {
        <script src='~/js/datatables/init.js'></script>
    }


