@model bd.webappth.entidades.ViewModels.SolicitudPermisoViewModel

<fieldset>

    <div class="row" hidden>
        <section class="col col-lg-12">
            <label class="input col-lg-12">@Html.DisplayNameFor(m=>m.SolicitudPermiso.Estado)</label>
            <label class="input col-lg-4">
                <select asp-for="SolicitudPermiso.Estado" class="form-control" asp-items="ViewBag.IdListaEstado"></select>
                <span asp-validation-for="SolicitudPermiso.Estado" class="text-danger"></span>
            </label>
        </section>
    </div>

    <div class="row">
        <section class="col col-lg-11">
            <legend> Control de salida de personal en horas de oficina</legend>
        </section>
    </div>

    <div class="row">&nbsp;</div>

    <div class="row">

        <section class="col col-lg-12">
            <label class="input col-lg-12">@Html.DisplayNameFor(m => m.NombresApellidosEmpleado)</label>
            <label class="input col-lg-6">
                <input asp-for="NombresApellidosEmpleado" class="form-control" readonly/>
            </label>
        </section>

        <section class="col col-lg-12">
            <label class="input col-lg-12">@Html.DisplayNameFor(m => m.NombreDependencia)</label>
            <label class="input col-lg-6">
                <input asp-for="NombreDependencia"  class="form-control" readonly/>
            </label>
        </section>

    </div>

    <div class="row">
        <section class="col col-lg-11">
            <legend>Tiempo que Solicita</legend>
        </section>
    </div>

    <div class="row">&nbsp;</div>

    <div class="row">

        <section class="col col-lg-4">
            <label class="input col-lg-12">@Html.DisplayNameFor(m => m.SolicitudPermiso.FechaDesde)</label>
            <label class="input col-lg-12">
                <input asp-for="SolicitudPermiso.FechaDesde" type="text" class="datepicker" data-dateformat='yy-mm-dd' data-msg-required='El campo es requerido' data-rule-required='true'>
            </label>

        </section>

        <section class="col col-lg-4">

            <label class="input col-lg-12">@Html.DisplayNameFor(m => m.SolicitudPermiso.HoraDesde)</label>
            <label class="input col-lg-4">
                <input type="time" asp-for="SolicitudPermiso.HoraDesde" data-msg-required='El campo es requerido' data-rule-required='true' min="08:00" max="17:00">
            </label>

        </section>

    </div>

    <div class="row">

        <section class="col col-lg-4">

            <label class="input col-lg-12">Fecha Hasta</label>
            <label class="input col-lg-12">
                <input asp-for="SolicitudPermiso.FechaHasta" type="text" data-dateformat='dd/mm/yy' class="form-control input datepicker " placeholder="Seleccione Fecha de Fin " data-msg-required='El campo es requerido' data-rule-required='true'>
            </label>

        </section>

        <section class="col col-lg-4">

            <label class="input col-lg-12">Hora Hasta</label>
            <label class="input col-lg-4">
                <input type="time" asp-for="SolicitudPermiso.HoraHasta" data-msg-required='El campo es requerido' data-rule-required='true' min="08:00" max="17:00">
            </label>

        </section>

    </div>

    <div class="row">
        <section class="col col-lg-11">
            <legend>Permiso</legend>
        </section>
    </div>

    <div class="row">&nbsp;</div>


    <div class="row">

        <section class="col col-lg-4">

            <label class="input col-lg-12">Tipo de Permiso</label>
            <label class="input col-lg-12">
                <select asp-for="SolicitudPermiso.IdTipoPermiso" class="form-control" asp-items="ViewBag.IdTipoPermiso">
                    <option value="0">
                        <Seleccione una @Html.DisplayNameFor(model => model.SolicitudPermiso.IdTipoPermiso)>
                    </option>
                </select>

                <span asp-validation-for="SolicitudPermiso.IdTipoPermiso" class="text-danger"></span>
            </label>

        </section>

        <section class="col col-lg-12">

            <label class="input col-lg-12">Motivo</label>
            <div class="input col-lg-6">
                <textarea asp-for="SolicitudPermiso.Motivo" class="form-control"  rows="5" maxlength="900">
                </textarea>
                <span asp-validation-for="SolicitudPermiso.Motivo" class="text-danger"></span>
            </div>

        </section>

        <section class="col col-lg-12" hidden>

            <div class="input col-lg-6">
                <textarea asp-for="SolicitudPermiso.Observacion" class="form-control" rows="5" maxlength="900">
                </textarea>
            </div>

        </section>

    </div>
    <div class="row">
        <section class="col col-lg-6">
            <label class="col-lg-12">Cargo a vacaciones</label>
            <div class="col-lg-6">
                <label class="radio">
                    <input type="radio" class="radio" value="false" checked asp-for="SolicitudPermiso.CargoVacaciones" /><i></i>NO
                </label>
            </div>
            
            <div class="col-lg-6">
                <label class="radio">
                    <input type="radio" class="radio" value="true" asp-for="SolicitudPermiso.CargoVacaciones" /><i></i>SI
                </label>

            </div>
            
        </section>
    </div>

</fieldset>