@model bd.webappth.entidades.ViewModels.AccionPersonalViewModel
<link href="~/css/tabla/table.css" rel="stylesheet" />

@{
    ViewData["Title"] = "Create";
}

<style>
    .btnClass {
        width: 100px;
        font-size: 15px;
        font-weight: 100;
        padding-top: 4px;
        padding-bottom: 4px;
    }
</style>
<!-- MAIN CONTENT -->
<div id="content" style="height:2000px;">


    <!-- widget grid -->
    <section id="" class="">

        <!-- START ROW -->
        <div class="row">
            <!-- NEW COL START -->
            <article class="col-sm-12 col-md-12 col-lg-12">
                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget" id="wid-id-1" data-widget-editbutton="false" data-widget-custombutton="false">

                    <header>
                        <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                        <h2>Movimiento personal</h2>
                    </header>
                    <!-- widget div-->
                    <div>

                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->

                        </div>
                        <!-- end widget edit box -->
                        <!-- widget content -->
                        <div class="widget-body no-padding">

                            <form asp-action="Edit" id="checkout-form" class="formularioClass" onsubmit="return validarEnviar();">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                @{await Html.RenderPartialAsync("_PartialView", Model);}

                                <div style="float:right; padding:1%;">
                                    <footer style="background-color:transparent;border:none;">

                                        <input type="submit" asp-action="ListaMovimientos" asp-route-IdEmpleado="@Model.DistributivoSituacionActual.Empleado.IdEmpleado" class="btn btn-default btnClass" value="Cancelar" onclick="espera()" />

                                        <input type="submit" id="btnGuardar" value="Guardar" class="btn btn-default btnClass" />

                                    </footer>
                                </div>
                                <div class="row">&nbsp;</div>
                                <div class="row">&nbsp;</div>
                            </form>

                        </div>
                        <!-- end widget content -->
                    </div>
                    <!-- end widget div -->
                </div>
                <!-- end widget -->

            </article>

        </div>
        <!-- END ROW -->
    </section>
    <!-- end widget grid -->
    <!-- Modal -->

</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h2 class="modal-title"></h2>

            </div>
            <div class="modal-body"><div class="te">Please wait...</div></div>
        </div>
    </div>
</div>

<!-- END MAIN CONTENT -->
@section Scripts {

    @*@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}*@
    <script src='~/js/datatables/init.js'></script>

    <script src="~/js/moment.min.js"></script>


    <!-- Estilos waitMe -->
    <link rel="stylesheet" href="~/lib/waitMe/waitMe.min.css" />
    <link rel="stylesheet" href="~/lib/waitMe/waitMe.css" />

    <!-- Scripts waitMe -->
    <script src='~/lib/waitMe/waitMe.min.js'></script>
    <script src='~/js/site.js'></script>

    <!-- Scripts comboBox -->

    <script src='~/lib/select2/dist/js/select2.min.js'></script>
    <script src='~/lib/select2/dist/js/i18n/es.js'></script>


    <script src="~/js/plugin/bootstrap-wizard/jquery.bootstrap.wizard.min.js"></script>
    <script src="~/js/plugin/fuelux/wizard/wizard.min.js"></script>
    <script src='~/js/vistasmodales/modal.js'></script>

    @*@{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}*@


    <script>

        var maxDias = 999999999;
        var minDias = 0;
        var validarMinimoDias = false;

        var desvinculacion = false;

        var validarPuestosOcupados = false;
        var validarPuestosVacantes = false;

        var primeraCarga = true;

        function calcularDias() {


            var fecha1 = moment(document.getElementById("date_Fecha1").value);
            var fecha2 = moment(document.getElementById("date_Fecha2").value);

            var valNumDiasTxt = fecha2.diff(fecha1, 'days');

            if (valNumDiasTxt > 0) {

                document.getElementById("txt_dias").value = valNumDiasTxt;
                document.getElementById("txt_Numero").value = valNumDiasTxt;

                if (valNumDiasTxt > maxDias && maxDias > 0) {

                    var textoMensajeAlerta = "El m\u00E1ximo de d\u00EDas para este requerimiento son: " + maxDias;

                    mostrarNotificacionTimer("Aviso", textoMensajeAlerta, 10000);

                    document.getElementById("btnGuardar").disabled = true;

                }

                else if (valNumDiasTxt < minDias && minDias > 0) { 

                    var textoMensajeAlerta = "El m\u00EDnimo de d\u00EDas para este requerimiento son: " + minDias;
                    
                    mostrarNotificacionTimer("Aviso", textoMensajeAlerta, 10000);

                    document.getElementById("btnGuardar").disabled = true;
                }

                else {
                    document.getElementById("btnGuardar").disabled = false;
                }

            } else {

                if (validarMinimoDias == true && valNumDiasTxt < minDias && minDias > 0) {
                    var textoMensajeAlerta = "El m\u00EDnimo de d\u00EDas para este requerimiento son: " + minDias;
                    mostrarNotificacionTimer("Aviso", textoMensajeAlerta, 10000);

                    document.getElementById("btnGuardar").disabled = true;
                } else { 
                    document.getElementById("btnGuardar").disabled = false;
                }

                document.getElementById("txt_dias").value = 0;
                document.getElementById("txt_Numero").value = 0;
            }



        }


    </script>

    <!-- Script llamada al waitme -->
    <script type="text/javascript">
        function espera() {
            desactivarEstadoPEEFVS();
            mostrarLoadingPanel("content", "Cargando...");
        }

    </script>

    <script>


        $(document).ready(function () {


            $("#SelectAccion").change(function () {


                if ($("#SelectAccion").val() > 0) {

                    cargarDatosPorSeleccionTipoAccionPersonal($("#SelectAccion").val());
                    
                return false;

                }

            }); // Fin change


            ///************* Combos *****


            $("#sel_numeroPartida").change(function () {
                
                var id = $("#sel_numeroPartida").val();

                cargarDatosPorSeleccionCodigoPartida(id);

                return false;
            });


            function cargarDatosPorSeleccionTipoAccionPersonal(IdTipoAccionPersonal) { 

                mostrarLoadingPanel("content", "Cargando...");

                    $.ajax({
                    type: 'POST',
                    url: '@Url.Action("VerTipoAccion", "MovimientosPersonalTTHH")',
                    dataType: 'json',
                        data: { idAccion: IdTipoAccionPersonal },
                    success: function (data) {

                        document.getElementById("btnGuardar").disabled = false;
                        var textoMensajeAlerta = "";

                        if (data.generarMovimientoPersonal == true) {
                            document.getElementById("rdbTrue").checked = true


                            if (data.desactivarEmpleado == false) {
                                MostrarMovimientoPersonal();
                                desvinculacion = false;

                                if (data.modificarDistributivo == false) {
                                    textoMensajeAlerta = "Esta acci\u00F3n no afecta al distributivo";

                                    mostrarNotificacionTimer("Informaci\u00F3n", textoMensajeAlerta, 7000);

                                } else if (data.modificarDistributivo == true) {
                                    textoMensajeAlerta = "Esta acci\u00F3n afectar\u00E1 al distributivo";
                                    mostrarNotificacionTimer("Informaci\u00F3n", textoMensajeAlerta, 7000);
                                }


                                // Mostrar/ocultar tabla de selección de puestos
                                if (data.buscarPuestosVacantes == true) {
                                    MostrarNuevoPuesto();
                                    validarPuestosVacantes = true;
                                } else {
                                    OcultarNuevoPuesto();
                                    validarPuestosVacantes = false;
                                }


                                // Mostrar/ocultar selección de partidas vacantes
                                if (data.buscarPuestosOcupados == true) {
                                    MostrarPuestosOcupados();
                                    validarPuestosOcupados = true;

                                } else {
                                    OcultarPuestosOcupados();
                                    validarPuestosOcupados = false;
                                }



                                /*
                                // Edición de tablaSeleccion

                                var trOcupados = document.getElementsByName("trTrue");
                                var trVacantes = document.getElementsByName("trFalse");

                                for (var i = 0; i < trVacantes.length; i++) {

                                    if (data.buscarPuestosVacantes == true) {

                                        document.getElementsByName("trFalse")[i].style.visibility = "visible";
                                        document.getElementsByName("trFalse")[i].style.height = "auto";
                                        document.getElementsByName("trFalse")[i].style.margin = "1px";
                                        document.getElementsByName("trFalse")[i].style.padding = "8px";
                                        document.getElementsByName("trFalse")[i].style.overflow = "hidden";



                                    } else {


                                        document.getElementsByName("trFalse")[i].style.visibility = "hidden";
                                        document.getElementsByName("trFalse")[i].style.height = "0px";
                                        document.getElementsByName("trFalse")[i].style.margin = "0px";
                                        document.getElementsByName("trFalse")[i].style.padding = "0px";
                                        document.getElementsByName("trFalse")[i].style.overflow = "hidden";




                                    }
                                }


                                for (var i = 0; i < trOcupados.length; i++) {

                                    if (data.buscarPuestosOcupados == true) {


                                        document.getElementsByName("trTrue")[i].style.visibility = "visible";
                                        document.getElementsByName("trTrue")[i].style.height = "auto";
                                        document.getElementsByName("trTrue")[i].style.margin = "1px";
                                        document.getElementsByName("trTrue")[i].style.padding = "8px";
                                        document.getElementsByName("trTrue")[i].style.overflow = "hidden";




                                    } else {

                                        document.getElementsByName("trTrue")[i].style.visibility = "hidden";
                                        document.getElementsByName("trTrue")[i].style.height = "0px";
                                        document.getElementsByName("trTrue")[i].style.margin = "0px";
                                        document.getElementsByName("trTrue")[i].style.padding = "0px";
                                        document.getElementsByName("trTrue")[i].style.overflow = "hidden";



                                    }
                                }
                                */


                            } else {
                                OcultarMovimientoPersonal();
                                desvinculacion = true;
                            }



                        }
                        else if (data.generarMovimientoPersonal == false) {
                            document.getElementById("rdbFalse").checked = true;

                            OcultarMovimientoPersonal();
                        }

                        maxDias = data.ndiasMaximo;

                        var diasMes = 0;
                        var diasYear = 0;

                        if (data.mesesMaximo > 0) {
                            diasMes = data.mesesMaximo * 30;
                        }
                        if (data.mesesMaximo > 0) {
                            diasYear = data.yearsMaximo * 365;
                        }


                        minDias = data.ndiasMinimo;


                        if (data.definitivo == true) {

                            validarMinimoDias = false;

                            textoMensajeAlerta = "Esta acci\u00F3n es de tiempo indefinido";
                            mostrarNotificacionTimer("Informaci\u00F3n", textoMensajeAlerta, 5000);

                            document.getElementById("date_Fecha2").style.visibility = "hidden";
                            document.getElementById("lbl_date_Fecha2").style.visibility = "hidden";
                            document.getElementById("txt_ver_dias").style.visibility = "hidden";

                        }

                        else if (data.dias == true) {

                            maxDias = maxDias + diasMes + diasYear;

                            textoMensajeAlerta = "El m\u00E1ximo de d\u00EDas para este requerimiento son: " + maxDias;

                            mostrarNotificacionTimer("Informaci\u00F3n", textoMensajeAlerta, 10000);

                            if (minDias > 0) {
                                textoMensajeAlerta = "El m\u00EDnimo de d\u00EDas para este requerimiento son: " + minDias;
                                mostrarNotificacionTimer("Informaci\u00F3n", textoMensajeAlerta, 10000);

                                validarMinimoDias = true;
                            } else {
                                validarMinimoDias = false;
                            }


                            document.getElementById("date_Fecha2").style.visibility = "visible";
                            document.getElementById("lbl_date_Fecha2").style.visibility = "visible";
                            document.getElementById("txt_ver_dias").style.visibility = "visible";

                            calcularDias();

                        }

                        else if (data.horas == true) {

                            validarMinimoDias = false;

                            document.getElementById("date_Fecha2").style.visibility = "hidden";
                            document.getElementById("lbl_date_Fecha2").style.visibility = "hidden";
                            document.getElementById("txt_ver_dias").style.visibility = "hidden";

                            if (data.nhorasMinimo != null && data.nhorasMinimo > 0) {
                                textoMensajeAlerta = "El m\u00EDnimo de horas para este requerimiento son: " + data.nhorasMinimo;
                                mostrarNotificacionTimer("Informaci\u00F3n", textoMensajeAlerta, 10000);
                            }

                            if (data.nhorasMinimo != null && data.nhorasMaximo > 0) {
                                textoMensajeAlerta = "El m\u00E1ximo de horas para este requerimiento son: " + data.nhorasMaximo;
                                mostrarNotificacionTimer("Informaci\u00F3n", textoMensajeAlerta, 10000);
                            }

                        }


                        }, complete: function (data) {
                        $("#content").waitMe("hide");
                    },

                    error: function (ex) {
                        alert('Failed to retrieve data.' + ex);
                    }
                });
            }


            function cargarDatosPorSeleccionCodigoPartida(idPartida) {

                mostrarLoadingPanel("content", "Cargando...");

                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("ObtenerDatosPartida")',
                    dataType: 'json',
                    data: { id: idPartida },
                    success: function (data) {

                        cargarComboTipoNombramiento(data.idRelacionLaboral);

                        $("#IdSeleccionado").val(data.idIndiceOcupacionalModalidadPartida);

                        $("#txt_RegimenLaboral").val(data.relacionLaboral.regimenLaboral.nombre);
                        $("#txt_IdRegimenLaboral").val(data.relacionLaboral.regimenLaboral.idRegimenLaboral);

                        $("#txt_ReLacionLaboral").val(data.relacionLaboral.nombre);
                        $("#txt_IdReLacionLaboral").val(data.relacionLaboral.idRelacionLaboral);

                        $("#txt_Ciudad").val(data.dependencia.sucursal.ciudad.nombre);
                        $("#txt_IdCiudad").val(data.dependencia.sucursal.ciudad.idCiudad);

                        $("#txt_Sucursal").val(data.dependencia.sucursal.nombre);
                        $("#txt_IdSucursal").val(data.dependencia.sucursal.idSucursal);


                        $("#txt_Dependencia").val(data.dependencia.nombre);
                        $("#txt_IdDependencia").val(data.dependencia.idDependencia);

                        $("#txt_Puesto").val(data.indiceOcupacional.denominacionPuesto);
                        $("#txt_IdPuesto").val(data.indiceOcupacional.idIndiceOcupacional);

                        $("#txt_Rol").val(data.indiceOcupacional.rolPuesto.nombre);
                        $("#txt_IdRol").val(data.indiceOcupacional.rolPuesto.idRolPuesto);

                        var textoEscalaGrados = data.indiceOcupacional.escalaGrados.nombre
                            + " ( GRADO "
                            + data.indiceOcupacional.escalaGrados.grado
                            + " ) QUE PERCIBE $"
                            + data.indiceOcupacional.escalaGrados.remuneracion

                        $("#txt_GrupoOcupacional").val(textoEscalaGrados);
                        $("#txt_IdGrupoOcupacional").val(data.indiceOcupacional.escalaGrados.idEscalaGrados);


                        var rdb_seleccion = document.getElementsByName("rdb_seleccionPuesto");

                        for (var i = 0; i < rdb_seleccion.length; i++) {

                            iompHasta = rdb_seleccion[i].checked = false;

                        }

                        

                        if (data.numeroPartidaIndividual != null) {
                            document.getElementById("s_modalidad").style.visibility = "visible";
                            document.getElementById("s_modalidad").style.height = "auto";

                        } else {
                            document.getElementById("s_modalidad").style.visibility = "hidden";
                            document.getElementById("s_modalidad").style.height = "0px";
                        }

                        // Se setea la partida a partir de la selección del combo,
                        // por esto en la primera carga se obvia este codigo
                        if (primeraCarga == false) {
                            
                            setModalidadPartida(data.idModalidadPartida);

                        } else {

                            primeraCarga = false;
                        }

                        

                    }, complete: function (data) {
                        $("#content").waitMe("hide");
                    },

                    error: function (ex) {
                        alert('Failed to retrieve data.' + ex);
                    }
                });


            }


            function cargarComboTipoNombramiento(idRelacionLaboral) {
                $("#IdTipoNombramiento").empty();

                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("ListarTipoNombramientoRelacion")',
                    dataType: 'json',
                    data: { relacion: idRelacionLaboral},
                    success: function (data) {
                        $("#IdTipoNombramiento").append('<option value="0" selected="" disabled="">Seleccione</option>');
                        $.each(data, function (i, data) {
                            $("#IdTipoNombramiento").append('<option value="'
                                + data.idTipoNombramiento + '">'
                                + data.nombre + '</option>');

                        });

                        var tnVal = "@Model.IdTipoNombramientoHasta";

                        if (tnVal > 0) {
                            setTipoNombramiento(tnVal);
                        }

                    }, complete: function (data) {
                        $("#content").waitMe("hide");
                    },

                    error: function (ex) {
                        alert('Failed to retrieve data.' + ex);
                    }
                });


            }


            //// *************************

            // Lógica para cargar datos

            var pvVar = "@Model.IdPartidaVacante";

            if (pvVar > 0) {

                cargarDatosPorSeleccionTipoAccionPersonal("@Model.IdTipoAccionPersonal");

                cargarDatosPorSeleccionCodigoPartida(@Model.IdSeleccionado);

                setModalidadPartida(@Model.IdModalidadPartidaHasta);
                

            } else {
                checkRadioSeleccionPartida(@Model.IdSeleccionado);
                
            }




        }); // fin ready




    </script>

    <script>

        //Estado para enviar el formulario via submit
        var estadoPEEFVS = true;
        

        function desactivarEstadoPEEFVS() {
            estadoPEEFVS = false;
        }

        function validarEnviar() { 

            if (estadoPEEFVS == false) { 
                return true;
            }

            var enviar = true;
            var textoMensajeAlerta = "";
            var timeMessage = 5000;

            var tipoSolicitud = parseInt(document.getElementsByName("TipoAccionPersonalViewModel.IdTipoAccionPersonal")[0].value);
            var solicitud = document.getElementsByName("Solicitud")[0].value;
            var explicacion = document.getElementsByName("Explicacion")[0].value;
            var generarMovimientoPersonal = document.getElementById("rdbTrue").value;
            var idSeleccionado = document.getElementById("IdSeleccionado").value;

            var varRegimenLaboral = $("#txt_RegimenLaboral").val();
            var modalidadPartidaEstadoVisible = document.getElementById("s_modalidad").style.visibility.toString();
           
            var fechaRigeHasta = document.getElementById("date_Fecha2").style.visibility.toString();
            var fechaRigeHastaValor = document.getElementById("date_Fecha2").value;
            

            if (tipoSolicitud < 1) {
                textoMensajeAlerta = "Seleccione un tipo de movimiento";
                enviar = false;
            }
            
            else if (solicitud.trim().length < 1) { 
                textoMensajeAlerta = "El campo solicitud no puede estar vacio";
                enviar = false;
            }

            else if (explicacion.trim().length < 1) {
                textoMensajeAlerta = "El campo explicaci\u00F3n no puede estar vacio";
                enviar = false;
            }


            else if (String(generarMovimientoPersonal).toUpperCase() == "TRUE" && desvinculacion == false) {
                

                if (validarPuestosOcupados == true && validarPuestosVacantes == false) {
                    if (idSeleccionado < 1) {

                        textoMensajeAlerta = "Debe seleccionar un puesto";
                        enviar = false;
                    }
                }

                else if (validarPuestosOcupados == false && validarPuestosVacantes == true) {

                    // aquí se valida si se selecciona la partida/contrato del combo
                    
                    if (idSeleccionado < 1 || $("#sel_numeroPartida").val() < 1) {

                        textoMensajeAlerta = "Debe seleccionar un c\u00F3digo contrato o n\u00FAmero de partida";
                        enviar = false;
                    }

                    else if ($("#IdTipoNombramiento").val() < 1) {
                        // Tipo de nombramiento
                        textoMensajeAlerta = "Debe seleccionar un tipo de nombramiento";
                        enviar = false;
                    }

                    else if (modalidadPartidaEstadoVisible == "visible" && $("#sel_numeroPartida").val() > 1) {
                        // aquí se valida si está visible el combo de modalidad partida que tenga una selección

                        if ($("#modalidadpartida").val() == null || $("#modalidadpartida").val() < 1) { 
                            textoMensajeAlerta = 'Debe seleccionar una modalida partida';
                            enviar = false;
                        }

                        
                    }
                    


                }

                else if (
                    validarPuestosOcupados == true && validarPuestosVacantes == true
                    || validarPuestosOcupados == false && validarPuestosVacantes == false
                )
                { 
                    

                    if ($("#sel_numeroPartida").val() != null && idSeleccionado > 1) {

                        // Es una seleción de código del combo

                        if ($("#IdTipoNombramiento").val() < 1) {
                            // Tipo de nombramiento
                            textoMensajeAlerta = "Debe seleccionar un tipo de nombramiento";
                            enviar = false;
                        }

                        else if (modalidadPartidaEstadoVisible == "visible" && $("#sel_numeroPartida").val() > 0) {
                            // aquí se valida si está visible el combo de modalidad partida que tenga una selección

                            if ($("#modalidadpartida").val() == null || $("#modalidadpartida").val() < 1) {
                                textoMensajeAlerta = 'Debe seleccionar una modalida partida';
                                enviar = false;
                            }
                        }

                    } else {
                        
                        if (idSeleccionado < 1) {

                            textoMensajeAlerta = 'Debe seleccionar un puesto ocupado o seleccionar un (c\u00F3digo contrato o n\u00FAmero de partida) de la secci\u00F3n puestos vacantes';
                            timeMessage = 16000;
                            enviar = false;
                        }
                    }
                    


                }

            }

            
            if (fechaRigeHasta == "visible" && (fechaRigeHastaValor == null || fechaRigeHastaValor == "")) {

                textoMensajeAlerta = "Ingrese una fecha hasta";
                enviar = false;

            }
            

            if (enviar == false) {

                mostrarNotificacionTimer("Aviso", textoMensajeAlerta, timeMessage);
                return false;

            } else{
                return true;
            }

            return false;
        }
        

    </script>

}
