@model List<bd.webappth.entidades.ViewModels.IndicesOcupacionalesModalidadPartidaViewModel>
<link href="~/css/tabla/table.css" rel="stylesheet" />

@{
    ViewData["Title"] = "Lista";
}


<!-- MAIN CONTENT -->
<div id="content">

    @*
    <div class="col col-10">
        @if (@ViewData["Error"].ToString() != "")

        {

            <div class="col-lg-12">
                <div class="alert alert-block alert-dismissable">
                    <a class="close" data-dismiss="alert" href="#"><p>X</p></a>
                    <h4 class="alert-heading"><i class="fa fa-check-square-o"></i>Informaci&oacute;n!</h4>
                    <p>
                        <span class="text-danger"><strong><bold> @ViewData["Error"]</bold></strong></span>
                    </p>
                </div>
            </div>

        }
    </div>
    *@
    
    <p></p>
    <!-- widget grid -->
    <section id="" class="">


        <div class="row">


            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget jarviswidget-color-darken" id="wid-id-0" data-widget-editbutton="false">
                    <!-- widget options:
                usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

                data-widget-colorbutton="false"
                data-widget-editbutton="false"
                data-widget-togglebutton="false"
                data-widget-deletebutton="false"
                data-widget-fullscreenbutton="false"
                data-widget-custombutton="false"
                data-widget-collapsed="true"
                data-widget-sortable="false"

                -->
                    <header id="table">
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>Lista &iacute;ndice ocupacional modalidad partida</h2>
                    </header>
                    <!-- widget div-->
                    <div>

                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->
                        </div>
                        <!-- end widget edit box -->
                        <!-- widget content -->
                        <div class="widget-body no-padding">

                            <table id="datatable_fixed_column" class="table table-striped table-bordered table-hover" width="100%">

                                <thead>
                                    <tr>
                                        <th class="hasinput">
                                            <input type="text" class="form-control" />
                                        </th>

                                        <th class="hasinput">
                                            <input type="text" class="form-control" />
                                        </th>

                                        <th class="hasinput">
                                            <input type="text" class="form-control" />
                                        </th>

                                        <th class="hasinput">
                                            <input type="text" class="form-control" />
                                        </th>

                                        <th class="hasinput">
                                            <input type="text" class="form-control" />
                                        </th>

                                        <th class="hasinput">
                                            <input type="text" class="form-control" />
                                        </th>

                                        <th class="hasinput">
                                            <input type="text" class="form-control" />
                                        </th>

                                        <th class="hasinput">
                                            <input type="text" class="form-control" />
                                        </th>

                                        <th class="">

                                        </th>

                                    </tr>

                                    <tr>
                                        <th data-class="expand">
                                            @Html.DisplayNameFor(model => Model.FirstOrDefault().IndiceOcupacionalViewModel.PartidaIndividual)
                                        </th>

                                        <th data-class="expand">
                                            @Html.DisplayNameFor(model => Model.FirstOrDefault().IndiceOcupacionalViewModel.Sucursal)
                                        </th>

                                        <th data-class="expand">
                                            @Html.DisplayNameFor(model => Model.FirstOrDefault().IndiceOcupacionalViewModel.Dependencia)
                                        </th>

                                        <th data-class="expand">
                                            @Html.DisplayNameFor(model => Model.FirstOrDefault().IndiceOcupacionalViewModel.EscalaGrado)
                                        </th>

                                        <th data-class="expand">
                                            @Html.DisplayNameFor(model => Model.FirstOrDefault().IndiceOcupacionalViewModel.Nivel)
                                        </th>

                                        <th data-class="expand">
                                            @Html.DisplayNameFor(model => Model.FirstOrDefault().IndiceOcupacionalViewModel.Remuneracion)
                                        </th>

                                        <th data-class="expand">
                                            @Html.DisplayNameFor(model => Model.FirstOrDefault().SalarioReal)
                                        </th>

                                        <th data-class="expand">
                                            @Html.DisplayNameFor(model => Model.FirstOrDefault().IndiceOcupacionalViewModel.ModalidadPartida)
                                        </th>

                                        <th data-class="expand">
                                            @Html.DisplayName("Opción")
                                        </th>

                                    </tr>

                                </thead>
                                <tbody>

                                    @foreach (var item in Model)
                                {
                                    <tr>

                                        <td>
                                            @Html.DisplayFor(modelItem => item.IndiceOcupacionalViewModel.PartidaIndividual)
                                        </td>

                                        <td>
                                            @Html.DisplayFor(modelItem => item.IndiceOcupacionalViewModel.Sucursal)
                                        </td>

                                        <td>
                                            @Html.DisplayFor(modelItem => item.IndiceOcupacionalViewModel.Dependencia)
                                        </td>

                                        <td>
                                            @Html.DisplayFor(modelItem => item.IndiceOcupacionalViewModel.EscalaGrado)
                                        </td>

                                        <td>
                                            @Html.DisplayFor(modelItem => item.IndiceOcupacionalViewModel.Nivel)
                                        </td>

                                        <td>
                                            @Html.DisplayFor(modelItem => item.IndiceOcupacionalViewModel.Remuneracion)
                                        </td>

                                        <td>
                                            @Html.DisplayFor(modelItem => item.SalarioReal)
                                        </td>

                                        <td>
                                            @Html.DisplayFor(modelItem => item.IndiceOcupacionalViewModel.ModalidadPartida)
                                        </td>

                                        <td>
                                            @Html.ActionLink("Seleccionar", "SeleccionIndice", new { id = item.IdIndiceOcupacionalModalidadPartida }, new { onclick = "espera()" })
                                        </td>

                                    </tr>
                            }
                                </tbody>
                            </table>


                        </div>
                        <!-- end widget content -->

                    </div>
                    <!-- end widget div -->

                </div>

            </article>

        </div>

        <!-- end row -->
    </section>
    <!-- end widget grid -->
</div>
<!-- END MAIN CONTENT -->

@section Scripts {
    <script src='~/js/datatables/init.js'></script>

    <link rel="stylesheet" href="~/lib/waitMe/waitMe.min.css" />
    <link rel="stylesheet" href="~/lib/waitMe/waitMe.css" />

    <script src='~/lib/waitMe/waitMe.min.js'></script>
    <script src='~/js/site.js'></script>

    <script type="text/javascript">
        function espera() {

            mostrarLoadingPanel("content", "Cargando...");
        }
        

    </script>
}

