@model bd.webappth.entidades.ViewModels.AccionPersonalViewModel
<link href="~/css/tabla/table.css" rel="stylesheet" />

@{
    ViewData["Title"] = "Edit";
}


<!-- MAIN CONTENT -->
<div id="content" style="height:2000px;">

    <section id="" class="">

        <!-- START ROW -->
        <div class="row">
            <!-- NEW COL START -->
            <article class="col-sm-12 col-md-12 col-lg-12">
                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget" id="wid-id-1" data-widget-editbutton="false" data-widget-custombutton="false">

                    <header>
                        <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                        <h2>Movimiento personal</h2>
                    </header>
                    <!-- widget div-->
                    <div>

                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->

                        </div>
                        <!-- end widget edit box -->
                        <!-- widget content -->
                        <div class="widget-body no-padding">

                            <form asp-action="" id="checkout-form" class="formularioClass" novalidate="novalidate">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>


                                <input type="hidden" asp-for="IdAccionPersonal" />
                                <input type="hidden" asp-for="DatosBasicosEmpleadoViewModel.IdEmpleado" />

                                <fieldset>

                                    @{
                                        char[] MyChar = { ':' };
                                        var idIndice = Model.IdIndiceOcupacionalModalidadPartidaPropuesta;
                                    }

                                    <div class="row">&nbsp;</div>

                                    <div class="row">
                                        <section class="" style="margin-left:2%;">
                                            <label class="input col-lg-12">@Html.DisplayNameFor(model => Model.Estado)</label>
                                            <label class="input">
                                                <select asp-for="Estado" class="form-control input col col-lg-12" asp-items="ViewBag.Estados" readonly>
                                                    <option value="0" selected>Seleccione</option>
                                                </select>

                                                <span asp-validation-for="Estado" class="text-danger"></span>
                                            </label>
                                        </section>
                                    </div>

                                    <div class="row">&nbsp;</div>

                                    <div class="row">
                                        <section class="input col col-lg-12">
                                            <legend class="input col col-lg-12">Solicitud a aprobar</legend>
                                        </section>

                                    </div>

                                    <div class="row">

                                        <section class="col col-lg-4">

                                            <label class="input col-lg-12">Nombre del funcionario</label>
                                            <label class="input col-lg-12">
                                                <input type="text" asp-for="DatosBasicosEmpleadoViewModel.Nombres" class="form-control" readonly />
                                                <span asp-validation-for="DatosBasicosEmpleadoViewModel.Nombres" class="text-danger"></span>
                                            </label>

                                        </section>

                                        <section class="col col-lg-4">

                                            <label class="input col-lg-12">@Html.DisplayNameFor(model => Model.DatosBasicosEmpleadoViewModel.Identificacion).ToString().TrimEnd(MyChar)</label>
                                            <label class="input col-lg-12">
                                                <input type="text" asp-for="DatosBasicosEmpleadoViewModel.Identificacion" class="form-control" readonly />
                                                <span asp-validation-for="DatosBasicosEmpleadoViewModel.Identificacion" class="text-danger"></span>
                                            </label>

                                        </section>

                                        <section class="col-lg-4">
                                            <label class="input col-lg-12">@Html.DisplayNameFor(model => Model.TipoAccionPersonalViewModel)</label>
                                            <label class="input" style="padding-right:15px;">
                                                <select asp-for="TipoAccionPersonalViewModel.IdTipoAccionPersonal" class="form-control" asp-items="ViewBag.TipoAcciones" readonly>
                                                    <option value="0" selected>Seleccione</option>
                                                </select>

                                                <span asp-validation-for="TipoAccionPersonalViewModel.IdTipoAccionPersonal" class="text-danger"></span>
                                            </label>
                                        </section>

                                    </div>

                                    <div class="row">&nbsp;</div>

                                    <div class="row">


                                        <section class="col col-lg-8">

                                            <label class="input col-lg-12">@Html.DisplayNameFor(model => Model.Solicitud)</label>
                                            <label class="input col-lg-12">
                                                <input type="text" asp-for="Solicitud" class="form-control" readonly />
                                                <span asp-validation-for="Solicitud" class="text-danger"></span>
                                            </label>

                                        </section>


                                    </div>

                                    <div class="row">&nbsp;</div>

                                    <div class="row">

                                        <section class="col col-lg-8">
                                            <label class="input col-lg-12">@Html.DisplayNameFor(model => Model.Explicacion)</label>
                                            <label class="input col-lg-12">
                                                <textarea maxlength="1000" asp-for="Explicacion" class="form-control" rows="5" style="resize:none;" readonly></textarea>
                                                <span asp-validation-for="Explicacion" class="text-danger"></span>
                                            </label>
                                        </section>


                                    </div>

                                    <div class="row">&nbsp;</div>

                                    <div class="row">
                                        <section class="col col-lg-12">
                                            <legend class="input col-lg-12">Acci&oacute;n con movimiento de personal?</legend>
                                        </section>

                                        <section class="col col-lg-4">
                                            <div class="input col-lg-12">
                                                @Html.RadioButtonFor(x => x.GeneraMovimientoPersonal, false, new { onClick = "ValidarChkMovPersonal(this)", @disabled = "disabled" })&nbsp;No
                                            </div>
                                        </section>

                                        <section class="col col-lg-4">
                                            <div class="input col-lg-12">
                                                @Html.RadioButtonFor(x => x.GeneraMovimientoPersonal, true, new { onClick = "ValidarChkMovPersonal(this)", @disabled = "disabled" })&nbsp;Si
                                            </div>
                                        </section>

                                    </div>

                                    <div class="row">&nbsp;</div>

                                    <div class="row divSituacionActual">

                                        <section class="col col-lg-10 divSituacionActual">
                                            <legend class="input col-lg-12">Situaci&oacute;n actual</legend>
                                        </section>

                                        <section class="col col-lg-6 divSituacionActual">

                                            <label class="input col-lg-12">@Html.DisplayNameFor(model => Model.SituacionActualEmpleadoViewModel.NombreSucursal).ToString().TrimEnd(MyChar)</label>
                                            <label class="input col-lg-12">
                                                <input type="text" asp-for="SituacionActualEmpleadoViewModel.NombreSucursal" class="form-control" readonly />
                                                <span asp-validation-for="SituacionActualEmpleadoViewModel.NombreSucursal" class="text-danger"></span>
                                            </label>

                                        </section>

                                        <section class="col col-lg-4 divSituacionActual">

                                            <label class="input col-lg-12">@Html.DisplayNameFor(model => Model.SituacionActualEmpleadoViewModel.NombreDependencia).ToString().TrimEnd(MyChar)</label>
                                            <label class="input col-lg-12">
                                                <input type="text" asp-for="SituacionActualEmpleadoViewModel.NombreDependencia" class="form-control" readonly />
                                                <span asp-validation-for="SituacionActualEmpleadoViewModel.NombreDependencia" class="text-danger"></span>
                                            </label>

                                        </section>

                                        <section class="col col-lg-6 divSituacionActual">

                                            <label class="input col-lg-12">@Html.DisplayNameFor(model => Model.SituacionActualEmpleadoViewModel.NombreCargo).ToString().TrimEnd(MyChar)</label>
                                            <label class="input col-lg-12">
                                                <input type="text" asp-for="SituacionActualEmpleadoViewModel.NombreCargo" class="form-control" readonly />
                                                <span asp-validation-for="SituacionActualEmpleadoViewModel.NombreCargo" class="text-danger"></span>
                                            </label>

                                        </section>

                                        <section class="col col-lg-4 divSituacionActual">

                                            <label class="input col-lg-12">@Html.DisplayNameFor(model => Model.SituacionActualEmpleadoViewModel.Remuneracion).ToString().TrimEnd(MyChar)</label>
                                            <label class="input col-lg-12">
                                                <input type="text" asp-for="SituacionActualEmpleadoViewModel.Remuneracion" class="form-control" readonly />
                                                <span asp-validation-for="SituacionActualEmpleadoViewModel.Remuneracion" class="text-danger"></span>
                                            </label>

                                        </section>

                                    </div>

                                    <div class="row">&nbsp;</div>

                                    <div class="row divSituacionPropuesta">



                                        <section class="col col-lg-10 divSituacionPropuesta">
                                            <legend class="input col-lg-12">Situaci&oacute;n propuesta</legend>
                                        </section>

                                        <section class="col col-lg-12 divSituacionPropuesta">
                                            <div class="jarviswidget jarviswidget-color-darken" id="wid-id-100" data-widget-editbutton="false" style="padding:0px;margin:0px;">
                                                <header id="table">
                                                    <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                                                    <h2>Lista &iacute;ndice ocupacional modalidad partida</h2>
                                                </header>

                                                <table id="datatable_fixed_column" class="table table-striped table-bordered table-hover">

                                                    <thead>

                                                        <tr>
                                                            <th data-class="expand">
                                                                @Html.DisplayNameFor(model => Model.ListaIndicesOcupacionalesModalidadPartida.FirstOrDefault().IndiceOcupacionalViewModel.PartidaIndividual)
                                                            </th>

                                                            <th data-class="expand">
                                                                @Html.DisplayNameFor(model => Model.ListaIndicesOcupacionalesModalidadPartida.FirstOrDefault().IndiceOcupacionalViewModel.Sucursal)
                                                            </th>

                                                            <th data-class="expand">
                                                                @Html.DisplayNameFor(model => Model.ListaIndicesOcupacionalesModalidadPartida.FirstOrDefault().IndiceOcupacionalViewModel.Dependencia)
                                                            </th>

                                                            <th data-class="expand">
                                                                @Html.DisplayNameFor(model => Model.ListaIndicesOcupacionalesModalidadPartida.FirstOrDefault().IndiceOcupacionalViewModel.EscalaGrado)
                                                            </th>

                                                            <th data-class="expand">
                                                                @Html.DisplayNameFor(model => Model.ListaIndicesOcupacionalesModalidadPartida.FirstOrDefault().IndiceOcupacionalViewModel.Nivel)
                                                            </th>

                                                            <th data-class="expand">
                                                                @Html.DisplayNameFor(model => Model.ListaIndicesOcupacionalesModalidadPartida.FirstOrDefault().IndiceOcupacionalViewModel.Remuneracion)
                                                            </th>

                                                            <th data-class="expand">
                                                                @Html.DisplayNameFor(model => Model.ListaIndicesOcupacionalesModalidadPartida.FirstOrDefault().SalarioReal)
                                                            </th>

                                                            <th data-class="expand">
                                                                @Html.DisplayNameFor(model => Model.ListaIndicesOcupacionalesModalidadPartida.FirstOrDefault().IndiceOcupacionalViewModel.ModalidadPartida)
                                                            </th>


                                                        </tr>

                                                    </thead>
                                                    <tbody>

                                                        @foreach (var item in Model.ListaIndicesOcupacionalesModalidadPartida)
                            {

                                @if (item.IdIndiceOcupacionalModalidadPartida == idIndice)
    {

                            <tr>

                                <td>
                                    @Html.DisplayFor(modelItem => item.IndiceOcupacionalViewModel.PartidaIndividual)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.IndiceOcupacionalViewModel.Sucursal)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.IndiceOcupacionalViewModel.Dependencia)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.IndiceOcupacionalViewModel.EscalaGrado)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.IndiceOcupacionalViewModel.Nivel)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.IndiceOcupacionalViewModel.Remuneracion)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.SalarioReal)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.IndiceOcupacionalViewModel.ModalidadPartida)
                                </td>


                            </tr>
}
}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </section>

                                    </div>


                                    <div class="row">

                                        <section class="col col-lg-12">
                                            <legend>&nbsp;</legend>
                                        </section>

                                        <section class="col col-lg-4">

                                            <label class="input col-lg-12">@Html.DisplayNameFor(model => Model.Fecha)</label>
                                            <label class="input col-lg-12">
                                                <input asp-for="Fecha" type="text" class="datepicker" data-dateformat='yy-mm-dd' disabled />
                                                <span asp-validation-for="Fecha" class="text-danger"></span>
                                            </label>

                                        </section>

                                        <section class="col col-lg-4">

                                            <label class="input col-lg-12">@Html.DisplayNameFor(model => Model.FechaRige)</label>
                                            <label class="input col-lg-12">
                                                <input id="date_Fecha1" asp-for="FechaRige" type="datetime" class="datepicker" data-dateformat='yy-mm-dd' onchange="calcularDias()" disabled />
                                                <span asp-validation-for="FechaRige" class="text-danger"></span>
                                            </label>

                                        </section>

                                        <section class="col col-lg-4">

                                            <label class="input col-lg-12">@Html.DisplayNameFor(model => Model.FechaRigeHasta)</label>
                                            <label class="input col-lg-12">
                                                <input id="date_Fecha2" asp-for="FechaRigeHasta" type="text" class="datepicker" data-dateformat='yy-mm-dd' onchange="calcularDias()" disabled />
                                                <span asp-validation-for="FechaRigeHasta" class="text-danger"></span>
                                            </label>

                                        </section>

                                    </div>

                                    <div class="row">&nbsp;</div>

                                    <div class="row">

                                        <section class="col col-lg-4">

                                            <label class="input col-lg-12">@Html.DisplayNameFor(model => Model.NoDias)</label>
                                            <label class="input col-lg-12">
                                                <input id="txt_dias" min="0" readonly type="number" asp-for="NoDias" class="form-control" />
                                                <span asp-validation-for="NoDias" class="text-danger"></span>
                                            </label>

                                        </section>

                                        <section class="col col-lg-4">

                                            <label class="input col-lg-12">@Html.DisplayNameFor(model => Model.Numero)</label>
                                            <label class="input col-lg-12">
                                                <input id="txt_Numero" min="0" readonly type="number" asp-for="Numero" class="form-control" />
                                                <span asp-validation-for="Numero" class="text-danger"></span>
                                            </label>

                                        </section>

                                    </div>

                                    <div class="row">&nbsp;</div>
                                    <div class="row">&nbsp;</div>

                                </fieldset>

                                <script>

    function MostrarMovimientoPersonal() {
        var varItemsActual = document.getElementsByClassName("divSituacionActual").length;
        var varItemsPropuesta = document.getElementsByClassName("divSituacionPropuesta").length;

        for (var i = 0; i < varItemsActual; i++) {
            document.getElementsByClassName("divSituacionActual")[i].style.height = "auto";
            document.getElementsByClassName("divSituacionActual")[i].style.visibility = "visible";
        }

        for (var j = 0; j < varItemsPropuesta; j++) {
            document.getElementsByClassName("divSituacionPropuesta")[j].style.height = "auto";
            document.getElementsByClassName("divSituacionPropuesta")[j].style.visibility = "visible";
        }

    }

    function OcultarMovimientoPersonal() {

        var varItemsActual = document.getElementsByClassName("divSituacionActual").length;
        var varItemsPropuesta = document.getElementsByClassName("divSituacionPropuesta").length;

        for (var i = 0; i < varItemsActual; i++) {
            document.getElementsByClassName("divSituacionActual")[i].style.height = "0px";
            document.getElementsByClassName("divSituacionActual")[i].style.visibility = "hidden";
        }

        for (var j = 0; j < varItemsPropuesta; j++) {
            document.getElementsByClassName("divSituacionPropuesta")[j].style.height = "0px";
            document.getElementsByClassName("divSituacionPropuesta")[j].style.visibility = "hidden";
        }

    }




    function ValidarChkMovPersonal(element) {


        if (element.value == "True") {
            MostrarMovimientoPersonal();
        }

        else if (element.value == "False") {
            OcultarMovimientoPersonal();
        }

    }

    @if (Model.GeneraMovimientoPersonal == true) {
        <text>
            MostrarMovimientoPersonal();
        </text>
    } else if(Model.GeneraMovimientoPersonal == false) {
        <text>
            OcultarMovimientoPersonal();
        </text>
    }

                                </script>




                                <div style="float:right; padding:1%;">
                                    <footer style="background-color:transparent;border:none;">
                                        <input type="submit" asp-action="ListaMovimientos" asp-route-identificacion="@Model.DatosBasicosEmpleadoViewModel.Identificacion" class="btn btn-default" value="Regresar" onclick="espera()" />

                                    </footer>
                                </div>
                                <div class="row">&nbsp;</div>
                                <div class="row">&nbsp;</div>
                            </form>

                        </div>
                        <!-- end widget content -->
                    </div>
                    <!-- end widget div -->
                </div>
                <!-- end widget -->

            </article>

        </div>
        <!-- END ROW -->
    </section>


</div>
<!-- END MAIN CONTENT -->
@section Scripts {
    @*
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    *@
    <script src='~/js/datatables/init.js'></script>

    <script src="~/js/moment.min.js"></script>


    <!-- Estilos waitMe -->
    <link rel="stylesheet" href="~/lib/waitMe/waitMe.min.css" />
    <link rel="stylesheet" href="~/lib/waitMe/waitMe.css" />

    <!-- Scripts waitMe -->
    <script src='~/lib/waitMe/waitMe.min.js'></script>
    <script src='~/js/site.js'></script>

    <!-- Scripts comboBox -->

    <script src='~/lib/select2/dist/js/select2.min.js'></script>
    <script src='~/lib/select2/dist/js/i18n/es.js'></script>

    <script>

        function calcularDias() {


            var fecha1 = moment(document.getElementById("date_Fecha1").value);
            var fecha2 = moment(document.getElementById("date_Fecha2").value);

            var valNumDiasTxt = fecha2.diff(fecha1, 'days');

            if (valNumDiasTxt > 0) {
                document.getElementById("txt_dias").value = valNumDiasTxt;
                document.getElementById("txt_Numero").value = valNumDiasTxt;
            } else {
                document.getElementById("txt_dias").value = 0;
                document.getElementById("txt_Numero").value = 0;
            }



        }

    </script>

    <!-- Script llamada al waitme -->
    <script type="text/javascript">
        function espera() {

            mostrarLoadingPanel("content", "Cargando...");
        }

    </script>


}
